{% extends 'paragraph--cost.html.twig' %}

{% block title %}
  <h4>{{ 'Cost'|t }}:</h4>
{% endblock title %}

{% block costflat %}
  {{ '$@flat.'|t({'@flat': paragraph.field_cost_flat_fee.0.value}) }}
{% endblock costflat %}

{% block costmin %}
  {{ '$@min and up.'|t({'@min': paragraph.field_cost_minimum.0.value}) }} </br>
{% endblock costmin %}
