{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% block paragraph %}
  <div class="image">
    <div class="item-wrapper">
      {{ content.field_image }}
    </div>
    {% include '@theme/media-caption.twig' with {
      entity: paragraph.field_image.entity
    } only %}
  </div>
  <div class="text">
    <h3 class="fact-title">{{ content.field_title }}</h3>
    {{ content.field_description }}
  </div>
{% endblock paragraph %}
