{#
/**
 * @file
 * Theme override for Resource Section paragraph.
 *
 * @see paragraph.html.twig
 */
#}
{% extends 'paragraph.html.twig' %}
{% block content %}
  <h2>
    {{ 'Resources'|t }}
  </h2>
  {{ content }}
{% endblock content %}
