{#
/**
 * @file
 * Theme override for Data Story Reference section paragraph.
 *
 * @see paragraph.html.twig
 */
#}

{% extends 'paragraph.html.twig' %}
{% set classes = ['mb-60'] %}
{% block content %}
  <h2>
    {{ 'Data'|t }}
  </h2>
  {{ content }}
{% endblock content %}
