{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% include '@theme/form-details.twig' with {
      'summary': content.field_title,
      'content': content|without('field_title')
    } %}
  </div>
{% endblock paragraph %}
