{#
/**
 * @file
 * Theme override for Document-section paragraph.
 *
 * @see paragraph.html.twig
 */
#}
<h3>
  {{ 'Documents'|t }}
</h3>
{% if paragraph.field_title is not null %}
  <h4 class="title-4-resource-collection">
    {{ paragraph.field_title.value }}
  </h4>
{% endif %}
{{ content|without('field_title') }}
