{% embed 'paragraph.html.twig' with { classes: ['sfgov-power-bi-chart'] } %}
  {% block content %}
    <div class="sfgov-power-bi-chart-container">
      {{ content }}
    </div>
  {% endblock %}
{% endembed %}
