{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_is_reversed.value == '1' ? 'is-reversed'
  ]
%}

{% set spotlight_img_url =
  paragraph.get('field_spotlight_img').entity ?
  file_url(paragraph.get('field_spotlight_img').entity.field_media_image.entity.fileuri) : null
%}
{%
  set spotlight_img_alt =
  paragraph.get('field_spotlight_img').entity ?
  paragraph.get('field_spotlight_img').entity.field_media_image.alt : 'image'
%}
{% set spotlight_img_style = spotlight_img_url ? 'background-image: url(' ~ spotlight_img_url ~ ');background-size: cover;' : '' %}

{% set hasTitle = content.field_title['#items'] is not empty %}
{% set hasImage = content.field_spotlight_img['#items'] is not empty %}
{% set hasDescription = content.field_description['#items'] is not empty %}
{% set hasButton = content.field_spotlight_button['#items'] is not empty %}

{% if hasTitle or hasImage or hasDescription or hasButton %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      <div class="group-left"
          style="background-image: url('{{ spotlight_img_url }}')"
          aria-label="{{ spotlight_img_alt }}">
      </div>
      <div class="group-right">
        {{ content | without('field_spotlight_img') }}
      </div>
    </div>
  </div>
{% endif %}
