{# Campaign theme accent color. #}
{% set background_color = group_right_background|default('none') %}

{% embed 'paragraph.html.twig' with { classes: ['sfgov-accordion'] } %}
  {% block content %}
    {% if content.field_title|render %}
      <div class="sfgov-accordion-group-left">
        <h3 class="sfgov-accordion-title">{{- content.field_title -}}</h3>
      </div>
    {% endif %}

    {% if content.field_content|render %}
      <div class="sfgov-accordion-group-left">
        <div class="sfgov-accordion-content">
          {{ content.field_content }}
        </div>
      </div>
    {% endif %}

    {% if content.field_description|render %}
      <div class="sfgov-accordion-group-right">
        <div class="sfgov-accordion-description" style="background-color: {{ background_color }};">
          {{ content.field_description }}
        </div>
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
