{#
/**
 * @file
 * Theme override for Resource Subsection paragraph.
 *
 * @see paragraph.html.twig
 */
#}
{% if paragraph.field_title is not null %}
  <h4 class="title-4">
    {{ paragraph.field_title.value }}
  </h4>
{% endif %}
{{ content|without('field_title') }}
