{% embed 'paragraph.html.twig' with { classes: ['sfgov-campaign'] } %}
  {% block content %}
    <div class="sfgov-campaign-main">
      {% if content.field_media|render %}
        <div class="sfgov-campaign-image">
          {{ content.field_media }}
        </div>
      {% endif %}

      <div class="sfgov-campaign-content">
        <p class="sfgov-campaign-label">{{ 'Latest'|t }}</p>

        {% if content.field_title|render %}
          <h1 class="sfgov-campaign-title">{{ content.field_title }}</h1>
        {% endif %}

        {% if content.field_link|render %}
          <div class="sfgov-campaign-link">{{ content.field_link }}</div>
        {% endif %}
      </div>
    </div>

    {% if content.field_media|render %}
      <div class="sfgov-campaign-caption">
        {% include '@theme/media-caption.twig' with {
          entity: paragraph.field_media.entity,
          align: 'right',
        } only %}
      </div>
    {% endif %}
  {% endblock content %}
{% endembed %}
