{#
/**
 * @file
 * Theme override for Document-section paragraph.
 *
 * @see paragraph.html.twig
 */
#}
{% if paragraph.field_title is not null %}
  <h4 class="title-4-resource-collection">
    {{ paragraph.field_title.value }}
  </h4>
{% endif %}
{% include 'paragraph--document--resource-collection-multiple.html.twig' %}
