{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      <h2>{{ content.field_title }}</h2>
      {{ content.field_description }}

      {% include '@theme/video-embed.twig' with {
        "video": content.field_video,
        "captions": captions,
        "captions_link": link_transcript
      } %}
  </div>
{% endblock paragraph %}
