{#
/**
 * @file
 * Theme override for Data Story Reference section paragraph.
 *
 * @see paragraph.html.twig
 */
#}

{% extends 'paragraph.html.twig' %}
{% block content %}
  <h3>
    {{ 'Data'|t }}
  </h3>
  {{ content }}
{% endblock content %}
