<div class="image-with-text-container">
  <div class="image-with-text">
    <div class="image">
      {{ content.field_image }}
    </div>
    <div class="text">
      <h5 class="title">
        {{ content.field_title }}
      </h5>
      <div class="description">
        {{ content.field_description }}
      </div>
    </div>
  </div>
</div>
