{% extends 'paragraph--cost.html.twig' %}

{% block title %}
  <h4>{{ 'Cost' | t }}:</h4>
{% endblock title %}

{% block costflat %}
  {{ content.field_cost_flat_fee }}.
{% endblock costflat %}

{% block costmin %}
  {{ content.field_cost_minimum }} {{ ' and up'|t }}.
{% endblock costmin %}