{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      {{ content }}
    </div>
  </div>
{% endblock paragraph %}
