{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
    {% block content %}
      <div class="sfgov-container-item">
        <a class="sfgov-resource-card" href="{{ content.field_link.0['#url'].getUri() }}">
          <h2 class="title">{{ content.field_title }}</h2>
          <p class="description">{{ content.field_description | raw}}</p>
        </a>
      </div>
    {% endblock %}
{% endblock paragraph %}
