@import "01-fonts.scss";
@import "../../00-protons/01-grid";

// we can place the styles in straight in the folder where the component belongs.

@mixin sfgov-h1 {
  @include rubik;
  margin: 0;
  font-weight: 300;
}

h1,h2,h3,summary {
  @include rubik;
}


h1 {
  font-size: 3rem;
  line-height: 3.9rem;
  @include sfgov-h1;
  @include media($medium-screen + 1) {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}

h2 {
  @include rubik;
  font-weight: bold;
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}
