/**
 * @file
 * TOC responsive styling
 */

/* If [device width] is greater than or equal to [specified #], then display 'desktop' */
@media only screen and (min-width: 768px) {
  .toc-mobile {
    display: none;
  }
  .toc-desktop {
    display: block;
  }
}

/* If [device width] is less than or equal to [specified #], then display 'mobile' */
@media only screen and (max-width: 767px) {
  .toc-mobile {
    display: block;
  }
  .toc-desktop {
    display: none;
  }
}
