// Mayor
.sfgov-title--elected-officials {
  background: $c-blue-button-hover;
  color: $c-white;

  .__person {
    padding-left: 20px;

    @include media($medium-screen) {
      width: 66%;
    }
  }

  .person-photo {
    margin-right: 28px;
    vertical-align: top;
  }

  .__people-title {
    @include fs-h1;
    color: white;
    margin-bottom: 34px;

    @include media($medium-screen) {
      margin-bottom: 50px;
    }
  }

  .person-bio {
    width: calc(100% - 194px);

    @include media($medium-screen) {
      vertical-align: top;
      width: calc(100% - 194px);
    }

    .person-name a {
      @include link-colors($c-white, $c-white);
    }
  }

  .person-name {
    @include fs-mayor-name-small;

    @include media($medium-screen) {
      @include fs-campaign-title;
    }
  }

  .person-title {
    @include fs-mayor-title-large;
    color: $c-blue-grey;
  }
}
