/* purgecss start ignore */
// Elected Officers.
.path-frontpage {
  .sfgov-title--elected-officers,
  .sfgov-title--city-officials {
    @include contain-1090;
    margin-top: 40px;
    margin-bottom: 40px;
    &.paragraph--type--profile-group {
      .inner {
        background: $c-blue-1;
        border-radius: 8px;
        padding: 20px;

        @include media($medium-screen) {
          padding: 40px;
          padding-bottom: 20px;
        }
      }
    }

    .sfgov-people--content {
      padding-top: 0;
      .__person-2 {
        .field__item {
          vertical-align: top;
          margin: 0 auto 20px;
          width: auto;
          display: block;

          @include media($medium-screen) {
            margin-bottom: 40px;
          }
        }

        @include media($mobile-screen) {
          .field__item {
            display: inline-block;
            width: 49%;
          }
        }

        @include media($medium-screen) {
          .field__item {
            display: inline-block;
            width: 32%;
          }
        }
      }
    }

    .title {
      margin-bottom: 40px;
    }

    .person-title {
      opacity: 0.7;
    }

    .person-subtitle {
      opacity: 0.7;
    }
  }

  .sfgov-title--city-officials {
    padding-top: 0;
  }

  .paragraph--type--profile-group {
    .person-card {
      display: block;
      margin-bottom: 20px;
      @include media($medium-screen) {
        display: flex;
        align-items: stretch;
        width: 33%;
        margin-bottom: 40px;
      }
    }

    .person-container {
      min-width: auto;
    }

    .sfgov-people--content {
      padding-top: 0;
      @include media($medium-screen) {
        display: flex;
      }
    }
  }
}
/* purgecss end ignore */
