// @todo. Much of this should be generalized to all/most paragraphs.
// See also _node-topic.scss.
.sfgov-services.paragraph {
  @include sfgov-container--full-override;
  padding-top: 60px;

  @include media($medium-screen) {
    padding-top: 50px;
  }

  .sfgov-header-section {
    @include fs-h1;
    margin-bottom: 19px;
  }

  .sfgov-cta-button__container {
    @include contain-1090-table;
    padding-left: 0;

    a {
      @include button;
    }
  }

  .sfgov-container {
   padding-left: 0;
    padding-right: 0;
  }
}

.sfgov-services {
  > .title {
    @include fs-title-1;
    margin-bottom: 40px;
  }
  .sfgov-dept-services-section-title {
    @include fs-big-description;
  }
  .sfgov-services-section {
    margin-bottom: 40px;
    @include media($medium-screen) {
      margin-bottom: 60px;
    }
  }
  .sfgov-container-three-column {
    .sfgov-container-item {
      a {
        max-width: 100%;
      }
    }
  }
}

.sfgov-services.all-top-level-topics {
  .sfgov-container-item {
    margin-bottom: 0;
    padding: 20px 0;

    @include media($medium-screen) {
      padding: 30px 0;
    }

    > div {
      @include media($medium-screen) {
        margin-right: 60px;
      }
    }

    &:nth-child(3n+3) {
      @include media($medium-screen) {
        > div {
          margin-right: 0;
        }
      }
    }

    a {
      @include fs-title-5;
      text-decoration: none;
      margin: 0;

      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin: 0;
      color: $c-blue-4;
    }
  }
}

.path-frontpage .paragraph--title--services {
  padding-bottom: 40px;
}
