.sfds-call-to-action {
  h3 {
    @include rubik;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 500;
    color: #1C3E57;
    font-size: 2rem;
  }
  a {
    display: inline-block;
    background: #4F66EE;
    border-radius: 8px;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
  }
}