.paragraph--type--facts {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .container {
    @include contain-1280;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .__facts.field__items {
    display: flex;
    flex-direction: row;
    .field__item {
      margin-left: 1rem;
      margin-right: 1rem;
      flex: 1;
    }
  }
}
