.paragraph--type--campaign-spotlight {
  .container {
    @include contain-1280;
    display: flex;
    align-items: center;
    .group-left {
      flex: 70%;
    }
    .group-right {
      padding: 0 3rem;
    }
  }

  .__title {
    @include fs-title-3;
    color: white;
  }
  .__description {
    color: white;
  }
  .__media-image {
    img {
      width: 100%;
      display: block;
    }
  }
}

.paragraph--type--campaign-spotlight.is-reversed {
  .container {
    flex-direction: row-reverse;
  }
}
