// @todo The news paragraph and the news section on the department news page
// should be refactored to be identical.
.paragraph-child--events {
  padding-bottom: 0;
}

.paragraph--type--events {
  .sfds-layout-container .sfds-responsive-container {
    @include sfgov-responsive-container-override;
  }

  .field h3 {
    @include contain-1210;
    margin-bottom: 40px;
  }

  .views-events--rows {
    @include contain-1090;
    margin-bottom: 40px;
    padding: 0;

    @include media($medium-screen) {
      // margin-bottom: 56px;
    }
  }

  .more-link a {
    @include button;
  }
}

.sfgov-events.paragraph {
  padding-top: 50px;
  padding-bottom: 75px;
  background-color: #f8f8f8;

  > .sfgov-header-section {
    display: none;
  }

  .view-events-block-container {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .paragraph--type--button {
    @include contain-1090;
  }
}
