// TODO: use mixins for layout with 2-3 columns
$mq-narrow: 48.063rem;
$rhythm: 0.5882rem;

.paragraph--type--campaign-resource-section {
  margin-bottom: 57px;
  > .title {
    @include fs-big-description;
    margin-bottom: 13px;
  }
}
