/* purgecss start ignore */
.sfgov-resources {
  > .title {
    @include fs-title-1;
    margin-bottom: 40px;
  }

  .paragraph--type--other-info-card {
    margin-bottom: 60px;
    width: 100%;
    .__title {
      @include fs-title-4;
      padding: 0;
      margin: 0 0 1rem;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      @include media-max($medium-screen) {
        margin: 0 0 1rem;
        font-weight: 400;
      }
      @include media-max($mobile-screen) {
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
      }
    }
    details {
      @include media-max($mobile-screen) {
        margin: 15px 0 5px;
      }
    }
    @include media-max($medium-screen) {
      margin-bottom: 0;
    }


  }
}

.sfgov-resources,
.page-node-type-campaign {
  .sfgov-container-two-column,
  .sfgov-container-three-column {
    @include media-max($mobile-screen) {
      margin-top: -15px;
    }
    a {
      max-width: 100%;
      .field--type-text-long {
        color: $c-slate;
      }
    }
  }
}

.document-file--container.empty-doc {
  .document {
    color: $c-slate;
    line-height: 24px;
  }
}
/* purgecss end ignore */
