// Board of Supervisors.
.sfgov-title--board-of-supervisors {
  position: relative;
  @include contain-1090;
  margin-top: 40px;
  margin-bottom: 40px;

  .inner {
    position: relative;
    background: $c-blue-1;
    border-radius: 8px;
    padding: 20px;

    @include media($medium-screen) {
      padding: 40px;
    }
  }

  .sfgov-people--content {
    @include media($narrow-screen) {
      padding-bottom: 120px;
    }

    @include media($wide-screen) {
      padding-bottom: 100px;
    }

    .__person-2 {
      .field__item {
        vertical-align: top;
        margin: 0 auto 20px;
        width: auto;
        display: block;

        @include media($medium-screen) {
          margin-bottom: 40px;
        }
      }

      @include media($mobile-screen) {
        .field__item {
          display: inline-block;
          width: 49%;
        }
      }

      @include media($medium-screen) {
        .field__item {
          display: inline-block;
          width: 32%;
        }
      }
    }
  }

  .__people-title {
    margin-bottom: 40px;
  }

  .person-title {
    opacity: .7;
  }

  .__description {
    bottom: 40px;
  }
}
