
.paragraph--type--list {
  .paragraph--type--list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}

.sfgov-drupal-two-columns-list {
  .field__items {
    @include media($medium-screen) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.path-frontpage {
  .field--type-link.__link {
    a:visited {
      color: $color-white;
    }
  }
}

.parent--bundle--page {
  .sfgov-container {
    padding: 0;
  }
  h3 {
    margin-top: 0;
    color: $color-blue-darker;
  }
  .__text {
    margin-bottom: 30px;
    h3 {
      @include source-sans-pro;
      color: $color-gray-dark;
      font-size: 20px;
      line-height: 26px;
      @include media($medium-screen) {
        margin-bottom: 18px;
      }
    }
    p {
      color: $color-gray;
      margin: 10px 0;
    }
  }
  &.paragraph--type--in-person-location .eck-entity {
    .__title {
      @include source-sans-pro;
      color: $color-gray-dark;
      font-size: 20px;
      line-height: 26px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .__address {
      margin-bottom: 8px;
    }
    .__operating-hours {
      color: $color-gray;
    }
  }
}

.path-frontpage {
  .sfgov-services {
    .sfgov-cta-button__container {
      a {
        margin-left: 15px;
      }
    }
  }
}

.paragraph--type--cost {
  .__cost-flat-fee, .__text {
      color: $color-gray;
  }
}

.paragraph--type--thing-to-know p {
  color: $color-gray;
}

.sfgov-people {
  margin: 0 20px;
  > * {
    border-bottom: 1px solid $color-gray-light;
    &:last-of-type {
      border-bottom: none;
    }
  }
}