.paragraph-child--campaign {
  @include contain-1090;
}

.sfgov-campaign-main {
  background: $c-yellow-3;
  border-radius: 10px;
  overflow: hidden;

  @include media($narrow-screen) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.sfgov-campaign-image {
  @include media($narrow-screen) {
    flex: 0 0 50%;
    overflow: hidden;
    position: relative;
  }

  img {
    display: block;
    width: 100%;

    @include media($narrow-screen) {
      position: absolute;
      width: auto;
      height: 100%;
      object-fit: cover;
      top: 50%;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
      max-width: unset;
    }
  }
}

.sfgov-campaign-content {
  padding: 20px;

  @include media($narrow-screen) {
    flex: 0 0 50%;
    height: 100%;
    padding: 40px 60px 40px 40px;
    vertical-align: middle;
  }
}

.sfgov-campaign-label {
  margin: 0 0 15px;
}

.sfgov-campaign-title {
  @include fs-title-3;
  margin-bottom: 28px;
  letter-spacing: 0;

  @include media($narrow-screen) {
    @include fs-title-2;
    margin-bottom: 40px;
  }
}

.sfgov-campaign-link {
  margin-bottom: 20px;

  a {
    @include button-clear;
    border: 0;
  }
}
