.paragraph-timeline {
  background: none;
  margin: 20px 0;
}

.timeline-container {
  display: block;
  margin: 30px 0;
  width: 100%;
}

.timeline-container .timeline-item {
  display: inline-block;
  vertical-align: top;
}

.timeline-container.items-1 .timeline-item {
  width: 100%;
}

.timeline-container.items-2 .timeline-item {
  width: 49%;
}

.timeline-container.items-3 .timeline-item {
  width: 32%;
}

.timeline-container.items-4 .timeline-item {
  width: 24%;
}

.timeline-container.items-5 .timeline-item {
  width: 19%;
}

.timeline-item .heading {
  font-weight: 500;
}

.separator {
  display: block;
  height: 20px;
  margin: 20px 0 25px 0;
  position: relative;
}

.separator .hline {
  border-bottom: 2px solid $c-slate;
  position: absolute;
  left: 0;
  height: 11px;
  width: 100%;
}

.timeline-item:last-child .hline {
  display: none;
}

.separator .circle-dot {
  height: 20px;
  width: 20px;
  background-color: $c-slate;
  border-radius: 50%;
  display: inline-block;
}

.timeline-item .description {
  color: #6b8192;
  padding-right: 10px;
  //color: $c-grey-4;
}

.timeline-link a {
  @include button;
}
