.paragraph--type--facts {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .container {
    @include contain-1280;
  }

  h2 {
    margin: 0 2rem 2rem 2rem;
  }

  .__facts.field__items {
    display: flex;
    flex-direction: column;
    @include media($medium-screen) {
      flex-direction: row;
    }
    .field__item {
      flex: 1;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
    }
  }
}
