.sfgov-resources {
  > .title {
    @include fs-title-1;
    margin-bottom: 40px;
  }
}

.sfgov-resources,
.page-node-type-campaign {
  .sfgov-container-two-column,
  .sfgov-container-three-column {
    a {
      max-width: 100%;
      .field--type-text-long {
        color: $c-slate;
      }
    }
  }
}
