.paragraph--type--people {
  padding-bottom: 60px;
  padding-top: 60px;

  .__people-title {
    @include fs-h1-small;
    margin-bottom: 50px;

    @include media($medium-screen) {
      @include fs-title-3;
    }
  }

  .__person.person-item-multiple {
    @include contain-1090;
    @include clearfix;
    margin: 0 auto;

    .person-container {
      display: block;
      margin: 0 auto 35px;
      width: 100%;

      @include media($mobile-screen) {
        display: inline-block;
        width: 48%;
      }

      @include media($medium-screen) {
        width: 32%;
      }
    }
  }

  .person-name {
    @include fs-body-bold;

    a {
      @include link-colors($c-slate);
    }
  }

  .person-photo {
    display: inline-block;
    height: 80px;
    margin-right: 18px;
    width: 80px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .person-bio {
    display: inline-block;
    text-align: left;
    width: calc(100% - 122px);
  }

  .person-title {
    @include fs-body-bold;
  }

  .person-subtitle {
    @include fs-body-short;
  }

  .__description {
    @include sidebar('p');
    background: $c-white;

    @include media($wide-screen) {
      width: calc(50% - 160px);
    }

    p {
      color: $c-slate;
      margin: 0;
      font-size: 17px;
      line-height: 24px;
      font-weight: $fw-medium;
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      @include button;
      display: inline-block;
      font-style: normal;
      margin-top: 20px;
    }
  }
}
