// @todo. Much of this should be generalized to all/most paragraphs.
// See also _node-topic.scss.
.sfgov-services.paragraph {
  @include sfgov-container--full-override;
  background: $c-blue-1;
  padding-top: 60px;

  @include media($medium-screen) {
    padding-top: 50px;
  }

  .sfgov-header-section {
    @include contain-1090;
    @include fs-h1;
    margin-bottom: 19px;

    @include media($medium-screen) {
      margin-bottom: 70px;
    }
  }

  .sfgov-cta-button__container {
    @include contain-1090-table;
    padding-left: 0;

    a {
      @include button;
    }
  }

  .sfgov-container {
    @include contain-1090;
  }
}

.sfgov-services {
  > .title {
    @include fs-title-1;
    margin-bottom: 40px;
  }
  .sfgov-dept-services-section-title {
    @include fs-big-description;
  }
}