.step-container {
  margin: -17px 0 80px 41px;
  width: calc(100% - 82px);
  h3 {
    @include fs-title-4;
    margin-bottom: 20px;
  }
  p {
    margin: 0 0 10px 0;
  }
  .step-left {
    display: inline-block;
    vertical-align: top;
    width: 39%;
    padding-right: 60px;
  }
  .step-right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
  }
  .step-cost,
  .step-time {
    @include fs-body-short;
    * {
      display: inline;
    }
    h4 {
      @include fs-body-bold;
      display: inline;
    }
    .__text, p {
      margin: 0;
      display: inline;
    }
  }
  .step-optional {
    @include fs-small-text;
    display: inline-block;;
    background: $c-yellow-2;
    padding: 5px 10px;
    margin-bottom: 10px;
    &.hidden {
      display: none;
    }
  }
  .step-description {
    @include fs-body-long;
  }
}
