// Mayor
.sfgov-title--elected-officials {
  background: $c-blue-button-hover;
  color: $c-white;

  .__people-title {
    @include contain-1210;
  }

  .sfgov-people--content {
    position: relative;
  }

  .person-container {
    margin-bottom: 20px;

    @include media($medium-screen) {
      margin-bottom: 40px;
    }
  }

  .__person {
    @include contain-1090;
  }

  .__description {
    @include media($narrow-screen) {
      top: 0;
    }
  }

  .person-photo {
    display: inline-block;
    width: 140px;
    height: 140px;
    margin-right: 28px;
    vertical-align: top;

    img {
      max-width: 1px;
      max-height: 1px;
      position: relative;
      left: -999px;
    }
  }

  .__people-title {
    @include fs-h1;
    color: white;
    margin-bottom: 34px;

    @include media($medium-screen) {
      margin-bottom: 50px;
    }
  }

  .person-bio {
    display: inline-block;
    text-align: left;
    width: calc(100% - 194px);

    @include media($medium-screen) {
      vertical-align: top;
      width: calc(100% - 194px);
    }

    .person-name a {
      @include link-colors($c-white, $c-white);
    }
  }

  .person-name {
    @include fs-mayor-name-small;
    margin-bottom: 9px;

    @include media($medium-screen) {
      @include fs-campaign-title;
      margin-bottom: 9px;
    }
  }

  .person-title {
    @include fs-mayor-title-large;
    color: $c-blue-grey;
    margin-bottom: 12px;

    @include media($medium-screen) {
      margin-bottom: 12px;
    }
  }

  .person-subtitle {

    @include media($narrow-screen) {
      max-width: 373px;
    }
  }
}
