// @todo combine with _new-website.scss
.paragraph--type--additional-info {
  background: $c-blue-grey;
  border-radius: 8px;
  margin-bottom: 80px;
  padding: 30px 40px;

  @include media($medium-screen) {
    margin-left: 60px;
  }

  .__additional-info-heading {
    @include fs-h3;

    @include media($medium-screen) {
      @include fs-campaign-title;
    }
  }

  p:last-child {
    @include fs-new-website-text;
    color: $c-text;
  }

  a {
    @include link-colors($c-blue-button);
  }
}
