.paragraph--type--people {
  padding-bottom: 60px;
  padding-top: 60px;

  .__people-title {
    @include fs-h1-small;
    @include contain-1090;
    margin-bottom: 50px;

    @include media($medium-screen) {
      @include fs-campaign-title;
    }
  }

  .__person {
    @include contain-1090;
    @include clearfix;
    margin: 0 auto;

    .person-container {
      display: block;
      margin: 0 auto 35px;

      @include media($mobile-screen) {
        display: inline-block;
        width: 48%;
      }

      @include media($medium-screen) {
        width: 32%;
      }
    }
  }

  .person-name {
    @include fs-h2;

    a {
      @include link-colors($c-text);
    }
  }

  .person-photo {
    display: inline-block;
    height: 70px;
    margin-right: 22px;
    width: 70px;
  }

  .person-bio {
    display: inline-block;
    text-align: left;
    width: calc(100% - 122px);
  }

  .person-title {
    @include fs-h2;
  }

  .person-subtitle {
    @include fs-body-2;
  }

  .__description {
    @include contain-1090;
    background: $c-white;
    border-radius: 8px;
    padding: 30px;

    @include media($medium-screen) {
      padding: 30px;
    }

    p {
      @include fs-pull-large;
      color: $c-text;
      font-style: italic;
      margin: 0 0 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      @include button;
      display: inline-block;
      font-style: normal;
    }
  }
}

// Mayor
.sfgov-title--elected-officials {
  background: $c-blue-button-hover;
  color: $c-white;

  .__person .person-container {
    @include media($medium-screen) {
      width: 66%;
    }
  }

  .person-photo {
    vertical-align: top;
  }

  .__people-title {
    @include fs-h1;
    color: white;
    margin-bottom: 34px;

    @include media($medium-screen) {
      margin-bottom: 50px;
    }
  }

  .person-bio {

    @include media($medium-screen) {
      vertical-align: top;
      width: calc(100% - 194px);
    }

    .person-name a {
      @include link-colors($c-white, $c-white);
    }
  }

  .person-name {
    @include fs-mayor-name-small;

    @include media($medium-screen) {
      @include fs-campaign-title;
    }
  }

  .person-title {
    @include fs-mayor-title-large;
    color: $c-blue-grey;
  }
}

// Board of Supervisors.
.sfgov-title--board-of-supervisors {
  background: $c-blue-button-hover;
  color: $c-white;

  .person-name a {
    @include link-colors($c-white, $c-white);
  }
}

// Elected Officers.
.sfgov-title--elected-officers {
  background: $c-blue-pale;
  margin-bottom: 50px;

  .person-title {
    opacity: .7;
  }

  .person-subtitle {
    opacity: .7;
  }
}
