.step-container {
  margin: -17px 0 80px 41px;
  width: calc(100% - 82px);
  h3 {
    @include fs-title-4;
  }
  p {
    margin: 0 0 10px 0;
  }
  .step-left {
    display: inline-block;
    vertical-align: top;
    width: 39%;
    padding-right: 60px;
  }
  .step-right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
  }
  .step-description {
    @include fs-body-long;
  }
}