.paragraph-child--news {
  padding-bottom: 0;

  .sfgov-container {
    padding: 0;
  }
}

.paragraph--type--news {
  .sfds-layout-container .sfds-responsive-container {
    @include sfgov-responsive-container-override;
  }

  .field h2 {
    @include contain-1210;
    margin-bottom: 40px;
  }

  .views-news--rows {
    @include contain-1090;
    margin-bottom: 40px;
    padding: 0;

    @include media($medium-screen) {
      margin-bottom: 56px;
    }
  }

  .more-link {
    @include contain-1090;
  }
}
