/* purgecss start ignore */
.paragraph--type--document {
  .document {
    margin-bottom: 1rem;
  }

  .document__item {
    margin-bottom: 1rem;
    display: block;
    padding-left: 2.5rem;
    margin-left: -2.5rem;
  }

  [data-contact="document__item"] {
    @include background-image('document.svg');
    min-height: 26px;
    background-position: left center;
  }

  .link-date {
    display: inline-block;
    width: 280px;
    margin: 0 50px 0 0;
  }
  .link,
  .no-link {
    display: block;
    text-decoration: underline;
    a {
      opacity: 1;
    }
  }
  .no-link {
    opacity: 0.65;
    overflow-wrap: break-word;
    text-decoration: none;
  }
  .publish-date {
    clear: both;
    opacity: 0.65;
  }
  .description {
    display: inline-block;
    width: 520px;
    vertical-align: top;
    p {
      margin-block: 0;
      & + p {
        margin-block-start: 1rem;
      }
    }
  }
  .field__items {
    margin-bottom: 100px;

    .field__item {
      margin-bottom: 63px;
    }
  }
}
/* purgecss end ignore */
