.paragraph-child--campaign {
  background: $c-yellow;
}

.paragraph--type--campaign {
  @include contain-1280;
  background: $c-yellow;

  .__media {
    margin-bottom: 39px;

    @include media($medium-screen) {
      margin-bottom: 0;
    }
  }

  .__title {
    @include fs-campaign-title;
    padding: 0 38px 39px;
  }

  .__link {
    padding: 0 38px 39px;

    a {
      @include button-clear;
      border: 0;
    }
  }
}
