.paragraph--type--accordion {
  @include contain-1150;
  @include clearfix;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  .group-left {
    @include columns-780(left);
  }
  .group-right {
    @include columns-350(right);
    position: relative;
    padding: 1rem 2.5rem;
    margin-top: 3rem;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: $c-slate;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background-color: $c-grey-1;
      height: 100%;
      width: calc(100vw - 1rem);
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 8px 0px 0px 8px;
      @include media($medium-screen) {
        width: 50vw;
      }
    }
  }
}
