
// .paragraph--type--list {
//   .paragraph--type--list-item {
//     padding-top: 15px;
//     padding-bottom: 15px;
//     padding-left: 20px;
//   }
// }

// .sfgov-drupal-two-columns-list {
//   .field__items {
//     @include media($medium-screen) {
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }

// .path-frontpage {
//   .field--type-link.__link {
//     a:visited {
//       color: $color-white;
//     }
//   }
// }

// .parent--bundle--page {
//   .sfgov-container {
//     padding: 0;
//   }
//   h3 {
//     margin-top: 0;
//     color: $color-blue-darker;
//   }
//   .__text {
//     margin-bottom: 30px;
//     h3 {
//       @include source-sans-pro;
//       color: $color-gray-dark;
//       font-size: 20px;
//       line-height: 26px;
//       @include media($medium-screen) {
//         margin-bottom: 18px;
//       }
//     }
//     p {
//       color: $color-gray;
//       margin: 10px 0;
//     }
//   }
//   &.paragraph--type--in-person-location .eck-entity {
//     .__title {
//       @include source-sans-pro;
//       color: $color-gray-dark;
//       font-size: 20px;
//       line-height: 26px;
//       font-weight: bold;
//       margin-bottom: 8px;
//     }
//     .__address {
//       margin-bottom: 8px;
//     }
//     .__operating-hours {
//       color: $color-gray;
//     }
//   }
// }

// .path-frontpage {
//   .sfgov-services {
//     .sfgov-cta-button__container {
//       a {
//         margin-left: 15px;
//       }
//     }
//   }
// }

// .paragraph--type--cost {
//   .__cost-flat-fee, .__text {
//       color: $color-gray;
//   }
// }

// .paragraph--type--thing-to-know p {
//   color: $color-gray;
// }

// .sfgov-people {
//   margin: 0 20px;
//   > * {
//     border-bottom: 1px solid $color-gray-light;
//     &:last-of-type {
//       border-bottom: none;
//     }
//   }
// }

// .path-frontpage .block-views-exposed-filter-blocksearch-page-1 {
//   position: relative;
// }

// #sfgov-top-search-suggestions-container {
//   clear: both;
//   position: absolute;
//   background: $color-white;
//   width: 100%;
//   padding: 0;
//   box-shadow: #aaa 0px 5px 5px 2px;
//   border-width: 0 1px 1px 1px;
//   border-color: #999;
//   border-style: solid;
//   top: 45px;
//   > h4 {
//     margin: 10px 25px;
//     padding: 0;
//     font-family: inherit;
//     font-size: 1.7rem;
//   }
// }

// .sfgov-top-search-suggestion {
//   display: none;
//   float: none !important;
//   a {
//     text-decoration: none;
//     display: block;
//     padding: 10px 25px;
//     color: $color-gray;
//     // @include open-sans;
//     &:hover {
//       background-color: $color-aqua-lightest;
//     }
//   }
// }

// .path-frontpage #views-exposed-form-search-page-1 .js-form-item-keyword {
//   width: 100%;
// }

// .path-frontpage #views-exposed-form-search-page-1 #edit-submit-search {
//   width: 100%;
// }

.sfgov-dept-section {
  padding-top: 20px;
  h3 {
    @include rubik;
    font-size: 3.2rem;
    font-weight: 500;
    margin: 0 0 20px 0;
    padding: 0;
  }
  h4 {
    @include rubik;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 0;
    margin: 0 0 20px 0;
  }
  h5 {
    @include rubik;
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    margin: 0 0 20px 0;
  }
}

.sfgov-dept-featured-items-container {
  display: table;
  margin-bottom: 20px;
  width: 103%;
  border-collapse: separate;
  border-spacing: 20px 0;
  margin-left: -20px;
  .sfgov-dept-featured-items {
    display: table-row;
    .sfgov-featured-item {
      display: table-cell;
      max-width: 0;
    }
  }
  @include less-than('not-big') {
    display: block;
    margin: 0;
    width: auto;
    border-collapse: none;
    border-spacing: 0;
    .sfgov-dept-featured-items {
      display: block;
      .sfgov-featured-item {
        display: block;
        margin-bottom: 20px;
        max-width: initial;
      }
    }
  }
}

.sfgov-dept-in-this-page {
  display: none;
  @include rubik;
  margin-top: 40px;
  margin-bottom: 20px;
  .sfgov-dept-in-this-page-label {
    display: inline-block;
    font-weight: 500;
  }
  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 40px;
      a {
        @include rubik;
      }
    }
  }
  @include less-than('not-big') {
    .sfgov-dept-in-this-page-label {
      display: block;
    }
    ul {
      columns: 2;
      display: block;
      li {
        display: block;
        padding: 25px 0 0 0;
      }
    }
  }
}

.sfgov-dept-services-list {
  background: #EDF4F7;
  .sfgov-services-container {
    .sfgov-services-section {
      .sfgov-services-transactions-container {
        display: table;
        table-layout: fixed;
        // margin-bottom: 20px;
        width: 103%;
        border-collapse: separate;
        border-spacing: 20px;
        margin-left: -20px;
        margin-top: -20px;
        .sfgov-services-transactions {
          display: table-row;
        }
      }
      @include less-than('not-big') {
        .sfgov-services-transactions-container {
          display: block;
          width: auto;
          border-collapse: none;
          border-spacing: 0;
          margin: 0;
        }
        .sfgov-service-card {
          display: block;
          max-width: initial;
          margin-bottom: 20px;
          &.empty {
            display: none;
          }
        }
      }
    }
  }
}



.sfgov-dept-spotlight {
  background: #8266BC;
  color: #fff;
  &.sfgov-dept-section {
    padding-top: 0;
  }
  h4 {
    color: #fff;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .sfgov-spotlight {
    display: table;
    // @include clearfix;
    .sfgov-spotlight-section {
      display: table-cell;
      width: 50%;
      .sfgov-spotlight-button {
        color: #4F66EE;
        display: inline-block;;
        padding: 10px 20px;
        border-radius: 8px;
        background: #fff;
        text-decoration: none;
      }
      &.sfgov-spotlight-text {
        background: #8266bc;
        color: #fff;
        padding: 20px 0 40px 0;
        h4 {
          @include rubik;
          font-size: 3.2rem;
          font-weight: 500;
          padding: 0;
          margin: 0 0 20px 0;
        }
        p {
          font-size: 1.7rem;
          padding: 0;
          margin: 0 0 20px 0;
        }
      }
      &.sfgov-spotlight-image {
        // float: right;
        background-color: #cccced;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        img {
          display: none;
        }
      }
    }
  }
  @include less-than('not-big') {
    @include clearfix;
    .sfds-responsive-container {
      padding: 0 !important;
    }
    .sfgov-spotlight {
      display: block;
      .sfgov-spotlight-section {
        display: block;
        width: auto;
        &.sfgov-spotlight-text {
          padding: 20px 10% 40px 10%;
          float: right;
          margin-top: 300px;
        }
        &.sfgov-spotlight-image {
          min-height: 300px;
        }
      }
    }
  }
}

.sfgov-dept-resources {
  background: #EDF4F7;
  h3 {
    margin-bottom: 0;
  }
  .sfgov-dept-resources-container {
    display: table;
    table-layout: fixed;
    width: 103%;
    border-collapse: separate;
    border-spacing: 20px;
    margin-left: -20px;
    .sfgov-dept-resource-items {
      display: table-row;
    }
  }
  @include less-than('not-big') {
    h3 {
      margin-bottom: 20px;
    }
    .sfgov-dept-resources-container {
      display: block;
      width: auto;
      border-collapse: none;
      border-spacing: 0;
      margin: 0;
      .sfgov-resource-card {
        display: block;
        margin-bottom: 20px;
        max-width: initial;
      }
    }
  }
}

.sfgov-contact-container {
  background: #fff;
}

.sfgov-dept-about {
  background: #0C1464;
  color: #fff;
  .sfgov-dept-about-container {

  }
  h3 {
    color: #fff;
  }
  .sfgov-dept-about-content {
    position: relative;
    a {
      color: #fff;
    }
    .sfgov-dept-about-content-section {
      vertical-align: top;
      &.sfgov-dept-about-content-left {
        width: 65%;
        float: left;
        padding-right: 20px;
      }
      &.sfgov-dept-about-content-right {
        float: right;
        width: 34.9%;
      }
    }
    .sfgov-dept-about-description {
      padding-left: 25px;
    }
    .sfgov-dept-about-description,
    .sfgov-dept-about-divisions,
    .sfgov-dept-about-public-bodies {
      margin-bottom: 40px;
      ul {
        list-style-type: none;
        padding-left: 30px;
      }      
    }
    .sfgov-logo,
    .sfgov-cta,
    .sfgov-social {
      background: #fff;
      border-radius: 8px 0 0 8px;
      padding: 20px;
      margin-bottom: 20px;
      a {
        color: #0071bc;
      }
      @include rubik;
      h5 {
        color: #1C3E57;
        margin: 0 0 15px 0;
        padding: 0;
        font-size: 1.7rem;
        font-weight: 500;
        @include rubik;
      }
      &.sfgov-logo {
        img {
          max-width: 170px;
        }
      }
    }
    @include clearfix;
  }
  @include less-than('not-big') {
    .sfgov-dept-about-container {
      padding-left: 0 !important;
      padding-right: 0 !important;
      h3 {
        padding: 0 10%;
      }
      .sfgov-dept-about-content-section {
        &.sfgov-dept-about-content-left,
        &.sfgov-dept-about-content-right {
          display: block;
          float: none;
          width: auto;
        }
        &.sfgov-dept-about-content-left {
          padding: 0 10%;
          .sfgov-dept-about-description,
          .sfgov-dept-about-divisions ul,
          .sfgov-dept-about-public-bodies ul {
            padding-left: 25px;
          }
        }
        &.sfgov-dept-about-content-right {
          padding-left: 10%;
          padding-bottom: 20px;
        }
      }
    }
  }
}

.sfgov-dept-about-people {
  background: #A9D6EA;
  padding: 20px 0;
  .sfgov-dept-about-people-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .sfgov-dept-about-people-list-item {
      display: inline-block;
      width: 33%;
      > div {
        display: inline-block;
        vertical-align: top;
      }
      .person-image {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 8px;
        margin-right: 20px;
      }
      .person-details {
        h5 {
          margin: 0;
          font-weight: 500;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  @include less-than('not-big') {
    .sfgov-dept-about-people-list {
      .sfgov-dept-about-people-list-item {
        display: block;
        width: auto;
        margin-bottom: 20px;
      }
    }
  }
}

.sfgov-dept-contact {
  .sfgov-contact-container {
    margin-bottom: 20px;
    h3 {
      @include rubik;
      font-size: 3.2rem;
      font-weight: 500;
      margin: 0 0 20px 0;
      padding: 0;
      display: block;
      margin-bottom: 20px;
    }
    @include rubik;
    > .sfgov-contact-section {
      display: inline-block;
      width: 33%;
      vertical-align: top;
      padding-left: 60px;
      line-height: 2em;
      position: relative;
      h5, h6 {
        @include rubik;
        font-size: 2rem;
        padding: 0;
        margin: 0 0 15px 0;
        text-transform: none;
        font-weight: 500;
      }
      h6 {
        font-weight: 300;
        font-size: 1.7rem;
        padding: 0;
        margin: 0;
      }
      p {
        padding: 0;
        margin: 0;
        line-height: 2em;
      }
      &::after {
        content: ' ';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 30px;
      }
      &.address {
        width: 35%;
        &::after {
          background: url(../../src/img/icons/location-2.svg) no-repeat;
        }
      }
      &.phone-numbers {
        width: 32%;
        .phone {
          margin-bottom: 30px;
          .details {
            font-style: italic;
            color: #999;
          }
        }
        &::after {
          background: url(../../src/img/icons/phone-2.svg) no-repeat;
        }
      }
      &.email {
        width: 32%;
        p {
          line-height: normal;
        }
        &::after {
          background: url(../../src/img/icons/mail-2.svg) no-repeat;
        }
      }
    }
    @include less-than('not-big') {
      > .sfgov-contact-section {
        display: block;
        width: auto;
        padding-left: 25px;
        margin-top: 25px;
        &.address,
        &.phone-numbers,
        &.email {
          display: block;
          width: auto;
          &::after {
            left: 0;
          }
        }
      }
    }
  }
}

.sfgov-dept-public-records {
  .sfgov-dept-public-records-content-container {
    margin-bottom: 20px;
    .sfgov-dept-public-records-content {
      background: #EDF4F7;
      border-radius: 8px;
      padding: 25px;
      margin: 0 45px;
      h5 {
        font-weight: 500;
      }
      p, a {
        @include rubik;
      }
    }
    @include less-than('not-big') {
      .sfgov-dept-public-records-content {
        margin: 0;
      }
    }
  }
}