/* purgecss start ignore */
.sfgov-powerbi-embed {
  iframe {
    border: 0;
    background: $c-grey-1;
  }

  details {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* purgecss end ignore */
