.sfds-call-to-action {
  h3 {
    @include rubik;
    @include fs-title-5;
    margin-bottom: 20px;
  }
  a {
    @include antialiasing;
    display: inline-block;
    background: #4F66EE;
    border-radius: 8px;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    
  }
}