.news-front {
  @include clearfix;
  background: $c-yellow-1;
  padding-bottom: 80px;
  padding-top: 60px;

  @include media($medium-screen) {
    padding-top: 80px;
  }

  h3 {
    @include fs-h1;
  }
}

.news-front--container {
  @include contain-1090;

  .news-front--twitter {
    max-width: 445px;
  }

  .news--teaser--body {
    background-color: $c-yellow-3;
    background-position: right top;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;

    &.w-image {
      height: 160px;
    }
  }
}
