// Board of Supervisors.
.sfgov-title--board-of-supervisors {
  background: $c-blue-button-hover;
  color: $c-white;
  padding-bottom: 185px;
  position: relative;

  .person-name a {
    @include link-colors($c-white, $c-white);
  }

  .__people-title {
    @include contain-1090;
    margin-bottom: 40px;
  }

  .__description {
    bottom: 77px;
  }
}
