/* purgecss start ignore */
.sfgov-resources {
  > .title {
    @include fs-title-1;
    margin-bottom: 40px;
  }

  .paragraph--type--other-info-card {
    margin-bottom: 60px;
    @include media-max($small-screen) {
      margin-bottom: 0;
    }
  }
}

.sfgov-resources,
.page-node-type-campaign {
  .sfgov-container-two-column,
  .sfgov-container-three-column {
    a {
      max-width: 100%;
      .field--type-text-long {
        color: $c-slate;
      }
    }
  }
}

.document-file--container.empty-doc {
  .document {
    color: $c-slate;
    line-height: 24px;
  }
}
/* purgecss end ignore */
