.sfgov-accordion {
  @include contain-1090;
  @include clearfix;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.sfgov-accordion-group-left,
.sfgov-accordion-group-left {
  display: inline;
  position: relative;
}

.sfgov-accordion-group-left {
  @include media($medium-screen) {
    float: left;
    width: calc((600 / 1090) * 100%);
  }
}

.sfgov-accordion-group-right {
  @include media($medium-screen) {
    float: right;
    width: calc((440 / 1090) * 100%);
  }
}

.sfgov-accordion-title {
  margin-bottom: 30px;
}

.sfgov-accordion-content > :first-child details {
  margin-top: 0;
}

.sfgov-accordion-description {
  @include fs-big-description;
  border-radius: 8px;
  margin-top: 30px;
  padding: 40px;

  @include media($medium-screen) {
    margin-top: 0;
  }

  p {
    @include normalize-nested-margins;
  }
}
