.paragraph--type--campaign-spotlight {
  position: relative;
  .container {
    @include contain-1280;
    display: flex;
    align-items: center;
    @include media-max($medium-screen) {
      flex-direction: column;
    }
    .group-left {
      display: block;
      background-size: cover;
      height: 375px;
      width: 100%;
      @include media($medium-screen) {
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        bottom: 0;
      }
    }
    .group-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px 20px;

      @include media($medium-screen) {
        width: 50%;
        padding: 3rem;
        min-height: 400px;
        margin-left: 50%;
      }
    }
  }

  .__title {
    @include fs-title-3;
    color: white;
  }
  .__description {
    color: white;
  }
  .__media-image {
    img {
      width: 100%;
      display: block;
    }
  }

  .__link {
    margin-bottom: 20px;
    a {
      @include button-clear;
      border: 0;
    }
  }
}

.paragraph--type--campaign-spotlight.is-reversed {
  .container {
    @include media($medium-screen) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
  .group-left {
    right: 0;
    left: auto;
  }
  .group-right {
    margin-left: 0;
  }
}
