.paragraph--type--video {
  margin-top: 4rem;
  margin-bottom: 4rem;
  .container {
    @include contain-1090;

    .__title {
      @include fs-title-1;
    }
    .__description {
      .field__label {
        @include fs-title-5;
      }
    }
  }
}
