.paragraph--type--accordion {
  @include contain-1150;
  @include clearfix;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  .group-left {
    @include columns-780(left);
  }
  .group-right {
    @include columns-350(right);
    background: $c-grey-1;
    padding: 1rem 2.5rem;
    margin-top: 3rem;
    border-radius: 8px 0px 0px 8px;
  }
}
