.paragraph--type--facts {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .container {
    @include contain-1090;
  }

  h2 {
    @include fs-title-1;
    margin-bottom: 44px;
  }

  .__facts.field__items {
    display: flex;
    flex-direction: column;
    @include media($medium-screen) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: -20px;
    }
    > .field__item {
      display: flex;
      margin-bottom: 60px;
      .image {
        height: 350px;
        margin-bottom: 28px;
        img {
          object-fit: contain;
        }
      }
      h5 {
        @include fs-title-4;
        margin-bottom: 19px;
      }
      p {
        margin: 0;
      }
      .__description {
        @include fs-body-short;
        color: $c-slate;
      }
      @include media($medium-screen) {
        align-items: stretch;
        flex-basis: 33.333%;
        > .paragraph--type--fact.paragraph--view-mode--default {
          width: 100%;
          margin-right: 20px;
        }
      }
    }
  }
}

.campaign-facts {
  .row {
    display: flex;
    flex-direction: column;
    .fact-item {
      flex-basis: 33.333%;
      margin-bottom: 60px;
      .image {
        display: flex;
        margin-bottom: 28px;
        img {
          margin-top: auto;
        }
      }
      .text {
        @include fs-body-short;
        .fact-title {
          @include fs-title-4;
          margin-bottom: 19px;
        }
        p {
          @include fs-body-short;
          margin: 0;

          strong {
            font-weight: $fw-medium;
          }
        }
      }
    }
    @include media($medium-screen) {
      flex-direction: row;
      > div {
        &.fact-item {
          flex-basis: 33.333%;
          padding-right: 20px;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
