// @todo combine with _new-website.scss
.paragraph--type--additional-info {
  background: $c-blue-2;
  border-radius: 8px;
  margin-bottom: 80px;
  padding: 30px 40px;

  @include media($narrow-screen) {
    margin-left: 60px;
  }

  .__additional-info-heading {
    @include fs-title-3-mobile;

    @include media($medium-screen) {
      @include fs-title-3;
    }
  }

  p:last-child {
    @include fs-new-website-text;
    color: $c-slate;
  }

  a {
    @include link-colors($c-bright-blue);
  }
}
