.paragraph--type--department-content {

  .department-content__department-name {
    @include fs-title-5;

    @include media($medium-screen) {
      max-width: 33%;
      float: left;
    }
  }

  .department-content__table {;
    @include media($medium-screen) {
      max-width: 66%;
      float: right;
    }

    td {
      vertical-align: top;
      width: 50%;

      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        padding-left: 15px;
      }
    }
  }

  .department-content__item {
    background-position: 0 2px;
    padding-left: 40px;
    word-break: break-word;

    .date {
      opacity: .65;
    }
  }
}
