.image-with-text-container {

  @include media($wide-screen) {
    padding-left: 0;
    padding-right: 0;
  }

  .image-with-text {
    border-radius: 8px;

    .image img {
      border-radius: 8px 8px 0 0;
      width: 100%;
      vertical-align: bottom;
    }
    .text {
      color: $c-white;
      padding: 20px;
      @include media($medium-screen) {
        padding: 40px;
      }
      .title {
        @include fs-title-2-mobile;
        color: $c-white;
        margin-bottom: 14px;
        @include media($medium-screen) {
          @include fs-title-2;
        }
      }
      .description {
        @include fs-big-description-mobile;
        color: $c-white;
        p {
          @include fs-big-description-mobile;
          margin: 0;
        }
        @include media($medium-screen) {
          @include fs-big-description;
          p {
            @include fs-big-description;
          }
        }
      }
    }
  }
  .page-node-type-campaign & {
    @include contain-1090;
    margin-bottom: 109px;
    margin-top: 60px;

    @include media($wide-screen) {
      margin-top: 60px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.page-campaign-gold,
.page-campaign-blue {
  .image-with-text {
    .__title,
    .__description {
      color: $c-slate;
    }
  }
}
