.paragraph--type--content-link {
  background: $c-green-3;
  padding: 20px;
  border-radius: 8px;
  .field--type-string {
    display: inline-block;
    max-width: 80%;
    h2 {
      color: $c-white;
    }
  }
  .field--type-link {
    float: right;
    a {
      background: $c-white;
      color: $c-bright-blue;
    }
  }
}
