
.paragraph--type--list {
  .paragraph--type--list-item {
    padding-bottom: 20px;
  }
}

.sfgov-drupal-two-columns-list {
  .field__items {
    @media all and (min-width: 550px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.path-frontpage {
  .field--type-link.__link {
    a:visited {
      color: $color-white;
    }
  }
}
