#mohcd-calculator-form {
  background: #EDF4F7;
  padding: 1.25rem;
  border-radius: 8px;
  display: flex;
  margin: 2rem auto;
  max-width: 1090px;
}

#edit-bmrcalculator .fieldset-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.45rem;
  position: relative;
}

#purchasePriceWrapper,
#purchaseYearWrapper {
  flex: 0 0 calc(50% - 0.75rem);
  position: relative;
}

@media screen and (max-width: 768px) {
  #purchasePriceWrapper,
  #purchaseYearWrapper {
    flex: 0 0 calc(100% - 0.75rem);
    margin-bottom: 1.5rem;
  }
}

#edit-bmrcalculator legend {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

#edit-bmrcalculator label {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0;
  order: 1;
}

#edit-bmrcalculator .field-prefix {
  order: 5;
}

#edit-bmrcalculator #purchasePrice--description,
#edit-bmrcalculator #purchaseYear--description {
  order: 4;
}

#edit-bmrcalculator .field-suffix {
  order: 2;
}

#edit-bmrcalculator--description {
  margin-top: 0;
  margin-bottom: 2em;
  width: 100%;
}

#purchaseYear--description {
  margin-top: 0.5rem;
  color: #5A7A92;
  font-size: 1rem;
}

#edit-bmrcalculator .form-item {
  display: flex;
  flex-direction: column;
}

#purchasePriceInput,
#purchaseYear {
  order: 3;
}

#purchasePrice,
#purchaseYear {
  height: 56px;
}

#purchasePriceError {
  color: #c55236;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

#purchaseYearError {
  color: #c55236;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

#btnCalc {
  margin-top: 2.5rem;
  margin-bottom: 0;
  margin-right: auto;
  display: block;
  width: auto;
  font-family: "Rubik", sans-serif;
}

#btnCalc:focus {
  outline: 2px dotted #000;
  outline-offset: 3px;
}

#edit-bmrcalculator div.ajax-progress {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

#bmrValuation {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
}

#bmrValuationLabel {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

#bmrValuationResults {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: #F8F8F8;
  border: 2px solid #D3D3D3;
  display: block;
  width: auto;
}

.input__has-prefix {
  display: inline-flex;
  flex-direction: row;
}

.input__has-prefix span {
  flex: 0 0 50px;
  border-color: #1c3e57;
  border-width: 2px;
  border-style: solid;
  border-right: 0;
  background: lightgray;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__has-prefix input {
  border-radius: 0 8px 8px 0;
}



