@import "../../01-atoms/02-typography/01-fonts.scss";

.sfgov-main-navigation {
  ul {
    li {
      display: inline-block;
      margin-right: 40px;
      a {
        @include source-sans-pro;
        font-size: 15px;
        // todo: add color to colors atom.
        color: #323a45;
        line-height: 19px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
