.has-multiple-fields-remove-button {
  position: relative;
  padding-right: 32px !important;
}

.has-multiple-fields-remove-button .multiple-fields-remove-button,
.has-multiple-fields-remove-button .multiple-fields-remove-button:hover,
.has-multiple-fields-remove-button .multiple-fields-remove-button:focus {
  position: absolute;
  right: 8px;
  top: 50%;
  margin: -8px 0 0 !important;
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background: url('multiple-fields-remove-button-icon.svg') no-repeat 50% 50%, url('multiple-fields-remove-button-icon-hover.svg') no-repeat 50% 50%;
}

.has-multiple-fields-remove-button .multiple-fields-remove-button:hover,
.has-multiple-fields-remove-button .multiple-fields-remove-button:focus {
  background-image: url('multiple-fields-remove-button-icon-hover.svg');
}

.has-multiple-fields-remove-button .multiple-fields-remove-button[disabled] {
  background: none !important;
}

.has-multiple-fields-remove-button .multiple-fields-remove-button + .ajax-progress {
  position: absolute;
  right: 4px;
  top: 50%;
  margin: -8px 0 0 !important;
}

.has-multiple-fields-remove-button .multiple-fields-remove-button + .ajax-progress .message {
  text-indent: -9999px;
  position: absolute;
}
