// Address field.
.sfgov-address {
  @include fs-body-short;
}

.sfgov-address__title {
  @include antialiasing;
  @include fs-title-5;
  margin: 0 0 10px 0;
}

// Location entity.
.sfgov-location {
  @include fs-body-short;

  > * {
    margin-bottom: 20px;
    display: block;
  }
}

.sfgov-location__map {
  img {
    border: 1px solid $c-blue-2;
  }
}

.sfgov-location__hours {
  white-space: normal;
}

.sfgov-location__notes {
   font-style: italic;
}
