.sfgov-alpha-banner {
  background: $c-slate;
  color: $c-white;
  padding: 0;

  .sfgov-alpha-banner__content {
    @include contain-1090;
    @include fs-small-text;
    color: $c-white;
    padding-bottom: 15px;
    padding-top: 15px;

    @include media($medium-screen) {
      padding-bottom: 20px;
      padding-top: 20px;
    }

    @include media($medium-screen) {
      @include fs-body-short;
    }

    p {
      margin: 0;
    }

    a {
      color: inherit;
      font-weight: normal;
    }
  }
}
