.sfgov-alpha-banner {
  background: $c-grey-5;
  padding: 11px 0;
  .sfgov-alpha-banner__content {
    @include contain-1090;
    @include fs-body-short;
    color: $c-white;
    a {
      color: $c-white;
      font-weight: bold;
    }
  }
}
