.sfgov-alpha-banner {
  background: $c-grey-5;
  padding: 0;

  .sfgov-alpha-banner__content {
    @include contain-1090;
    @include fs-small-text;
    color: $c-white;

    @include media($medium-screen) {
      @include fs-body-short;
    }

    p {
      margin-bottom: 12px;
      margin-top: 15px;

      @include media($medium-screen) {
        margin-bottom: 18px;
        margin-top: 18px;
      }
    }

    a {
      color: $c-white;
      font-weight: normal;
    }
  }
}
