.ankle {
  padding-bottom: 60px;
  padding-top: 41px;
  background: $c-blue-1;

  .field {
    @include contain-1090;
    @include fs-body-short;

    .field__label {
      @include fs-body-bold;
    }

    .field__item {
      margin-bottom: 20px;
    }

    a {
      @include link-colors($c-bright-blue, $c-slate);
    }
  }
}

.ankle {
  &--blue1 {
    background: $c-blue-1;
  }

  &--green2 {
    background: $c-green-2;
  }

  &--yellow1 {
    background: $c-yellow-1;
  }
}
