.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 180px;
  height: 48px;
  padding: 7px 17px;
  background: $c-bright-blue;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: $c-white;
  cursor: pointer;
  transition: opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &:hover {
    color: $c-white;
  }

  &.show {
    opacity: 1;
    visibility: visible;

    @include media($medium-screen) {
      display: none;
    }
  }

  span {
    background: url(/themes/custom/sfgovpl/src/img/icons/chevron-up-white.svg) no-repeat 50% 50%;
    width: 15px;
    height: 10px;
    content: '';
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: -3px;
  }
}
