.hero-banner {

  h1 {
    @include fs-h1-page;
    color: $c-black;
  }

  .lead-paragraph {
    margin-bottom: 25px;
  }

  .date {
    font-size: 15px;
    color: $color-gray;
    line-height: 19px;
    margin-top: 20px;
  }
}

.hero-banner.plain {
  @include contain-1090;

  h1 {
    margin-bottom: 27px;
  }
}
