.sfgov-callout {
  @include fs-body-long;
  @include background-image('info.svg', 40px center, $c-blue-1);
  padding: 40px 40px 40px 89px;
  margin-bottom: 30px;
  &.compact {
    padding: 20px 40px 20px 80px;
  }
  &.light-blue {
    background-color: $c-blue-1;
  }
  &.light-grey {
    background-color: $c-grey-1;
  }
  .sfgov-callout-content {
    padding: 0;
    margin: 0;
  }
}