details {
  summary {
    @include fs-accordion-title;
    background: $c-white;
    border: 3px solid $c-blue-button;
    border-radius: 8px;
    color: $c-blue-button;

    &:after {
      @include background-image('plus-blue.svg');
      content: '';
      height: 30px;
      top: 18px;
      width: 30px;
    }
  }

  &[open] {
    summary {
      background: $c-blue-button;
      border-radius: 8px 8px 0 0;
      color: $c-white;

      &:after {
        @include background-image('minus-white.svg');
        content: '';
      }
    }

    .details__content {
      border: 3px solid $c-blue-button;
      border-radius: 0 0 8px 8px;
    }
  }
}
