details {
  border-radius: 8px;
  
  summary {
    @include fs-title-5;
    background: $c-white;
    border: 3px solid $c-bright-blue;
    border-radius: 8px;
    color: $c-bright-blue;
    padding-right: 60px;
    
    &:hover {
      cursor: pointer;
    }
    &:after {
      @include background-image('plus-blue.svg');
      content: '';
      height: 30px;
      top: 18px;
      width: 30px;
    }
  }

  &[open] {
    summary {
      @include antialiasing;
      background: $c-bright-blue;
      border-radius: 8px 8px 0 0;
      color: $c-white;

      &:after {
        @include background-image('minus-white.svg');
        content: '';
      }
    }
    .details__content {
      border: 3px solid $c-bright-blue;
      border-radius: 0 0 8px 8px;
    }
  }
}

// Node specific styling overrides
.page-node-type-topic,
.page-node-type-department {
  .sfgov-services details {
    background: $c-white;
    
    summary {
      padding-right: 20px;
    }
    summary h3,
    summary h5 {
      @include fs-title-5;
      margin: 0;
      color: $c-bright-blue;
      font-size: 20px;
      font-weight: 500;
      padding-right: 45px;
      
      &:hover {
        cursor: pointer;
      }
      &:after {
        @include background-image('plus-blue.svg');
        content: '';
        height: 30px;
        top: 18px;
        width: 30px;
      }
      .sfgov-container-item {
        margin-bottom: 0;
      }
    }
    .sfgov-container-item {
      margin-bottom: 40px;
    }
    .sfgov-service-card {
      padding: 0;
      border: none;
    }
    &[open] {
      summary h3,
      summary h5 {
        color: $c-white;
      }
    }
  }
  @include media-max($mobile-screen) {
    .sfgov-services .sfgov-services-section {
      margin-bottom: 20px;
    }
  }
}
