.sfgov-featured-item {
  @include rubik;
  background: $c-purple-3;
  text-decoration: none;
  color: $c-white;
  border-radius: 8px;
  display: block;
  padding: 20px;
  height: 100%;
  h5 {
    @include rubik;
    @include fs-title-5;
    color: $c-white;
    margin: 0 0 10px 0;
  }
  p {
    @include fs-body-short;
    padding: 0;
    margin: 0;
    color: $c-white;
  }
  &:visited {
    color: $c-white;
  }
  &.empty {
    visibility: hidden;
  }
}