.sfgov-footer {
  background: $c-grey-dark;
  color: $c-white;
  padding: 22px 0 24.4px;

  @include media($medium-screen) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .sfgov-footer__container {
    @include clearfix;
    @include contain-1090;
  }

  .seal {
    display: inline-block;
    height: 70px;
    margin-left: 15px;
    vertical-align: middle;
    width: 70px;

    @include media($medium-screen){
      height: 90px;
      margin-left: 0;
      width: 90px;
    }
  }

  .logo {
    margin-bottom: 30px;

    @include media($medium-screen) {
      float: left;
      width: 50%;
    }
  }

  img {
    width: 100%;
  }

  .text {
    display: inline-block;
    font-size: 25px;
    font-weight: $fw-light;
    line-height: 30px;
    margin-left: 19px;
    vertical-align: middle;

    @include media($medium-screen) {
      font-size: 33px;
      line-height: 39px;
    }
  }

  li {
    display: block;
  }

  a {
    color: $c-white;
    display: block;
    padding: 10px 40px 10px 15px;
    text-decoration: none;
  }

  .sfgov-footer-navigation {
    float: left;
    width: 25%;

    a {
      @include fs-body-bold;
    }

  }

  .sfgov-footer-navigation-bottom {
    float: left;
    width: 25%;

    a {
      opacity: .7;
    }
  }
}
