.sfgov-footer {
  background: $c-black;
  color: $c-white;
  padding: 22px 0 24.4px;

  @include media($medium-screen) {
    height: 250px;
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .sfgov-footer__container {
    @include clearfix;
    @include contain-1090;
    .sfgov-footer-nav {
      @include clearfix;
      float: none;
      width: auto;
      @include media($medium-screen) {
        float: right;
        width: 50%;
      }
    }
  }

  .seal {
    display: inline-block;
    height: 70px;
    margin-left: 15px;
    vertical-align: middle;
    width: 70px;

    @include media($medium-screen){
      height: 90px;
      margin-left: 0;
      width: 90px;
    }
  }

  .logo {
    float: none;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    @include media($medium-screen) {
      width: 50%;
      float: left;
      margin-top: 0;
    }
  }

  img {
    width: 100%;
  }

  .text {
    display: inline-block;
    font-size: 25px;
    font-weight: $fw-light;
    line-height: 30px;
    margin-left: 19px;
    vertical-align: middle;

    @include media($medium-screen) {
      font-size: 33px;
      line-height: 39px;
    }
  }

  li {
    display: block;
  }

  a {
    color: $c-white;
    display: block;
    padding: 10px 40px 10px 15px;
    text-decoration: none;
  }

  .sfgov-footer-navigation {
    float: none;
    width: auto;
    a {
      @include fs-body-bold;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    @include media($medium-screen) {
      float: left;
      width: 50%;  
    }
  }

  .sfgov-footer-navigation-bottom {
    float: none;
    width: auto;
    a {
      opacity: .7;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    @include media($medium-screen) {
      float: left;
      width: 50%;
    }
  }

  // silly override of pattern lab
  .sfgov-footer-navigation,
  .sfgov-footer-navigation-bottom {
    ul {
      li {
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}
