.gtranslate_container {
  @include contain-1090;
}

.gtranslate {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.gtranslate-link {
  @include fs-small-text;
  @include link-colors($c-slate, $c-slate);
  text-decoration: none;

  &:not(:first-of-type) {
    margin-left: 30px;
  }

  &:hover {
    text-decoration: underline;
  }

  &.is-active {
    cursor: default;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }

    &[data-sfgov-translate*="|zh-TW"] {
      font-weight: bold;
    }
  }

  // @fs-small-text (above) changes line-height to 22px for Chinese. In this
  // case, we don't want the height increase that would cause, because it's
  // inline with non-Chinese text.
  &.sfgov-translate-lang-zh-TW {
    line-height: 18px;
  }

  // The Chinese link is always Noto Sans.
  &[data-sfgov-translate*="|zh-TW"] {
    @include noto-sans-tc;
    // Adjust the Chinese link to be vertically centered with the non-Chinese
    // Roboto links.
    position: relative;
    top: -2px;

    // iOS.
    @supports (-webkit-overflow-scrolling: touch) {
      top: -1px;
    }
  }

  // When viewing Chinese translation, revert to regular styles for non-Chinese
  // links.
  &:not([data-sfgov-translate*="|zh-TW"]) {
    @include rubik;
    letter-spacing: normal;
  }
}
