

.sfgov-top-container {
  background: $c-grey-1;
  padding: 10px 0;

  @include media($medium-screen) {
    padding: 15px 0;
  }
}

.gtranslate_container {
  @include contain-1090;
}

.gtranslate {
  align-items: center;
  display: flex;
  justify-content: flex-end;

}
.gtranslate-link {
  @include fs-small-text;
  @include link-colors($c-slate, $c-slate);
  line-height: 22px;
  margin-left: 30px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &[data-gt*="|zh-TW"] {
    @include noto-sans-tc;
  }

  &.is-active {
    font-weight: 500;

    .sfgov-translate-lang-zh-TW & {
      font-weight: bold;
    }
  }
}
