.gtranslate_container {
  @include contain-1090;
}

.gtranslate {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.gtranslate-link {
  @include fs-small-text;
  @include link-colors($c-slate, $c-slate);
  text-decoration: none;

  &:not(:first-of-type) {
    margin-left: 30px;
  }

  &:hover {
    text-decoration: underline;
  }

  &.is-active {
    font-weight: 500;

    &[data-sfgov-translate*="|zh-TW"] {
      font-weight: bold;
    }
  }

  // @fs-small-text (above) changes line-height to 22px for Chinese. In this
  // case, we don't want the height increase that would cause, because it's
  // inline with non-Chinese text.
  &.sfgov-translate-lang-zh-TW {
    line-height: 18px;
  }

  // The Chinese link is always Noto Sans.
  &[data-sfgov-translate*="|zh-TW"] {
    @include noto-sans-tc;
    // Since we are using 18px instead of 22px for the line height, we need to
    // compensate for the top 1/2 of the 4px (22 - 18) difference to get the
    // alignment with the other Roboto links right.
    position: relative;
    top: -2px;
  }

  // When viewing Chinese translation, revert to regular styles for non-Chinese
  // links.
  &:not([data-sfgov-translate*="|zh-TW"]) {
    @include rubik;
    letter-spacing: normal;
  }
}
