header[role="banner"] {
  @include media($medium-screen) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.sfgov-nav-container {
  @include contain-1210;

  @include media($medium-screen) {
    padding-right: 34px;
  }
}
