.path-frontpage {
  header[role="banner"] {
    .sfgov-mobile-nav-btn.sfgov-mobile-search {
      display: none;
    }
  }
}

.sfgov-mobile_nav-active {
  header[role="banner"] {
    nav[role="navigation"] {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100vh;
      text-align: left;
      padding-left: 60px;
      background-color: rgba(0,0,0,0.7);
      top: 80px;
      z-index: 200;
    }
    .sfgov-nav-inner {
      background: $c-blue-1;
      height: 100%;
      width: 100%;
    }
  }
}

header[role="banner"] {
  padding-bottom: 24px;
  padding-top: 24px;
  position: relative;

  @include media($medium-screen) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #sfgov-search-autocomplete {
    left: 0;
    padding: 15px 20px 60px;
    top: 74px;
    width: 100%;

    @include media($medium-screen) {
      border-radius: 8px;
      left: auto;
      min-width: 280px;
      right: 50px;
      top: 44px;
    }

    @include media($narrow-screen) {
      border-radius: 0 0 8px 8px;
      left: 8px;
      min-width: auto;
      width: calc(100% - 56px);
    }

    a {
      border-bottom: 3px solid rgba(28, 62, 87, .1);
      padding: 10px 0;
    }
  }

  .sfgov-menu-btn.is-active {
    &::before {
      @include background-image('x-close-white.svg', 50% 50%, $c-bright-blue);
      content: '';
      display: block;
      height: 80px;
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      z-index: $z-menu-mobile-close;
    }
  }

  .sfgov-nav-container {
    @include contain-1090;
  }

  // "top level" navigation elements
  .sfgov-logo__container,
  .head-right--container,
  nav[role="navigation"],
  .gtranslate_container {
    display: inline-block;
  }

  .sfgov-logo__container {
    vertical-align: top;
    padding: 0;
  }

  .head-right--container {
    @include clearfix;
    float: right;
    margin-top: 2px;
    text-align: right;
    width: 54%;
    .sfgov-menu-btn {
      background: none;
      border:0;
      border-radius: 0;
      color: $c-bright-blue;
      margin: 0;
      padding: 0;
      width: auto;
    }
    @include media($medium-screen) {
      width: 75%;
    }
  }

  nav[role="navigation"] {
    display: none;
    .sfgov-main-navigation .menu {
      margin: 0;
      padding: 0;
      > li {
        display: block;
        margin: 0;
        a {
          @include fs-body-short;
          color: $c-slate;
          text-decoration: none;
          display: block;
          margin: 0 25px;
          padding: 20px 0;
          border-bottom: 3px solid rgba(28,62,87,0.1);
        }
      }
    }
    @include media($medium-screen) {
      display: inline-block;
      .sfgov-nav-close {
        display: none;
      }
      .sfgov-main-navigation .menu {
        > li {
          display: inline-block;
          margin-right: 30px;
          a {
            @include fs-nav-item;
            color: $c-bright-blue;
            margin: 0;
            padding: 0;
            border: 0;
          }
        }
      }
    }
  }

  .sfgov-mobile-nav-btn {
    vertical-align: top;
    &.sfgov-mobile-search {
      @include background-image('search-blue.svg');
      border: 0;
      display: inline-block;
      margin: 0 18px 0 0;
      padding: 0;
      height: 26px;
      width: 26px;
    }
    @include media($medium-screen) {
      display: none !important;
    }
  }
}
