header[role="banner"] {
  padding-bottom: 24px;
  padding-top: 24px;

  @include media($medium-screen) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #sfgov-search-autocomplete {
    left: 0;
    padding: 15px 20px 60px;
    top: 74px;
    width: 100%;

    @include media($medium-screen) {
      border-radius: 8px;
      left: auto;
      min-width: 280px;
      right: 50px;
      top: 44px;
    }

    @include media($narrow-screen) {
      border-radius: 0 0 8px 8px;
      left: 8px;
      min-width: auto;
      width: calc(100% - 56px);
    }

    a {
      border-bottom: 3px solid rgba(28, 62, 87, .1);
      padding: 10px 0;
    }
  }

  .sfgov-menu-btn.is-active {
    &::before {
      @include background-image('x-close-white.svg', 50% 50%, $c-bright-blue);
      content: '';
      display: block;
      height: 80px;
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      z-index: $z-menu-mobile-close;
    }
  }
}

.sfgov-nav-container {
  @include contain-1210;

  @include media($medium-screen) {
    padding-left: 10px;
    padding-right: 34px;
  }
}
