.is_typing .input-clear { // default.
  @include background-image('input-clear.svg');
  content: '';
  cursor: pointer;
  height: 18px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  z-index: $z-search-input-clear;
}

header[role="banner"] {
  .sfgov-search-311-block {
    @include media($medium-screen) {
      .is_typing .input-clear {
        top: 10px;
      }
    }
  }
}
