.is_typing .input-clear {
  @include background-image('input-clear.svg');
  content: '';
  cursor: pointer;
  height: 18px;
  position: absolute;
  right: 60px;
  top: 15px;
  width: 18px;
  z-index: $z-search-input-clear;
}
