
.media-caption {
  @include fs-small-text;
  color: $c-blue-4;
  margin-top: 5px;

  a {
    @include link-colors($c-blue-4, $c-blue-4);
  }
}

.media-caption--align-right {
  text-align: right;
}

.media-with-caption {
  margin: 0;
}
