.path-frontpage .view-news {
  background: $c-yellow-1;
}
.news-front {
  @include clearfix;
  @include contain-1090;
  overflow: hidden;
  padding-top: 60px;

  @include media($narrow-screen) {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  @include media-max($medium-screen) {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    @include fs-h1;
  }

  .news-front--container {
    padding: 0;
    position: relative;

    @include media($narrow-screen) {
      padding: 0;
    }
  }

  .news-front--view {
    padding-right: 20px;
    float: left;
    display: block;
    width: 50%;
    padding-right: 20px;

    @include media-max($medium-screen) {
      float: none;
      clear: both;
      width: 100%;
      padding-left: 20px;
    }

    .view-news-block {
      .sfgov-container-three-column {
        display: block;

        .sfgov-container-item {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .news-front--twitter {
    background: $c-white;
    border-radius: 8px;
    padding: 20px 40px 20px 40px;
    float: left;
    display: block;
    width: 50%;
    position: relative;
    top: 110px;

    @include media-max($medium-screen) {
      float: none;
      clear: both;
      padding-bottom: 45px;
      width: 100%;
      top: 0;
      border-radius: 0;
    }

    h2 {
      @include fs-title-3-mobile;
      margin-bottom: 0;

      @include media($narrow-screen) {
        @include fs-title-3;
      }
    }
  }

  .news-front--view-more {
    @include clearfix;
    padding-top: 30px;

    @include media-max($narrow-screen) {
      padding-bottom: 80px;
    }

    .more-link {
      padding: 0;
    }

    a {
      @include button;
    }
  }
}
