// @todo combine with _paragraph-additional-info.scss
.sfgov-new-website {
  background: $c-blue-2;
  border-radius: 8px;
  margin-bottom: 80px;

  h2 {
    @include fs-title-5;
    color: $c-slate;
  }

  p:last-child {
    @include fs-new-website-text;
    color: $c-slate;
  }

  a {
    @include link-colors($c-slate);
  }
}
