// @todo combine with _paragraph-additional-info.scss
.sfgov-new-website {
  background: $c-blue-grey;
  border-radius: 8px;
  margin-bottom: 80px;

  h2 {
    @include fs-title-3;
    color: $c-text;
  }

  p:last-child {
    @include fs-new-website-text;
    color: $c-text;
  }

  a {
    @include link-colors($c-blue-button);
  }
}
