.news-front {
  @include clearfix;
  background: $c-yellow-1;
  overflow: hidden;
  padding-bottom: 80px;
  padding-top: 60px;

  @include media($medium-screen) {
    padding-top: 80px;
  }

  h3 {
    @include fs-h1;
  }

  .news-front--container {
    @include contain-1090;
    position: relative;
  }

  .news-front--view {

    @include media($medium-screen) {
      float: left;
      padding-right: 20px;
      width: 60%;
    }

    @include media($wide-screen) {
      padding-right: 102px;
      width: calc(100% - 445px);
    }
  }

  .news--teaser--body {
    background-color: $c-yellow-3;
    background-position: right top;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;

    &.w-image {
      height: 160px;
      padding: 20px 180px 20px 20px;

      @include media-max($medium-screen) {
        background-image: none !important;
        height: auto;
        padding: 20px;
      }
    }
  }

  .news-front--twitter {
    @include media($medium-screen) {
      float: right;
      padding: 0 0 20px 20px;
      width: 40%;
    }

    @include media($wide-screen) {
      background: $c-white;
      padding: 190px 56px 140px 59px;
      position: absolute;
      right: 0;
      top: -190px;
      width: 445px;
    }
  }
}
