/* purgecss start ignore */
.path-frontpage .view-news {
  background: $c-yellow-1;
}
.news-front {
  @include clearfix;
  @include contain-1090;
  overflow: hidden;
  padding-top: 60px;

  @include media($narrow-screen) {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  h2 {
    @include fs-h1;
  }

  .news-front--view-more {
    @include clearfix;
    padding-top: 30px;

    @include media-max($narrow-screen) {
      padding-bottom: 80px;
    }

    .more-link {
      padding: 0;
    }

    a {
      @include button;
    }
  }
}
/* purgecss end ignore */
