.person-container {
  .person-photo {
    background-size: cover;
    background-position: top center;
    background-color: #333;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 76px;
    height: 76px;
    overflow: hidden;
    img {
      max-width: 1px;
      max-height: 1px;
      position: relative;
      left: -999px;
    }
  }
  .person-bio {
    width: 160px;
    text-align: left;
  }
}