/* purgecss start ignore */
.person-container {
  .person-photo {
    background-size: cover;
    background-position: top center;
    background-color: $c-white;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 76px;
    height: 76px;
    overflow: hidden;
  }
  .person-bio {
    display: inline-block;
    width: 160px;
    text-align: left;
  }
}
/* purgecss end ignore */
