.sfgov-phone {
  > * {
    margin: 0 0 5px 0;
  }
  .sfgov-phone-owner {
    @include fs-title-5;
  }
  .sfgov-phone-number {
    @include fs-body-link;
  }
  .sfgov-phone-details {
    @include fs-body-italic;
  }
}
