.sfgov-section {
  margin-bottom: 50px;
}

.sfgov-section__title {
  background: $c-dark-blue;
  color: #fff;
  padding: 16px 25px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.sfgov-section__content {
  .paragraph--type--step{
      margin-left: 25px;
      margin-right: 25px;
  }
}

.sfgov-section--basic-html {
  margin-bottom: 80px;
  .sfgov-section__title {
    padding: 0;
    margin-bottom: 20px;
  }
  .sfgov-section__content {
    p {
      margin: 0;
      padding: 0 0 20px 0;
    }
    br {
      display: none;
    }
    h4 {
      @include fs-title-4;
      margin: 20px 0;
    }
  }
}
