.service-cards--container {
  @include contain-1090-table;
}

.service-cards  {
  @include three-column-table-row;
}

.service-card {
  background: $c-white;
  border: 3px solid $c-bright-blue;
  text-decoration: none;

  &:hover {
    border-color: $c-dark-blue;

    .service-card--title {
      color: $c-dark-blue;
    }
  }

  &.invisible {
    height: 0;
  }

  .service-card--title {
    @include fs-title;
    margin-bottom: 10px;
  }

  p {
    @include fs-body-long;
    color: $c-dark-blue;
    text-decoration: none;

    &:empty {
      display: none;
    }
  }
}
