.service-cards--container {
  @include contain-1090-table;
}

.service-cards {
  @include contain-1090;
  display: flex;
  flex-wrap: wrap;
  > .service-card-container {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    @include media($medium-screen) {
      width: 33.33%;
      display: flex;
      align-items: stretch;
      > .service-card {
        margin-right: 20px;
        width: 100%;
      }
      &:nth-child(3n+3) {
        > .service-card {
          margin-right: 0;
        }
      }
    }
  }
  &.two-column {
    > .service-card-container {
      @include media($medium-screen) {
        width: 50%;
        &:nth-child(3n+3) {
          > .service-card {
            margin-right: 20px;
          }
        }
        &:nth-child(2n+2) {
          > .service-card {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.service-cards--two-column {
  @include column-table-row-two;
}

.service-card {
  background: $c-white;
  border: 3px solid $c-bright-blue;
  text-decoration: none;
  display: block;
  padding: 20px;
  border-radius: 8px;

  &:hover {
    border-color: $c-dark-blue;

    .service-card--title {
      color: $c-dark-blue;
    }
  }

  &.invisible {
    height: 0;
  }

  .service-card--title {
    @include fs-title;
    margin-bottom: 10px;
    &.sfgov-translate-lang-zh-TW {
      @include fs-body-bold;
    }
  }

  p {
    @include fs-body-long;
    color: $c-dark-blue;
    text-decoration: none;

    &:empty {
      display: none;
    }
  }
}
