.sfgov-full-bleed {
  position: relative;
  &.purple-lightpurple {
    background: linear-gradient(to right, $c-purple-3 50%, $c-purple-2 50%);
  }
}
.sfgov-spotlight {
  display: flex;
  .sfgov-spotlight-section {
    width: 50%;
    background: $c-purple-3;
    color: $c-white;
    &.content {
      padding: 100px 0;
    }
    &.image {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $c-purple-2;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      height: 100%;
    }
  }
  .sfgov-spotlight-title {
    @include fs-title-1;
    color: $c-white;
    margin-bottom: 20px;
  }
  .sfgov-spotlight-description {
    margin-bottom: 40px;
  }
  .sfgov-spotlight-button a {
    @include fs-body-bold;
    padding: 13px 20px 11px;
    background: $c-white;
    color: $c-bright-blue;
    border-radius: 8px;
  }
}