.sfgov-spotlight {
  padding: 60px 0;
  position: relative;

  // This is for topic pages, where a spotlight can be nested inside the
  // field_content field via a "section" paragraph.
  .sfgov-spotlight-container--nested & {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    @include media($medium-screen) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  // Override top padding if right below a hero banner, e.g. Topic pages.
  .hero-banner + .sfgov-spotlight-container & {
    padding-top: 0;
  }

  .sfgov-spotlight-main {
    border-radius: 8px;
    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;

    @include media($medium-screen) {
      flex-direction: row;

      .purple-lightpurple & {
        background: linear-gradient(to right, $c-purple-3 50%, $c-purple-2 50%);
      }
    }
  }

  .sfgov-spotlight-section {
    background: $c-purple-3;
    width: 100%;
    color: $c-white;

    @include media($medium-screen) {
      background: $c-purple-3;
      width: 50%;
    }
  }

  .sfgov-spotlight-content {
    border-radius: 0 0 8px 8px;
    padding: 40px 20px;

    @include media($medium-screen) {
      border-radius: 8px 0 0 8px;
      padding: 60px 40px 60px;
    }
  }

  .sfgov-spotlight-title {
    @include fs-title-2-mobile;
    color: $c-white;
    margin-top: 0;
    margin-bottom: 20px;

    @include media($medium-screen) {
      @include fs-title-2;
    }
  }
  .sfgov-spotlight-description {
    margin-bottom: 20px;

    @include media($medium-screen) {
      margin-bottom: 40px;
      padding: 0;
    }
  }

  .sfgov-spotlight-button a {
    @include fs-body-bold;
    padding: 13px 20px 11px;
    background: $c-white;
    color: $c-bright-blue;
    border-radius: 8px;
    &:hover {
      color: $c-dark-blue;
    }
  }

  .sfgov-spotlight-image {
    background-color: $c-purple-2;
    border-radius: 8px 8px 0 0;

    @include media($medium-screen) {
      border-radius: 0 8px 8px 0;
    }

    img {
      border-radius: 8px 8px 0 0;

      @include media($medium-screen) {
        display: none;
      }
    }
  }

  .sfgov-spotlight-caption {
    @include media($medium-screen) {
      margin-top: 15px;
    }
  }
}
