.sfgov-status {
  @include contain-1090;
  @include background-image('info.svg', 40px center);
  margin-bottom: 20px;
  &.success {
    background-color: $c-green-1;
  }
  &.warning {
    background-color: $c-yellow-1;
  }
  &.error {
    background-color: $c-red-1;
  }

  .body {
    padding: 40px 40px 40px 89px;
  }

  .heading {
    margin: 0 0 10px 0;
  }

  .content {
    @include fs-body-long;
    margin: 0;
  }
}
