.sfgov-tabbed-navigation {
  @include contain-1090;
  ul {
    border-bottom: 1px solid $c-blue-3;
    margin: 10px 0 0 0;
    li {
      margin: 0;
      display: inline-block;
      a {
        padding: 2px 13px;
        border: 1px solid $c-grey-4;
        text-decoration: none;
        &.is-active {
          background: $c-blue-3;
        }
      }
    }
    @include media-max($medium-screen) {
      font-size: 1.4rem;
      padding-left: 0;
    }
  }
}
