.vaccine-filter__filter-top {
  padding: 30px 0;

  @include media($medium-screen) {
    display: none;
  }
}

.vaccine-filter__body {
  .group--left {
    @include columns-720(left);
    @include media($medium-screen) {
      padding-right: 60px;
    }
  }
  .group--right {
    display: none;
    @include columns-350(right);
    @include media($medium-screen) {
      background-color: $c-blue-1;
      border-radius: $radius;
      display: block;
      padding: 40px;
    }
  }
}

.vaccine-filter-form {
   [data-drupal-selector="edit-single-checkboxes"] {

     .js-form-type-checkbox label {
      @include fs-body-short;

       &::before {
         top: 6px;
       }
    }
  }
}

.vaccine-site {
  margin-bottom: 40px;

  label {
    @include fs-body-bold;
  }

  .field {
    margin-bottom: 20px;
  }
}

.vaccine-site__title {
  @include fs-title-3-mobile;
  margin: 0;
}

.vaccine-site__address {
  a {
    @include link-colors($c-light-slate, $c-bright-blue);
  }
}

.vaccine-site__eligibility {
  @include fs-small-text;
  background: $c-grey-2;
  margin-right: 6px;
  padding: 3px 8px;
  word-break: keep-all;
}

.vaccine-site__booking_info {
  background-color: $c-blue-1;
  padding: 20px;

  &.yes {
    @include background-image('check-green.svg', 20px 25px, $c-blue-1);
    .field {
      padding-left: 40px;
    }
  }

  &.no {
    @include background-image('close-red.svg', 20px 25px, $c-blue-1);
    .field {
      padding-left: 40px;
    }
  }
  .sfgov-cta-button__container {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
      padding-left: 40px;
    }
    &.no-pad {
      @include media($medium-screen) {
        padding-left: 20px;
      }
    }
  }
  a {
    text-align: center;
  }
}

.vaccine-filter__empty {
  h4 {
    @include fs-title-5;
  }
}
