/* purgecss start ignore */
.vaccine-filter__filter-top {
  padding: 30px 0;

  @include media($medium-screen) {
    display: none;
  }
}

.vaccine-filter__body {
  .group--left {
    @include columns-720(left);
    @include media($medium-screen) {
      padding-right: 60px;
    }
  }
  .group--right {
    display: none;
    @include columns-350(right);
    @include media($medium-screen) {
      background-color: $c-blue-1;
      border-radius: $radius;
      display: block;
      padding: 40px;
    }
  }
}

.vaccine-filter-form {
  label {
    @include fs-body-bold;
  }

  [data-drupal-selector='edit-access'] {
    margin-bottom: 50px;

    .js-form-type-checkbox label {
      @include fs-body-short;
      margin-bottom: 0;

      &::before {
        top: 2px;
      }
    }
  }

  [data-drupal-selector='edit-distance-from'] {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

    .js-form-item-radius {
      flex-grow: 1;
    }

    span {
      padding-left: 20px;
      margin-bottom: 20px;
      padding-bottom: 9px;
      text-align: right;

      @media screen and (min-width: $medium-screen) and (max-width: 991px) {
        margin-bottom: 0;
        padding-left: 0;
      }

      @media screen and (min-width: 992px) and (max-width: 1134px) {
        padding-left: 6px;
        margin-bottom: 20px;
      }
    }
  }

  .fieldset-wrapper .form-wrapper .form-item-access-mode {
    margin-bottom: 40px;
  }
}

.vaccine-filter__empty {
  display: none;

  h4 {
    @include fs-title-5;
  }
}

// Vaccine Site/Card.
.vaccine-site {
  @include rubik;
  margin-bottom: 40px;
  padding: 17px;
  background: $c-white;
  border: 3px solid $c-grey-3;
  border-radius: $radius;
  color: $c-slate;
  display: block;
  text-decoration: none;

  @include media($medium-screen) {
    padding: 35px;
  }

  &:last-child {
    margin-bottom: 100px;
  }

  strong,
  b {
    @include fs-body-bold;
  }

  label {
    @include fs-body-bold;
    margin-bottom: 0;
  }

  .field {
    margin-bottom: 15px;
  }

  .icon {
    background-size: 20px 20px;
    background-position: 0 4px;
    padding-left: 38px;
  }
}

.distance-visible {
  display: flex;
}

.vaccine-site__title {
  @include fs-title-3-mobile;
  margin: 0 0 10px 0;

  .distance-visible & {
    width: calc(100% - 66px);
  }
}

.vaccine-site__distance {
  .distance-visible & {
    color: $c-light-slate;
    text-align: right;
    width: 66px;
  }
}

.vaccine-site__address {
  @include background-image('icons/location-slate.svg');
  margin-bottom: 20px;

  a {
    @include link-colors($c-bright-blue);
  }
}

.vaccine-site__languages {
  @include background-image('icons/globe-slate.svg');
  margin-bottom: 20px;
}

.vaccine-site__eligibilities {
  margin-bottom: 18px;
}

.vaccine-site__eligibility {
  @include fs-small-text;
  background: $c-grey-2;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 3px 8px;
  word-break: keep-all;
}

.vaccine-site__restrictions {
  background: $c-yellow-1;
  padding: 20px;
  margin-bottom: 40px;

  @include media($medium-screen) {
    padding: 40px;
  }
}

.vaccine-site__access-mode {
  @include background-image('icons/accessibility-slate.svg');
  margin-bottom: 20px;
}

.vaccine-site__brands {
  @include background-image('icons/info-slate.svg');
  margin-bottom: 20px;
}

.vaccine-site__booking_box {
  background-color: $c-blue-1;
  margin-top: 40px;
  padding: 20px;

  div {
    margin-bottom: 15px;
  }

  > div:last-child {
    margin-bottom: 0;
  }

  @include media($medium-screen) {
    padding: 40px;
  }

  [data-available='yes'] & {
    @include background-image('check-green.svg', 20px 25px, $c-blue-1);

    @include media($medium-screen) {
      background-position: 40px 40px;
    }
  }

  [data-available='no'] & {
    @include background-image('close-red.svg', 20px 25px, $c-blue-1);

    @include media($medium-screen) {
      background-position: 40px 40px;
    }
  }

  [data-available='no'] &,
  [data-available='yes'] & {
    .box-item-indented {
      padding-left: 40px;
    }
  }

  [data-available='yes'] & {
    .vaccine-site__booking-button,
    .vaccine-site__phone {
      @include media($medium-screen) {
        padding-left: 40px;
      }
    }
  }

  .vaccine-site__booking-button {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }

    a {
      display: block;

      @include media($medium-screen) {
        display: inline-block;
      }
    }

    + .vaccine-site__phone {
      text-align: center;

      @include media($medium-screen) {
        text-align: left;
      }
    }
  }
}

.vaccine-filter__empty {
  display: none;

  h4 {
    @include fs-title-5;
  }
}

// Always show back-to-top.
.page-sfgov-vaccine-sites {
  .back-to-top.show {
    @include media($medium-screen) {
      display: block;
    }
  }
}

// Google autocomplete dropdown.
.pac-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px 2px;
  border-radius: 8px;
  padding: 0 15px 13px;

  &:after {
    // Hide google logo.
    display: none;
  }

  &[style] {
    @include rubik;
    @include fs-body-short;
  }

  .pac-item {
    @include fs-body-short;
    border-top: 0;
    padding: 10px 0;
    border-bottom: 3px solid #1c3e571a;
    white-space: wrap;

    &.pac-item-selected,
    &:hover {
      background: $c-blue-3;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .pac-item-query {
    color: $c-slate;
    @include fs-body-short;
  }

  .pac-matched {
    @include fs-body-bold;
  }

  .pac-icon {
    display: none;
  }
}
/* purgecss end ignore */
