.vaccine-filter__filter-top {
  padding: 30px 0;

  @include media($medium-screen) {
    display: none;
  }
}

.vaccine-filter__body {
  @include media($medium-screen) {
    padding-top: 60px;
  }

  .group--left {
    @include columns-720(left);
    @include media($medium-screen) {
      padding-right: 60px;
    }
  }
  .group--right {
    display: none;
    @include columns-350(right);
    @include media($medium-screen) {
      background-color: $c-blue-1;
      border-radius: $radius;
      display: block;
      padding: 40px;
    }
  }
}

.vaccine-filter__count {
  margin-bottom: 40px;
}

.vaccine-filter-form {
  [data-drupal-selector='edit-single-checkboxes'] {
    margin-bottom: 50px;

    .js-form-type-checkbox label {
      @include fs-body-short;
      margin-bottom: 0;

      &::before {
        top: 2px;
      }
    }
  }

  .fieldset-wrapper .form-wrapper .form-item-access-mode {
    margin-bottom: 60px;
  }
}

.vaccine-filter__other {
  display: none;

  h2 {
    @include fs-title-3-mobile;

    @include media($medium-screen) {
      @include fs-title-3;
    }
  }
}

.vaccine-filter__empty {
  display: none;

  h4 {
    @include fs-title-5;
  }
}

// Vaccine Site/Card.
.vaccine-site {
  @include rubik;
  margin-bottom: 40px;
  padding: 17px;
  background: $c-white;
  border: 3px solid $c-grey-3;
  border-radius: $radius;
  color: $c-slate;
  display: block;
  text-decoration: none;

  @include media($medium-screen) {
    padding: 35px;
  }

  &:last-child {
    margin-bottom: 100px;
  }

  strong,
  b {
    @include fs-body-bold;
  }

  label {
    @include fs-body-bold;
    margin-bottom: 0;
  }

  .field {
    margin-bottom: 15px;
  }

  .icon {
    background-size: 20px 20px;
    background-position: 0 4px;
    padding-left: 38px;
  }
}

.distance-visible {
  display: flex;
}

.vaccine-site__title {
  @include fs-title-3-mobile;
  margin: 0 0 40px 0;

  .distance-visible & {
    width: calc(100% - 66px);
  }
}

.vaccine-site__distance {
  .distance-visible & {
    text-align: right;
    width: 66px;
  }
}

.vaccine-site__address {
  @include background-image('icons/location-slate.svg');
  margin-bottom: 20px;

  a {
    @include link-colors($c-bright-blue);
  }
}

.vaccine-site__languages {
  @include background-image('icons/globe-slate.svg');
  margin-bottom: 20px;
}

.vaccine-site__restrictions {
  background: $c-yellow-1;
  padding: 20px;
  margin-bottom: 40px;

  @include media($medium-screen) {
    padding: 40px;
  }
}

.vaccine-site__access-mode {
  @include background-image('icons/accessibility-slate.svg');
  padding-left: 38px;
  margin-bottom: 20px;
}

.vaccine-site__booking_box {
  background-color: $c-blue-1;
  margin-top: 40px;
  padding: 20px;

  div {
    margin-bottom: 15px;
  }

  > div:last-child {
    margin-bottom: 0;
  }

  @include media($medium-screen) {
    padding: 40px;
  }

  [data-available='yes'] & {
    @include background-image('check-green.svg', 20px 25px, $c-blue-1);

    @include media($medium-screen) {
      background-position: 40px 40px;
    }
  }

  [data-available='no'] & {
    @include background-image('close-red.svg', 20px 25px, $c-blue-1);

    @include media($medium-screen) {
      background-position: 40px 40px;
    }
  }

  [data-available='no'] &,
  [data-available='yes'] & {
    .box-item-indented {
      padding-left: 40px;
    }
  }

  [data-available='yes'] & {
    .vaccine-site__booking-button,
    .vaccine-site__phone {
      @include media($medium-screen) {
        padding-left: 40px;
      }
    }
  }

  .vaccine-site__booking-button {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }

    a {
      display: block;

      @include media($medium-screen) {
        display: inline-block;
      }
    }

    + .vaccine-site__phone {
      text-align: center;

      @include media($medium-screen) {
        text-align: left;
      }
    }
  }
}

.vaccine-filter__empty {
  display: none;

  h4 {
    @include fs-title-5;
  }
}

// Always show back-to-top.
.page-sfgov-vaccine-sites {
  .back-to-top.show {
    @include media($medium-screen) {
      display: block;
    }
  }
}
