$video_height_mobile: 350px;
$video_height_desktop: 405px;

.video-embed-component {
  .toggle-transcript {
    display: flex;
    align-items: center;
    margin-top: 28px;
    text-decoration: none;
    @include media($medium-screen) {
      display: none;
    }
    &:before {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url('../../src/img/chevron-up.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 10px;
      transition: all 0.3s ease-in-out;
      transform: rotate(180deg);
    }
  }

  .video-wrapper {
    display: flex;
    flex-direction: column;
    @include media($medium-screen) {
      flex-direction: row;
    }
    .group-left {
      flex: 2;
      @include media($medium-screen) {
        height: $video_height_desktop;
      }
      .__video {
        height: 100%;
        .video-embed-field-responsive-video {
          height: 100%;
        }
      }
    }
    .group-right {
      flex: 1;
      max-height: 100%;
      border: 2px solid $c-grey-3;
      box-sizing: border-box;
      @include media-max($medium-screen) {
        height: 0; // $video_height_mobile;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
      }

      @include media($medium-screen) {
        height: $video_height_desktop;
      }
      .inner {
        height: 100%;
        overflow: scroll;
        transition: all 0.3s ease-in-out;
        padding: 27px 22px;
        @include media-max($medium-screen) {
          padding: 0 22px;
        }
        .link-video {
          margin-bottom: 2rem;
        }
        ul {
          margin-top: 0;
          padding-left: 0;
          li {
            list-style: none;
          }
        }
      }
    }
  }

  &.js-opened {
    .video-wrapper {
      .group-right {
        @include media-max($medium-screen) {
          height: $video_height_mobile;
          opacity: 1;
        }
        .inner {
          @include media-max($medium-screen) {
            padding: 27px 22px;
          }
        }
      }
    }

    .toggle-transcript {
      &:before {
        transform: rotate(0);
      }
    }
  }

  .video-embed-field-responsive-video:after {
    padding-bottom: 50%;
  }
}
