{#
/**
 * @file
 * Default theme implementation for the status legend.
 *
 * Available variables:
 * - title: The title of the legend.
 * - items: Each icon with its legend.
 *
 * @ingroup themeable
 */
#}
<div class="tmgmt-legend clearfix">
  <div class="tmgmt-status">{{ title }}</div>
  {% for item in items %}
    <div class="tmgmt-legend-wrapper">
      <div class="tmgmt-legend-icon">
        <img src="{{ item.icon }}">
      </div>
      <div class="tmgmt-legend-status">{{ item.legend }}</div>
    </div>
  {% endfor %}
</div>
