<div id="sfgov-dept-services" class="sfgov-services-container sfgov-dept-section">
  <div class="sfgov-services">
    <h3>{{ label }}</h3>
    {% for item in items %}
      <div class="sfgov-services-section">
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
</div>