{# <div id="sfgov-dept-services" class="sfgov-services-container sfgov-dept-section">
  <h2 class="sfgov-dept-section-heading">{{ label }}</h2>
  <div class="sfgov-services">
    {% for item in items %}
      <div class="sfgov-services-section">
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
</div> #}

<div class="sfgov-services">
  <h2 class="title">{{ label }}</h2>
  {% for item in items %}
    <div class="sfgov-services-section">
      {{ item.content }}
    </div>
  {% endfor %}
</div>