<nav class="sfgov-footer-navigation">
  <ul>
    {% if main_navigation %}
      {% for item in main_navigation %}
        <li>
          <a href="{{ item.link }}">{{ item.label }}</a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</nav>
