{% set data = {
  timestamp: 'Friday',
  queues: {
    0: {
      cells: {
        0: {
          tag: 'td',
          content: 'Buidling: Architectural Review'
        },
        1: {
          tag: 'td',
          content: '1 hour 1 minute'
        }
      }
    },
    1: {
      cells: {
        0: {
          tag: 'td',
          content: 'Buidling: Architectural Review'
        },
        1: {
          tag: 'td',
          content: '35 minutes'
        }
      }
    }
  }
} %}

{% set attributes = create_attribute() %}
{% set attributes = attributes.addClass('sfgov-table') %}

{% set title = 'Wait Times'|t %}
{% set caption =
  'The Permit Center uses Qless to manage customer lines and wait times.'|t
%}
{% set header = {
  0: {
    content: 'Queue',
    tag: 'th'
  },
  1: {
    content: 'Wait time',
    tag: 'th'
  }
} %}
{% set rows = data.queues %}

{% set footer = {
  0: {
    cells: {
      0: {
        content: '',
        tag: 'td'
      },
      1: {
        content: data.timestamp,
        tag: 'td'
      }
    }
  }
} %}

<h2>
  {{ title }}
</h2>
{% include 'table.html.twig' %}
