{% include '@theme/hero-banner-color.twig' with {
  banner: {
    title: page_title
  }
} %}
<div class="sfgov-full-bleed light-blue card-container">
  <div class="sfgov-section-container">
    {{ filters }}
  </div>
</div>
