{% include '@theme/hero-banner-color.twig' with {
  banner: {
    title: page_title
  }
} %}
<div class="sfgov-full-bleed light-blue">
  <div class="sfgov-section-container">
    {{ filters }}
  </div>
</div>

<div class="sfgov-full-bleed">
  <div class="sfgov-section-container">
    {% for result in results %}
      {% include '@theme/atoms/service-card.twig' with {
        title: result.site_title,
        description: '',
        url: '',
        heading: 'h3'
      } %}
    {% endfor %}
  </div>
</div>
