{{ attach_library('sfgov_vaccine/filter_sites') }}
{% include '@theme/hero-banner-color.twig' with {
  banner: {
    title: page_title
  }
} %}
<div class="sfgov-full-bleed light-blue">
  <div class="sfgov-section-container">
    {{ filters }}
  </div>
</div>

<div class="sfgov-full-bleed" data-vaccine="results">
  <div class="sfgov-section-container">
    {% for result in results %}
      {% set description %}
        <p>
          {{ result.restrictions }}
        </p>
        <p>
          {{ result.available }}
        </p>
      {% endset %}

      {% include '@theme/atoms/vaccine-site-card.twig' with {
        attributes: result.attributes,
        title: result.site_name,
        description: description,
        url: ''
      } %}
    {% endfor %}
  </div>
</div>
