<h6>Primary buttons</h6>
<div class="button_wrapper">
  <button class="sfgov-button">Default</button>
  <button class="sfgov-button sfgov-button-hover">Hover</button>
  <button class="sfgov-button sfgov-button-active">Active</button>
  <button class="sfgov-button sfgov-focus">Focus</button>
  <button class="sfgov-button" disabled>Disabled</button>
  <button class="sfgov-button-disabled" disabled>Disabled (deprecated)</button>
  <style scoped>
    .dark-bg {
      background-color: #212121;
    }
  </style>
</div>

<h6>Secondary buttons</h6>
<div class="button_wrapper">
  <button class="sfgov-button-secondary">Default</button>
  <button class="sfgov-button-secondary sfgov-button-hover">Hover</button>
  <button class="sfgov-button-secondary sfgov-button-active">Active</button>
  <button class="sfgov-button-secondary sfgov-focus">Focus</button>
  <button class="sfgov-button-secondary" disabled>Disabled</button>
  <button class="sfgov-button-secondary-disabled" disabled>Disabled (deprecated)</button>
  <style scoped>
    .dark-bg {
      background-color: #212121;
    }
  </style>
</div>

<h6>Buttons on a dark background</h6>
<div class="button_wrapper">
  <div class="dark-bg">
    <button class="sfgov-button-secondary-inverse">Default</button>
    <button class="sfgov-button-secondary-inverse sfgov-button-hover">Hover</button>
    <button class="sfgov-button-secondary-inverse sfgov-button-active">Active</button>
    <button class="sfgov-button-secondary-inverse sfgov-focus">Focus</button>
    <button class="sfgov-button-secondary-inverse" disabled>Disabled</button>
    <button class="sfgov-button-secondary-inverse-disabled" disabled>Disabled (deprecated)</button>
  </div>
  <style scoped>
    .dark-bg {
      background-color: #212121;
    }
  </style>
</div>

<h6>Big button</h6>
<div class="button_wrapper">
  <button class="sfgov-button-big">Default</button>
  <style scoped>
    .dark-bg {
      background-color: #212121;
    }
  </style>
</div>

<div class="sfgov-cta-button__container">
  <a href="#">View all services</a>
</div>
