// Buttons variables
@import "../../00-protons/01-grid";
@import "../01-colors/01-colors.scss";
@import "../../01-atoms/02-typography/01-fonts.scss";

$button-border-radius: 5px !default;
$button-stroke: inset 0 0 0 2px;
$base-font-size: 1.7rem !default;
$small-font-size: 1.4rem !default;
$lead-font-size: 2rem !default;
$font-bold: 700 !default;
$font-normal: 400 !default;

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// Mixins for easy use with other scss files.

@mixin disabledesque {
  background-color: $color-gray-lighter;
  pointer-events: none;
  &:hover,
  &.usa-button-hover,
  &:active,
  &.usa-button-active,
  &:focus,
  &.usa-focus {
    background-color: $color-gray-lighter;
    border: 0;
    box-shadow: none;
  }
}

@mixin button-unstyled {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: $font-normal;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
  &:hover {
    background-color: transparent;
  }
}

// The default button:

@mixin sfgov-button() {
  @include font-smoothing;
  @include source-sans-pro;
  margin: 15px 0;
  background-color: $color-primary;
  border: 0;
  border-radius: $button-border-radius;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  @include media($mobile-screen) {
    width: auto;
  }
  &:hover {
    background-color: $color-primary-darker;
    border-bottom: 0;
    color: $color-white;
    text-decoration: none;
  }
  &:active {
    background-color: $color-primary-darkest;
  }
}

@mixin sfgov-button-primary-alt() {
  @include sfgov-button;
  background-color: $color-primary-alt;
  color: $color-base;
  &:hover {
    background-color: $color-primary-alt-dark;
  }
  &:active {
    background-color: $color-primary-alt-darkest;
    color: $color-white;
  }
}


@mixin sfgov-button-secondary() {
  @include sfgov-button;
  background-color: $color-white;
  box-shadow: $button-stroke $color-primary;
  color: $color-primary;
  &:hover {
    box-shadow: $button-stroke $color-primary-darker;
    color: #fff;
  }
  &:active {
    box-shadow: $button-stroke $color-primary-darkest;
    color: $color-primary-darkest;
  }
  &.is-active {
    background-color: #0071bc !important;
    color: #fff;
  }
}

@mixin sfgov-button-secondary-inverse() {
  background: transparent;
  box-shadow: $button-stroke $color-white;
  color: $color-white;
  &:hover {
    box-shadow: $button-stroke $color-gray-lighter;
    color: $color-gray-lighter;
  }
  &:active {
    box-shadow: $button-stroke $color-gray-light;
    color: $color-gray-lighter;
  }
}

@mixin sfgov-button-gray {
  @include sfgov-button;
  background-color: $color-gray;
  &:hover {
    background-color: $color-gray-dark;
  }
  &:active {
    background-color: $color-base;
  }
}

@mixin sfgov-button-red {
  @include sfgov-button;
  background-color: $color-secondary;
  &:hover {
    background-color: $color-secondary-dark;
  }
  &:active {
    background-color: $color-secondary-darkest;
  }
}

@mixin sfgov-button-big {
  @include sfgov-button;
  border-radius: 8px;
  font-size: 2.4rem;
  padding: 1.5rem 3rem;
}

// Using as class.

.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type=button],
[type=submit],
[type=reset],
[type=image] {
  @include font-smoothing;
  margin: 0.5em 0.5em 0.5em 0;
  appearance: none;
  background-color: $color-primary;
  border: 0;
  border-radius: $button-border-radius;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include media($mobile-screen) {
    width: auto;
  }

  &:hover,
  &.sfgov-button-hover {
    background-color: $color-primary-darker;
    border-bottom: 0;
    color: $color-white;
    text-decoration: none;
  }

  &:active,
  &.sfgov-button-active {
    background-color: $color-primary-darkest;
  }

  &.sfgov-button-primary-alt {
    background-color: $color-primary-alt;
    color: $color-base;

    &:hover,
    &.sfgov-button-hover {
      background-color: $color-primary-alt-dark;
    }

    &:active,
    &.sfgov-button-active {
      background-color: $color-primary-alt-darkest;
      color: $color-white;
    }
  }

  &.sfgov-button-secondary {
    background-color: $color-white;
    box-shadow: $button-stroke $color-primary;
    color: $color-primary;

    &:hover,
    &.sfgov-button-hover {
      box-shadow: $button-stroke $color-primary-darker;
      color: $color-primary-darker;
    }

    &:active,
    &.sfgov-button-active {
      box-shadow: $button-stroke $color-primary-darkest;
      color: $color-primary-darkest;
    }
  }

  &.sfgov-button-secondary-inverse,
  &.sfgov-button-outline-inverse {    // Outline inverse to be deprecated in 2.0
    background: transparent;
    box-shadow: $button-stroke $color-white;
    color: $color-white;

    &:hover,
    &.sfgov-button-hover {
      box-shadow: $button-stroke $color-gray-lighter;
      color: $color-gray-lighter;
    }

    &:active,
    &.sfgov-button-active {
      box-shadow: $button-stroke $color-gray-light;
      color: $color-gray-lighter;
    }
  }

  &.sfgov-button-gray {
    background-color: $color-gray;

    &:hover,
    &.sfgov-button-hover {
      background-color: $color-gray-dark;
    }

    &:active,
    &.sfgov-button-active {
      background-color: $color-base;
    }
  }

  &.sfgov-button-red {
    background-color: $color-secondary;

    &:hover,
    &.sfgov-button-hover {
      background-color: $color-secondary-dark;
    }

    &:active,
    &.sfgov-button-active {
      background-color: $color-secondary-darkest;
    }
  }

  &.sfgov-button-big {
    border-radius: 8px;
    font-size: 2.4rem;
    padding: 1.5rem 3rem;
  }

  &:disabled {
    @include disabledesque;
  }
}

.sfgov-button-disabled  // Deprecated
{
  @include disabledesque
}

.sfgov-button-secondary:disabled,
.sfgov-button-secondary-inverse:disabled,
.sfgov-button-outline-inverse:disabled {   // Outline inverse to be deprecated in 2.0
  box-shadow: $button-stroke $color-gray-lighter;
  pointer-events: none;
  color: $color-gray-lighter;

  &:hover,
  &.sfgov-button-hover,
  &:active,
  &.sfgov-button-active,
  &:focus,
  &.sfgov-focus {
    background-color: $color-white;
    border: 0;
  }
}

.sfgov-button-secondary:disabled {
  background-color: $color-white;
}

.sfgov-button-secondary-inverse:disabled {
  background-color: transparent;
  color: $color-gray;
  box-shadow: $button-stroke $color-gray;
}

.sfgov-button-unstyled {
  @include button-unstyled;
}

// Sfgov specific styles.

.sfgov-cta-button__container {
  a {
    @include font-smoothing;
    margin: 0.5em 0.5em 0.5em 0;
    appearance: none;
    background-color: $color-green;
    border: 0;
    border-radius: $button-border-radius;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: $base-font-size;
    font-weight: $font-bold;
    line-height: 1;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    width: auto;

    &:visited, &:hover {
      color: $color-white;
    }
  }
}
