.js-color-field-widget-spectrum__color.required,
.js-color-field-widget-spectrum__opacity.required {
  display: block !important;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
