@import "../../01-atoms/01-colors/01-colors.scss";

.sfgov-alpha-banner {
  //todo: add this color to color palette.
  background: $color-gray-dark;
  padding: 11px 0;
  .sfgov-alpha-banner__content {
    color: $color-white;
    font-size: 14px;
    line-height: 18px;
    a {
      color: $color-white;
      font-weight: bold;
    }
  }
}
