@import "../../01-atoms/01-colors/01-colors.scss";
@import "../../00-protons/01-grid";

.sfgov-new-website {
  background-color: $color-gray-lightest;
  padding: 30px 20px;
  @include media($medium-screen){
    padding: 40px susy-span(1 wide of 12 wide) 40px;
  }
  h2 {
    color: $color-blue-darkest;
    padding: 0;
    margin: 0;
  }
  p:last-child {
    margin: 15px 0px 0px;
    color: $color-gray;
  }
}
