.item-list li {
  display:none;
}
.load-more-wrapper {
  display: inline-block;
  font-weight: bold;
}
.loadMore {
  color:green;
  cursor:pointer;
  display: inline;
}
.loadMore:hover {
  color:black;
}
.showLess {
  color:red;
  cursor:pointer;
  display: inline;
  margin-left: 10px;
}
.showLess:hover {
  color:black;
}
