<h3 class="text-white text-title-xs m-0 mb-24">{{ label }}</h3>
<ul class="flex flex-wrap p-0 list-none">

{% set itemCount = items|length %}
{% set widthClass = itemCount >= 2 ? 'w-1/2' : 'w-full' %}

{% for item in items %}
  {% set uri = item.content['#paragraph'].field_link.0.url %}
  {% set title = item.content['#paragraph'].field_link.0.title %}

  <li class="mb-20 {{ widthClass }}"><a class="text-white text-body" href="{{ uri }}">{{ title  }}</a></li>
{% endfor %}

</ul>
