<h3 class="text-white text-title-xs font-medium m-0 mb-24">{{ label }}</h3>
<ul class="flex flex-wrap p-0 m-0 mb-40 list-none">

{% set itemCount = items|length %}
{% set widthClass = itemCount >= 2 ? 'w-1/2' : 'w-full' %}

{% for item in items %}
  {% set uri = item.content['#url'] %}
  {% set title = item.content['#title'] %}

  <li class="mb-20 w-full lg:{{ widthClass }} lg:pr-8"><a class="text-white text-body" href="{{ uri }}">{{ title  }}</a></li>
{% endfor %}

</ul>
