.sfgov-featured-item {
  @include rubik;
  display: block;
  background: $c-purple-3;
  text-decoration: none;
  color: $c-white;
  border-radius: $radius;
  padding: $rhythm * 2;
  
  .title {
    @include fs-title-5;
    color: $c-white;
    margin: 0 0 $rhythm 0;
  }
  .description {
    @include fs-body-short;
    color: $c-white;
    margin: 0;
  }
  &:hover {
    background: $c-purple-4;
  }
}