.sfgov-location-card {
  min-height: 255px;
  border-radius: 8px;
  display: inline-flex;
  background-size: cover;
  background-position: center;
  align-items: flex-end;
  text-decoration: none;
  width: 100%;

  .title {
    margin: 0;
    padding: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: $c-blue-2;
    @include fs-title-5;
    color: $c-black;
    border-radius: 0 0 8px 8px;
  }
}