.sfgov-news-card {
  @include rubik;
  background: $c-yellow-3;
  border: 0;
  border-radius: $radius;
  color: $c-slate;
  display: block;
  padding: $rhythm * 2;
  text-decoration: none;
  
  .title {
    @include fs-body-link-bold;
    color: $c-slate;
    margin: 0 0 $rhythm*6 0;
  }
  .description {
    @include fs-body-short;
    color: $c-slate;
    margin: 0;
  }
  &:hover {
    background: $c-yellow-4;
  }
}
