.sfgov-service-card {
  @include rubik;
  background: $c-white;
  border: 3px solid $c-grey-3;
  border-radius: $radius;
  color: $c-slate;
  display: block;
  padding: $rhythm * 2;
  text-decoration: none;
  
  .title {
    @include fs-body-link-bold;
    color: $c-bright-blue;
    margin: 0 0 $rhythm 0;
    text-decoration: underline;
  }
  .description {
    @include fs-body-short;
    color: $c-slate;
    margin: 0;
  }
  &:hover {
    border-color: $c-bright-blue;
  }
  &.no-hover:hover {
    border-color: $c-grey-3;
  }
}
