.sfgov-service-card {
  @include rubik;
  background: $c-white;
  border: 3px solid $c-grey-3;
  border-radius: $radius;
  color: $c-slate;
  display: block;
  padding: $rhythm * 2;
  text-decoration: none;
  
  .title {
    @include fs-body-link-bold;
    color: $c-bright-blue;
    margin: 0 0 $rhythm 0;
    text-decoration: underline;
  }
  .description {
    @include fs-body-short;
    color: $c-slate;
    margin: 0;
  }
  .tags {
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
    li {
      display: inline-block;
      background-color: $c-grey-2;
      color: $c-slate;
      padding: 3px 10px;
      margin: 0 10px 0 0;
    }
  }
  &:hover {
    border-color: $c-bright-blue;
  }
}
