.sfgov-topic-card {
  @include rubik;
  background: $c-grey-1;
  border: 0;
  border-radius: $radius;
  color: $c-slate;
  display: block;
  text-decoration: none;
  padding: $rhythm * 2;
  @media screen and (min-width: $medium-screen) {
    padding: $rhythm * 4;
  }
  .title {
    @include h3;
    color: $c-bright-blue;
    margin: 0 0 $rhythm 0;
  }
  .description {
    @include fs-body-short;
    color: $c-slate;
    margin: 0;
    opacity: 0.6;
  }
  &:hover {
    background: $c-grey-2;
    .description {
      opacity: 1;
    }
  }
}
