.sfgov-topic-card {
  @include rubik;
  background: $c-grey-1;
  border: 0;
  border-radius: $radius;
  color: $c-slate;
  display: block;
  text-decoration: none;
  padding: $rhythm * 2;
  @media screen and (min-width: $medium-screen) {
    padding: $rhythm * 4;
  }
  .title {
    @include h3;
    color: $c-bright-blue;
    margin: 0 0 $rhythm 0;
  }
  .description {
    @include fs-body-short;
    color: $c-slate;
    margin: 0;
    opacity: 0.6;
  }
  &:hover {
    background: $c-grey-2;
    .description {
      opacity: 1;
    }
  }
}

.page-node-type-public-body .sfgov-public-body-about {
  @include media($medium-screen) {
    .sfgov-container-item:nth-child(odd) a.sfgov-topic-card {
      margin-right: 60px;
    }
  }
  .sfgov-topic-card {
    background: none;
    border-top: 3px solid $c-border;
    border-radius: 0;
    padding: 0;
    padding-top: $rhythm * 2;
    padding-bottom: $rhythm * 2;
    .title {
      font-weight: 500;
      font-size: px-to-rem(17);
      line-height: px-to-rem(24);
      text-decoration: underline;
      color: $c-bright-blue;
      &:hover {
        color: $c-dark-blue;
      }
    }
    .description {
      color: $c-slate;
      font-size: px-to-rem(17);
      line-height: px-to-rem(24);
      opacity: 1;
    }
  }
}
