@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

@mixin outer-container($local-max-width: $max-width) {
  @include clearfix;
  max-width: $local-max-width;
  margin: {
    left: auto;
    right: auto;
  }
}


// visually-hidden
//
// Hide elements visually, but keep them available for screen readers. Don't use
// this for elements that need to be focusable (e.g. a, button, input, select,
// textarea). For those, please use `visually-hidden-focusable` instead.
//
// Usage: `@include visually-hidden;`

@mixin visually-hidden {
  & {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal;
  }
}

// visually-hidden-focusable
//
// Hide elements visually, but keep them available, and focusable for screen
// reader and keyboard users.
//
// Usage: `@include visually-hidden-focusable;`

@mixin visually-hidden-focusable {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static !important;
    width: auto;
  }
}
