.sfgov-dept-news {
  @include clearfix;
  background: $c-yellow-1;
  padding-bottom: 80px;
  padding-top: 60px;

  @include media($medium-screen) {
    padding-top: 80px;
  }

  h2 {
    @include fs-h1;
    margin-bottom: 40px;
  }

  .views-news--rows {
    @include contain-1090-table;
  }

  .news-cards {
    @include column-table-row-three;
  }

  .more-link {
    @include media($medium-screen) {
      padding-left: 61px;
    }

    a {
      @include button;
    }
  }
}
