.path-frontpage {
  .view-events-block-container {
    @include contain-1090;
    padding-top: 60px;
    padding-bottom: 60px;
    @include media($wide-screen) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}
.view-events-block-container {
  .more-link {
    display: inline-block;
    margin-top: 20px;
    a {
      @include button;
      display: block;
    }
  } 
}
.view-events-block {
  > .title {
    @include fs-title-1;
    margin-bottom: 40px;
  }
}