@import 'view-meetings-filters';

/* purgecss start ignore */
.views--meetings {
  .sfgov-section-container {
    @include contain-1090;
    overflow: hidden;
  }

  .hero-banner {
    background-color: $c-green-3;
    a {
      color: $c-white;
    }
    .hero-banner--container {
      h1 {
        margin-bottom: 0;
        color: $c-white;
      }
      .lead-paragraph {
        margin-top: 20px;
        color: $c-white;
        p {
          margin: 0;
        }
      }
    }
  }

  .content {
    padding: 60px 0;
    @media (max-width: $mobile-screen) {
      padding-top: 0;
    }
  }

  @media (max-width: $mobile-screen) {
    .view-grouping {
      padding: 60px 20px;
      margin: 0 -20px;

      &:nth-child(even) {
        background-color: #F6F7F8;
      }

      &:last-child {
        margin-bottom: 60px;
      }
    }
  }

  .meeting--teaser {
    p {
      margin: 0;
      padding: 0;
    }
  }

  .group--left {
    @include columns-780(left);
  }
  .group--right {
    @include columns-350(right);

    &.sfgov-upcoming-meetings {
      clear: right;
    }

    .inner {
      background: $c-green-1;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 30px 20px;

      @include media($narrow-screen) {
        padding: 40px;
      }

      a {
        @include button;
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
}

/* purgecss end ignore */
