.path-services {
  .sfgov-services {
    @include contain-1090;
    margin-top: 65px;
    margin-bottom: 80px;
    @include media-max($medium-screen) {
      .hero-banner.default {
        h1 {
          @include fs-display-1-mobile;
        }
      }
    }
  }
  .sfgov-tabbed-navigation {
    display: none;
  }
}

.path-frontpage {
  .sfgov-services {
    .sfgov-container-item h6 {
      margin: 0;
    }
  }
}

.views--services {
  &--services_search {
    .hero-banner {
      background-color: $c-blue-3;
      margin-bottom: 60px;
    }
    .sfgov-section-container {
      @include contain-1090;
      overflow: hidden;
    }
    .group--left {
      @include columns-780(left);
    }
    .group--right {
      @include columns-350(right);

      legend {
        @include fs-title-3;
        margin: 0;
      }

      &.sfgov-related-topics {
        clear: right;
      }

      .inner {
        background: $c-blue-1;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 30px 20px;

        @include media($narrow-screen) {
          padding: 40px;
        }

        a {
          @include button;
          margin-top: 20px;
          display: inline-block;
        }
      }
    }

    .views-row {
      margin-bottom: 20px;
    }
  }
}