.path-services {
  .sfgov-services {
    @include contain-1090;
    margin-top: 65px;
    margin-bottom: 80px;
    @include media-max($medium-screen) {
      .hero-banner.default {
        h1 {
          @include fs-display-1-mobile;
        }
      }
    }
  }
  .sfgov-tabbed-navigation {
    display: none;
  }
}

.path-frontpage {
  .sfgov-services {
    .sfgov-container-item h6 {
      margin: 0;
    }
  }
}
