.view-news-block-view-container {
  .more-link > a {
    @include rubik;
    @include fs-body-bold;
    background: $c-bright-blue;
    border-radius: 8px;
    color: $c-white;
    display: inline-block;
    margin-top: 15px;
    padding: 13px 20px 11px;
    text-decoration: none;
  }
}

.view-news-block {
  > .title {
    @include fs-title-1;
    margin-bottom: 40px;
  }
}
