.sfgov-dept-news {
  @include clearfix;
  background: $c-yellow-pale;
  padding-bottom: 80px;
  padding-top: 60px;

  @include media($medium-screen) {
    padding-top: 80px;
  }

  .views-news--rows {
    margin-bottom: 40px;

    @include media($medium-screen) {
      @include clearfix;
      margin-bottom: 56px;
      padding-left: 61px;
    }
  }

  .views-row {
    @include media($medium-screen) {
      float: left;
      margin-right: 5%;
      width: 30%;
    }

    &:nth-child(3) {
      @include media($medium-screen) {
        margin-right: 0;
      }
    }
  }

  h3 {
    @include fs-h1;
    margin: 0 0 40px;
  }

  .more-link {
    @include media($medium-screen) {
      padding-left: 61px;
    }

    a {
      @include button;
    }
  }
}
