@import 'view-meetings-filters';

.views--meetings {
  .ms-parent {
    width: 100%;
  }

  .sfgov-section-container {
    @include contain-1090;
    overflow: hidden;
  }

  .hero-banner {
    background-color: $c-green-3;
    a {
      color: $c-white;
    }
    .hero-banner--container {
      h1 {
        margin-bottom: 0;
        color: $c-white;
      }
      .lead-paragraph {
        margin-top: 20px;
        color: $c-white;
        p {
          margin: 0;
        }
      }
    }
  }

  .content {
    padding: 60px 0;
    @media (max-width: $mobile-screen) {
      padding-top: 0;
    }
  }

  @media (max-width: $mobile-screen) {
    .view-grouping {
      padding: 60px 20px;
      margin: 0 -20px;

      &:nth-child(even) {
        background-color: #F6F7F8;
      }

      &:last-child {
        margin-bottom: 60px;
      }
    }
  }

  h2.group {
    @include fs-title-2;
    margin-bottom: 60px;
  }

  h3.group {
    @include fs-title-4;
    margin-bottom: 20px;
  }

  .views-row {
    margin-bottom: 40px;

    @media (min-width: $mobile-screen) {
      padding-left: 30px;
    }
    @media (max-width: $mobile-screen) {
      &:last-child {
        margin: 0;
      }
    }

    article {
      .article--teaser__title {
        @include fs-title-5;
      }
      .meeting__content {
        .__footer {
          display: flex;
          margin-top: 1rem;
          @media (max-width: $mobile-screen) {
            flex-direction: column;
          }

          .__time,
          .__address {
            @media (min-width: $mobile-screen) {
              width: 50%;
            }
            @media (max-width: $mobile-screen) {
              margin-bottom: 10px;
            }
            position: relative;
            padding-left: 35px;

            &:before {
              content: ' ';
              width: 20px;
              height: 20px;
              position: absolute;
              top: 3px;
              left: 0;
            }

            p {
              margin: 0;
            }

            .country {
              display: none;
            }
          }

          .__time:before {
            @include background-image('icons/clock_1-outlined.svg');
          }
          .__address:before {
            @include background-image('icons/location-2.svg');
          }
        }
      }
    }
  }

  .group--left {
    @include columns-780(left);
  }
  .group--right {
    @include columns-350(right);

    &.sfgov-upcoming-meetings {
      clear: right;
    }

    .inner {
      background: $c-green-1;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 30px 20px;

      @include media($narrow-screen) {
        padding: 40px;
      }

      a {
        @include button;
        margin-top: 20px;
        display: inline-block;
      }
    }
  }

  &--page_past {
    .meeting__content .__footer {
      display: none !important;
    }
  }
}
