.views--meetings {
  .hero-banner {
    background-color: $c-green-3;
    .hero-banner--container {
      h1 {
        margin-bottom: 0;
        color: $c-white;
      }
      .lead-paragraph {
        margin-top: 20px;
        color: $c-white;
        p {
          margin: 0;
        }
      }
    }
  }

  .content {
    padding: 60px 0;
  }

  h2.group {
    @include fs-title-2;
    margin-bottom: 60px;
  }

  h3.group {
    @include fs-title-4;
    margin-bottom: 20px;
  }

  .views-row {
    padding-left: 30px;
    margin-bottom: 40px;

    article {
      .article--teaser__title {
        @include fs-title-5;
      }
      .meeting__content {
        .__footer {
          display: flex;
          margin-top: 1rem;

          .__time,
          .__address {
            width: 50%;
            position: relative;
            padding-left: 35px;

            &:before {
              content: ' ';
              width: 20px;
              height: 20px;
              position: absolute;
              top: 3px;
              left: 0;
            }

            p {
              margin: 0;
            }

            .country {
              display: none;
            }
          }

          .__time:before {
            @include background-image('icons/clock_1-outlined.svg');
          }
          .__address:before {
            @include background-image('icons/location-2.svg');
          }
        }
      }
    }
  }

  .sfgov-section-container {
    @include contain-1090;
  }

  &--page_past {
    .meeting__content .__footer {
      display: none !important;
    }
  }
}
