.sfgov-filters {

  .views--meetings .group--right &.inner {
    padding-top: 32px;
    padding-bottom: 40px;

    @include media-max($medium-screen) {
      // Break out of .sfgov-section-container.
      border-radius: 0;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  // "Filters" legend only.
  [data-filter-toggle-container] {
    > legend {
      @include fs-title-4;
      line-height: 1;
      margin-bottom: 40px;

      @include media($medium-screen) {
        @include fs-title-3;
        line-height: 1;
      }
    }

    &.is-collapsed {
      margin-bottom: -10px;

      > legend {
        margin-bottom: 30px;
      }
    }
  }

  form {
    max-width: 100%;
  }

  select {
    padding: 10px 56px 10px 16px;
    line-height: 20px;
  }

  .fieldset-wrapper {
    // Regular form items.
    .form-item {
      margin: 0 0 20px 0;
    }

    // Checkboxes / Radios
    fieldset.form-item {
      margin: 40px 0;

      legend {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: 24px;
      }
    }
  }

  .form-checkboxes {
    border: solid 2px $c-grey-3;
    border-radius: 8px;
    padding: 22px 20px;
    max-height: 200px;
    overflow-y: scroll;

    // Start: scroll shadows
    background:
      linear-gradient(#ffffff 33%, rgba(255,255,255, 0)),
      linear-gradient(rgba(255,255,255, 0), #ffffff 66%) 0 100%,
      radial-gradient(farthest-side at 50% 0, rgba(0,0,0, 0.15), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 50% 100%, rgba(0,0,0, 0.15), rgba(0,0,0,0)) 0 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 60px, 100% 60px, 100% 10px, 100% 10px;
    // End: scroll shadows

    @include media($narrow-screen) {
      max-height: 250px;
    }

    // Scroll bar always visible (where supported).
    &::-webkit-scrollbar {
      -webkit-appearance: none;

      &:vertical {
        width: 10px;
      }
      &:horizontal {
        height: 10px;
      }
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid white; /* background-color */
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.3);
    }

    + .description {
      @include visually-hidden;
    }

    label {
      display: inline-block;
      padding: 0 0 0 40px;
      margin: 0 0 20px 0;
      font-size: 15px;
      line-height: 18px;

      &::before {
        background-color: #fff;
        border-radius: 4px;
        border: solid 2px $c-slate;
        content: '';
        flex: 0 0 18px;
        height: 18px;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        width: 18px;
      }
    }

    // Individual checkbox items.
    .form-item {
      display: block;
      font-size: inherit;
      margin: 0;
      padding: 0;
      position: relative;
      line-height: 1;

      &:last-child label {
        margin-bottom: 0;
      }
    }
  }

  // Checkbox input element.
  .form-checkbox {
    appearance: none;
    height: 20px;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 20px;

    &:checked + label::before {
      background-color: $c-slate;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.875 8.378a.622.622 0 01-.443-.183l-2.25-2.25a.625.625 0 11.885-.882L2.875 6.87 8.935.81a.625.625 0 01.882.885l-6.5 6.5a.623.623 0 01-.442.183z' fill='%23fff'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
    }

    &:focus + label::before {
      border-color: $c-bright-blue;
      box-shadow: 0 0 0 2px $c-bright-blue;
    }

    &:focus:checked + label::before {
      background-color: $c-bright-blue;
      border-color: $c-bright-blue;
      box-shadow: 0 0 0 2px $c-bright-blue;
      outline: none;
    }
  }

  .button {
    @include rubik;
    border: 0;
    box-shadow: none;
    font-size: 1rem;
    line-height: 24px;
    margin: 0;
    padding: 10px 20px;
    width: auto;

    &:focus {
      @include focus-outline;
      background-color: $c-bright-blue;
      border-color: $c-bright-blue;
    }

    &:hover {
      background-color: $c-dark-blue;
      border-color: $c-dark-blue;
    }
  }

  .filter-toggle {
    @include rubik;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $c-bright-blue;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: auto;

    &:focus {
      @include focus-outline;
    }

    &:hover {
      text-decoration: underline;
    }

    span {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      position: relative;

      &::before {
        content: '';
        background: transparent url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE3LjQ2IDE0Ljc1NWExLjI0NSAxLjI0NSAwIDAxLS44ODUtLjM2NUw5Ljk2IDcuNzc1IDMuMzQ1IDE0LjM5YTEuMjUyIDEuMjUyIDAgMDEtMS43Ny0xLjc3bDcuNS03LjVhMS4yNiAxLjI2IDAgMDExLjc3IDBsNy41IDcuNWExLjI2IDEuMjYgMCAwMTAgMS43NyAxLjI0NiAxLjI0NiAwIDAxLS44ODUuMzY1eiIgZmlsbD0iIzRGNjZFRSIvPjwvc3ZnPg==) no-repeat;
        display: inline-flex;
        height: 20px;
        margin-right: 12px;
        width: 20px;
      }
    }

    &--hide {
      margin-top: 40px;
    }

    &--show span::before {
      transform: rotate(180deg);
    }
  }
}
