.path-news {
  @include rubik;
  color: $c-slate;

  .hero-banner {
    background: $c-yellow-3;
    padding: 60px 0;

    h1 {
      @include rubik;
      @include fs-h1;
      color: $c-slate;
    }
  }

  .lead-paragraph {
    @include fs-big-description-mobile;
    color: $c-slate;
  }

  .view-news {
    @include contain;
  }

  .pager {
    margin: 40px 0;
    padding: 0;

    @include media($medium-screen) {
      margin: 113px 0 62px;
    }

    li {
      list-style: none;
    }

    a {
      @include button-clear;
      display: block;
    }
  }
}


