.path-events {
  @include rubik;
  color: $c-text;

  .hero-banner {
    background: #00896d;
    padding: 40px 0 60px;

    h1 {
      @include rubik;
      @include fs-h1;
      color: #fff;
    }
  }

  .lead-paragraph {
    @include fs-big-description-mobile;
    color: #fff;
  }

  .view-events {
    @include contain;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .pager {
    margin: 40px 0;
    padding: 0;

    @include media($medium-screen) {
      margin: 113px 0 62px;
    }

    li {
      list-style: none;
    }

    a {
      @include button-clear;
      display: block;
    }
  }
}


