.view-events-block-container {
  .more-link {
    display: inline-block;
    margin-top: 20px;
    a {
      @include button;
      display: block;
    }
  } 
}
.view-events-block {
  > .title {
    @include fs-title-1;
    margin-bottom: 40px;
  }
}