@import "../../01-atoms/02-typography/01-fonts.scss";

.sfgov-banner {
  // todo: add this color to the styleguide.
  background: #e1f3f8;
  .sfgov-banner__container {
    overflow: auto;
    padding: 42px 0 53px 0;
    display: flex;
    flex-direction: column;
  }
  h1 {
    // todo: add this color to the styleguide.
    color: #205493;
    @include merriweather;

  }
  .lead-paragraph {
    margin-bottom: 25px;
  }
  .date {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: #5b616b;
    line-height: 19px;
  }
}
