<div class="sfgov-banner">
  <div class="sfgov-banner__container usa-nav-container">
    {% for banner in homepage.hero_banners %}
      <h1>{{ banner.title }}</h1>
      <span class="lead-paragraph">{{ banner.text }}</span>
      <span class="date">{{ banner.date|date('l, F d') }}</span>
    {% endfor %}
  </div>
</div>
