body {
  @include rubik;
  @include fs-body-short;
  color: $c-text;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  clear: both;
  margin-bottom: .5em;
  margin-top: 0;
}

a {
  @include link-colors($c-blue-button)
}

li {
  margin-bottom: 0;
}

img {
  height: auto;
}

.sfgov-list-link {
  @include link-colors($c-blue-button);
  @include fs-title;
}

.sfgov-cta-button__container a {
  @include button;
}

// Rounded corners.
.person-photo {
  border-radius: 8px;
}

// Generic text styles.
.field--type-text,
.field--type-text-long,
.field--type-text-with-summary {
  strong,
  b {
    font-weight: $fw-medium;
  }

  li {
    @include fs-body-long;
    margin-bottom: 15px;
  }
}

// Forms.
::placeholder {
  color: rgba(28, 62, 87, .4);
}
