.sfgov-new-website {
  margin-bottom: 30px;
  margin-top: 20px;
}

.block-views-exposed-filter-blocksearch-page-1 {
  .sfgov-container {
    @media all and (max-width: 929px) {
      padding: 0;
    }
  }
}

.sfgov-nav.sfgov-mobile_nav-container {
  flex-grow: 1;
}

@media screen and (max-width: 950px) {
  .sfgov-logo__container {
    flex-grow: 1;
  }
}

.translate-container {
  display: flex;
  align-items: center;
}
#block-gtranslate {
  display: flex;
  align-items: center;
}
.gtranslate {
  cursor: pointer;
  display: flex;
  max-width: 150px;
  @media all and (max-width: 494px) {
    width: 41px;
  }
  &:hover {
    background: #122E51;
    select {
      color: #fff;
    }
    &::before {
      background: url("../../src/img/translate_white.png") no-repeat;
      background: url("../../src/img/translate_white.svg") no-repeat;
    }
  }
  &::before {
    content: '';
    background: url("../../src/img/translate.png") no-repeat;
    background: url("../../src/img/translate.svg") no-repeat;
    height: 30px;
    width: 55px;
    display: block;
    position: relative;
    top: 5px;
    margin-left: 5px;
    @media all and (max-width: 494px) {
      min-width: 48px;
      display: block;
      right: 0;
    }
  }

  select {
    border: 0;
    margin: 0;
    font-size: 13px;
    line-height: 17px;
    color: #0071bc;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    position: relative;
    right: 40px;
    padding: 5px 5px 5px 50px;
    background: transparent;
    @media all and (max-width: 494px) {
      font-size: 0;
    }
    &:focus {
      outline: 0;
    }
    option {
      background: #122E51;
      padding: 0;
      margin: 0;
      width: 300px;
      @media all and (max-width: 494px) {
        font-size: 13px;
        position: relative;
        right: 50px;
      }
    }
  }
}

.sfgov-logo {
  @media all and (max-width: 950px) {
    flex-grow: 1;
  }
}
