.sfgov-new-website {
  margin-bottom: 30px;
  margin-top: 20px;
}

.block-views-exposed-filter-blocksearch-page-1 {
  .sfgov-container {
    @media all and (max-width: 929px) {
      padding: 0;
    }
  }
}
