$color-blue: #0071bc;
$color-blue-darker: #205493;
$color-blue-darkest: #112e51;
$color-aqua: #02bfe7;
$color-aqua-dark: #00a6d2;
$color-aqua-darkest: #046b99;
$color-aqua-light: #9bdaf1;
$color-aqua-lightest: #e1f3f8;
$color-red: #e31c3d;
$color-red-dark: #cd2026;
$color-red-darkest: #981b1e;
$color-red-light: #e59393;
$color-red-lightest: #f9dede;
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #212121;
$color-gray-dark: #323a45;
$color-gray: #5b616b;
$color-gray-medium: #757575;
$color-gray-light: #aeb0b5;
$color-gray-lighter: #d6d7d9;
$color-gray-lightest: #f1f1f1;
$color-gray-warm-dark: #494440;
$color-gray-warm-light: #e4e2e0;
$color-gray-cool-light: #dce4ef;
$color-gold: #fdb81e;
$color-gold-light: #f9c642;
$color-gold-lighter: #fad980;
$color-gold-lightest: #fff1d2;
$color-green: #2e8540;
$color-green-light: #4aa564;
$color-green-lighter: #94bfa2;
$color-green-lightest: #e7f4e4;
$color-cool-blue: #205493;
$color-cool-blue-light: #4773aa;
$color-cool-blue-lighter: #8ba6ca;
$color-cool-blue-lightest: #dce4ef;
$color-purple: #4c2c92;

// Functional colors
$color-primary:              $color-blue !default;
$color-primary-darker:       $color-blue-darker !default;
$color-primary-darkest:      $color-blue-darkest !default;

$color-primary-alt:          $color-aqua !default;
$color-primary-alt-dark:     $color-aqua-dark !default;
$color-primary-alt-darkest:  $color-aqua-darkest !default;
$color-primary-alt-light:    $color-aqua-light !default;
$color-primary-alt-lightest: $color-aqua-lightest !default;

$color-secondary:            $color-red !default;
$color-secondary-dark:       $color-red-dark !default;
$color-secondary-darkest:    $color-red-darkest !default;
$color-secondary-light:      $color-red-light !default;
$color-secondary-lightest:   $color-red-lightest !default;

$color-base:                 $color-black-light !default;
$color-focus:                $color-gray-light !default;
$color-visited:              $color-purple !default;

$color-shadow:               rgba(#000, 0.3) !default;
$color-transparent:          rgba(#000, 0) !default;
