@import "mixins";

.path-frontpage .landing__content > .field__items > {
  .field__item:first-child {
    // search slice.
    background-color: #E2E2E2;
    padding-top: 36px;
    padding-bottom: 34px;
    .paragraph--type--section {
      &::after {
        content: '';
        display: table;
        clear: both;
      }
      .field__items {
        .field__item:first-child {
          width: 100%;
        }
        .field__item {
          float: left;
          margin-right: 10px;
          @media all and (min-width: 484px) {
            margin-right: 0;
          }
        }
        .field__item:nth-child(5) {
          @media all and (min-width: 769px) {
            clear: left;
          }
        }
        .paragraph--type--button {
          a {
            margin: 15px 15px 0 0;
            border: 2px solid #0071bc;
            background: #fff;
            color: #0071bc;
            padding: 12px 23px 14px 23px;
            font-size: 15px;
            line-height: 19px;
          }
        }
      }
    }
  }
}


.sfgov-responsive--search-form {
  .sfgov-search-form {
    .js-form-type-textfield {
      display: none;
      @include media($medium-screen) {
        width: 194px;
        display: block;
      }
    }
    .form-actions {
      position: relative;
      padding-right: 10px;
      @include media($medium-screen) {
        padding-right: 0;
      }
      &::before {
        position: absolute;
        content: ' ';
        display: block;
        background: url("../images/icons/search.png") no-repeat;
        background: url("../images/icons/search.svg") no-repeat;
        width: 30px;
        height: 30px;
        pointer-events: none;
        left: 6px;
        top: 6px;
        @include media($medium-screen + 1) {
          left: 15px;
          top: 5px;
        }
      }
      [type=submit] {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 45px !important;
        @include media($medium-screen) {
          width: 63px !important;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
