.path-frontpage .landing__content > .field__items > {
  .field__item:first-child {
    // search slice.
    background-color: #E2E2E2;
    padding-top: 36px;
    padding-bottom: 34px;
    .paragraph--type--section {
      &::after {
        content: '';
        display: table;
        clear: both;
      }
      .field__items {
        .field__item:first-child {
          width: 100%;
        }
        .field__item {
          float: left;
          margin-right: 10px;
          @media all and (min-width: 484px) {
            margin-right: 0;
          }
        }
        .field__item:nth-child(5) {
          @media all and (min-width: 769px) {
            clear: left;
          }
        }
        .paragraph--type--button {
          a {
            margin: 15px 15px 0 0;
            border: 2px solid #0071bc;
            background: #fff;
            color: #0071bc;
            padding: 12px 23px 14px 23px;
            font-size: 15px;
            line-height: 19px;
          }
        }
      }
    }
  }
}


