.sfgov-icon-location {
  &::before {
    background: url("../images/icons/location.png");
    background: url("../images/icons/location.svg") no-repeat;
  }
}
.sfgov-icon-phone {
  &::before {
    background: url("../images/icons/phone.png");
    background: url("../images/icons/phone.svg") no-repeat;
  }
}
.sfgov-icon-department {
  &::before {
    background-image: url("../images/icons/department.png");
    background-image: url("../images/icons/department.svg");
  }
}
.sfgov-icon-filefilled {
  &::before {
    background-image: url("../images/icons/fileFilled.png");
    background-image: url("../images/icons/fileFilled.svg");
  }
}