.sfgov-full-bleed {
  padding: 40px 0;
  @include media($medium-screen) {
    padding: 80px 0;
    &.card-container {
      padding-bottom: 60px;
    }
  }
  &.padding-zero {
    padding: 0;
  }
  &.white {
    background: $c-white;
  }
  &.light-blue {
    background: $c-blue-1;
  }
  &.light-yellow {
    background: $c-yellow-1;
  }
  &.dark-blue {
    background: $c-dark-blue;
  }
  &.light-green {
    background: $c-green-1;
  }
  .sfgov-section-container {
    @include contain-1090;
  }
  &--breakout {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

// Sticky Footer
// This code uses the technique from:
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

.layout-container {
  // Note: Oddly, this particular rule exists in the Pattern Lab, but including
  // it here again anyway, for completeness:
  // pattern-lab/source/_patterns/05-pages/01-homepage/01-homepage.scss
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}
