// TODO: deprecate, as new styles will be coming in

.sfgov-alert-error {
  @include background-image('alerts/error.png', 20px 29px, #f9dede);
  @include background-image('alerts/error.svg', 20px 29px, #f9dede);
  background-size: 75px;
}

.sfgov-alert-success {
  @include background-image('alerts/success.png', 20px 29px, #e7f4e4);
  @include background-image('alerts/success.svg', 20px 29px, #e7f4e4);
  background-size: 75px;
}

.sfgov-alert-warning {
  @include background-image('alerts/warning.png');
  @include background-image('alerts/warning.svg');
}
