.sfgov-alert-error {
  background-image: url(./../images/alerts/error.png);
  background-image: url(./../images/alerts/error.svg);
}

.sfgov-alert-success {
  background-image: url(./../images/alerts/success.png);
  background-image: url(./../images/alerts/success.svg);
}

.sfgov-alert-warning {
  background-image: url(./../images/alerts/warning.png);
  background-image: url(./../images/alerts/warning.svg);
}
