// Note: Only define font size, weight, line height and letter spacing in fs- definitions.

// Ordered by fontsize, then line height, then by font weight

// https://app.zeplin.io/project/5cd9e1b9936b89681acbd2d6/styleguide

@mixin fs-display-1 {
  font-size: 72px;
  font-weight: $fw-light;
  letter-spacing: -2px;
  line-height: 80.2px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 72px;
    line-height: 107px;
    letter-spacing: 4px;
  }
}

@mixin fs-title-1 {
  font-size: 62px;
  font-weight: $fw-medium;
  letter-spacing: 0;
  line-height: 70px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 62px;
    line-height: 80px;
    letter-spacing: 2px;
    font-weight: $fw-bold;
    @include antialiasing;
  }
}

@mixin fs-header-title-2 {
  font-size: 50px;
  font-weight: $fw-light;
  letter-spacing: 0;
  line-height: 59px;
}

@mixin fs-display-1-mobile {
  font-size: 42px;
  font-weight: $fw-light;
  letter-spacing: 0;
  line-height: 43px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 42px;
    line-height: 62px;
    letter-spacing: 2px;
  }
}

@mixin fs-title-2 {
  font-size: 40px;
  font-weight: $fw-medium;
  line-height: 47px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 40px;
    line-height: 59px;
    letter-spacing: 2px;
  }
}

@mixin fs-title-1-mobile {
  font-size: 33px;
  font-weight: $fw-medium;
  line-height: 43px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 34px;
    line-height: 54px;
    letter-spacing: 2px;
  }
}

@mixin fs-big-description {
  font-size: 24px;
  font-weight: $fw-regular;
  line-height: 36px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 2px;
  }
}

@mixin fs-title-5 {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 27px;
  &.sfgov-translate-lang-zh-TW {
    font-weight: $fw-bold;
    line-height: 30px;
    letter-spacing: 2px;
    @include antialiasing;
  }
}

@mixin fs-body-bold {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 24px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: $fw-bold;
    @include antialiasing;
  }
}

@mixin fs-body-short {
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 24px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}

@mixin fs-body-long {
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 28px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}

@mixin fs-title-3 {
  font-size: 30px;
  font-weight: $fw-medium;
  line-height: 42px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 2px;
    font-weight: $fw-bold;
    @include antialiasing;
  }
}

@mixin fs-big-description-mobile {
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 29px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@mixin fs-title-3-mobile {
  font-size: 24px;
  font-weight: $fw-medium;
  line-height: 30px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@mixin fs-title-4 {
  font-size: 24px;
  font-weight: $fw-medium;
  line-height: 34px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
    font-weight: $fw-bold;
    @include antialiasing;
  }
}

@mixin fs-small-text {
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 18px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
  }
}

@mixin fs-highlight {
  font-size: 20px;
  line-height: 32px;
  font-weight: $fw-medium;
}

@mixin fs-body-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: $fw-regular;
  text-decoration: underline;
}

@mixin fs-body-italic {
  font-size: 17px;
  line-height: 24px;
  font-weight: $fw-regular;
  font-style: italic;
}

// Styles from older Zeplin file to deprecate.
// https://app.zeplin.io/project/5ccb490a87477603a8753db7/styleguide

@mixin fs-h1-small {
  font-size: 33px;
  font-weight: $fw-medium;
  letter-spacing: -.3px;
  line-height: 43px;
}

@mixin fs-pull-small {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 34px;
}

@mixin fs-pull-large {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 32px;
}

@mixin fs-news-title {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 30px;
}

@mixin fs-new-website-text {
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 28px;
}

@mixin fs-title-right {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 24px;
}

@mixin fs-big-link {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 27px;
  &.sfgov-translate-lang-zh-TW {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
  }
}

@mixin fs-body-3 {
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 28.9px;
}

@mixin fs-title {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 24px;
  text-decoration: underline;
}

@mixin fs-nav-link {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 20px;
}

@mixin fs-news-type {
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 28px;
}

@mixin fs-nav-item {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 18px;
}

// Complex mixins.
@mixin fs-h1 {
  @include fs-h1-small;
  @include  media($medium-screen) {
    @include fs-title-1;
  }
}

@mixin fs-h1-default {
  @include fs-display-1-mobile;
  @include  media($medium-screen) {
    @include fs-display-1;
  }
}

@mixin fs-h1-home {
  @include fs-display-1-mobile;
  @include  media($medium-screen) {
    @include fs-display-1;
  }
}

@mixin fs-pull {
  @include fs-pull-small;
  @include  media($medium-screen) {
    @include fs-pull-large;
  }
}
