@mixin ankle($field-element){
  padding-bottom: 60px;
  padding-top: 41px;

  #{$field-element} {
    @include contain-1090;
    @include fs-body-short;

    .field__label {
      @include fs-h2;
    }

    .field__item {
      margin-bottom: 20px;
      padding-left: 40px;
    }

    a {
      @include link-colors($c-blue-button, $c-text);
    }
  }
}

@mixin antialiasing($type:antialiased) {
  /* antialiased, none, subpixel-antialiased*/
  -webkit-font-smoothing: $type;
  font-smoothing: $type;
  font-smooth: always;
}

@mixin background-image($file-name, $position: 50% 50%, $color: transparent) {
  background: url('/themes/custom/sfgovpl/src/img/#{$file-name}') no-repeat $position $color;
}

@mixin columns-780($left-or-right) {
  @include media($medium-screen){
    float: #{$left-or-right};
    max-width: 780px;
    width: calc((100% - 20px)/3*2);
  }
}

@mixin columns-720($left-or-right) {
  @include media($medium-screen){
    float: #{$left-or-right};
    max-width: 720px;
    width: calc((100% - 20px)/3*2);
  }
}

@mixin columns-350($left-or-right) {
  @include media($medium-screen){
    float: #{$left-or-right};
    max-width: 350px;
    width: calc((100% - 40px)/3);
  }
}

@mixin contain { // @todo Deprecate this mixin.
  margin: 0 auto;
  max-width: 1276px;
  padding-left: 20px;
  padding-right: 20px;

  @include  media($medium-screen) {
    padding-left: 96px;
    padding-right: 96px;
  }
}

@mixin contain-1280 { // Zeplin Artboard.
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@mixin contain-1210 { // Para titles.
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include media($wide-screen) {
    padding: 0;
  }
}

@mixin contain-1150 { // Contents with offset.
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include media($wide-screen) {
    padding: 0 60px 0 0;
  }
}

@mixin contain-1090 { // Most contents.
  margin: 0 auto;
  max-width: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include media($wide-screen) {
    padding: 0;
  }
}

@mixin blockquote {
  @include fs-pull-large;
  background: $c-yellow-mid;
  border-radius: 10px 0 0 10px;
  font-style: italic;
  margin: 30px -20px 40px 0;
  padding: 35px 38px 27px;

  @include media($medium-screen) {
    margin: 30px -96px 40px 0;
  }

  @include media($narrow-screen) {
    margin: 30px -96px 40px $w-news-body + 40px;
    position: absolute;
  }

  p {
    margin: 0;
    max-width: none;

    @include media($narrow-screen) {
      max-width: calc(100% - 76px);
    }
  }
}

@mixin button {
  background: $c-blue-button;
  border-radius: 8px;
  color: $c-white;
  font-size: 17px;
  font-weight: $fw-medium;
  padding: 13px 20px 11px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $c-blue-button-hover;
  }
}

@mixin button-clear {
  @include button;
  background: $c-white;
  border: 3px solid $c-blue-button;
  color: $c-blue-button;

  &:hover {
    background: $c-blue-button;
    color: $c-white;
  }
}

@mixin icon-transaction-help($file-name) {
  position: relative;
  margin-left: 42px;

  &:before {
    @include background-image(#{$file-name}, top);
    content: '';
    display: inline-block;
    height: 20px;
    left: -42px;
    padding-right: 22px;
    position: absolute;
    top: 6px;
    width: 20px;
  }
}

// Link mixin
// @param {color} $normal - normal color
// @param {color} $hover  - hover
// @param {color} $active - active
// @param {color} $focus - focus
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  &:link {
    color: $normal;
  }

  @if $visited {
    &:visited,
    &:link:visited {
      color: $visited;
    }
  }

  @else {
    &:visited,
    &:link:visited {
      color: $normal;
    }
  }

  @if $focus {
    &:focus {
      color: $focus;
    }
  }

  @else {
    &:focus {
      color: $normal;
    }
  }

  @if $hover {
    &.active:hover,
    &.is-active:hover,
    &.active-trail:hover,
    &.visited:hover,
    &:hover {
      color: $hover;
    }
  }

  @if $active {
    &.is-active,
    &:active,
    &.active-trail {
      color: $active;
    }
  }

  @else {
    &.is-active,
    &:active,
    &.active-trail {
      color: $normal;
    }
  }
}

@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

@mixin media-max($bp) {
  @media screen and (max-width: #{$bp}) {
    @content;
  }
}

@mixin sfgov-responsive-container-override {
  padding: 0;
}

@mixin sfgov-container--full-override {
  width: 100%;
}

@mixin sidebar($child-element) {
  border-radius: 8px 0 0 8px;
  margin-left: 20px;
  padding: 30px;

  @include media($narrow-screen) {
    margin-left: 0;
    position: absolute;
    right: 0;
    width: 33%;
  }

  @include media($wide-screen) {
    width: calc(50% - 180px);
  }

  #{$child-element} {
    @include media($narrow-screen) {
      max-width: 307px;
    }
  }
}

@mixin three-column-item {
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;

  @include media($medium-screen) {
    float: left;
    margin-right: 2%;
    min-height: 100px;
    width: 32%;
  }

  &:nth-child(3n) {
    @include media($medium-screen) {
      margin-right: 0;
    }
  }
}
