// Note: Only define font size, weight, line height and letter spacing in fs- definitions.
@mixin fs-big-description {
  font-size: 24px;
  font-weight: $fw-regular;
  line-height: 36px;
}

@mixin fs-title-5 {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 27px;
}

@mixin fs-body-long {
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 28px;
}

@mixin fs-body-short {
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 24px;
}

@mixin fs-body-3 { // @todo deprecate.
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 28.9px;
}

@mixin fs-body-bold {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 24px;
}

@mixin fs-title-2 {
  font-size: 40px;
  font-weight: $fw-medium;
  line-height: 47px;
}

// H1
@mixin fs-h1 {
  @include fs-h1-small;
  @include  media($medium-screen) {
    @include fs-title-1;
  }
}

@mixin fs-title-1 {
  font-size: 62px;
  font-weight: $fw-medium;
  letter-spacing: -.3px;
  line-height: 70px;
}

// h1-default
@mixin fs-h1-default {
  @include fs-h1-default-small;
  @include  media($medium-screen) {
    @include fs-header-title-2;
  }
}

@mixin fs-header-title-2 {
  font-size: 50px;
  font-weight: $fw-light;
  letter-spacing: 0;
  line-height: 59px;
}

// h1-home
@mixin fs-h1-home {
  @include fs-display-1-mobile;
  @include  media($medium-screen) {
    @include fs-display-1;
  }
}

@mixin fs-display-1 {
  font-size: 72px;
  font-weight: $fw-light;
  letter-spacing: -.2px;
  line-height: 80.2px;
}

@mixin fs-display-1-mobile {
  font-size: 42px;
  font-weight: $fw-light;
  letter-spacing: 0;
  line-height: 43px;
}

// @todo Update to SF.gov Zeplin.
//------------------------------
@mixin fs-campaign-title {
  font-size: 30px;
  font-weight: $fw-medium;
  line-height: 42px;
}

@mixin fs-department {
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 29px;
}

@mixin fs-mayor-name-small {
  font-size: 24px;
  font-weight: $fw-medium;
  line-height: 30px;
}

@mixin fs-mayor-title-large {
  font-size: 24px;
  font-weight: $fw-regular;
  line-height: 34px;
}


@mixin fs-h1-small {
  font-size: 33px;
  font-weight: $fw-medium;
  letter-spacing: -.3px;
  line-height: 43px;
}

@mixin fs-h1-default-small {
  font-size: 33px;
  font-weight: $fw-light;
  letter-spacing: 0;
  line-height: 39px;
}

@mixin fs-h2 {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 24px;
}

@mixin fs-h3 {
  font-size: 24px;
  font-weight: $fw-medium;
  line-height: 30px;
}

@mixin fs-new-website-text {
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 28px;
}

@mixin fs-news-title {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 30px;
}

@mixin fs-news-type {
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 28px;
}

// fs-pull
@mixin fs-pull-large {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 32px;
}

@mixin fs-pull-small {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 34px;
}

@mixin fs-pull {
  @include fs-pull-small;
  @include  media($medium-screen) {
    @include fs-pull-large;
  }
}

@mixin fs-title {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 24px;
  text-decoration: underline;
}

@mixin fs-title-medium {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 27px;
}

@mixin fs-nav-link {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 20px;
}

@mixin fs-title-right {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 24px;
}