@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

@mixin media-max($bp) {
  @media screen and (max-width: #{$bp}) {
    @content;
  }
}

$mobile-screen: 480px;
$medium-screen: 769px;
$narrow-screen: 950px;

@mixin source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

@mixin merriweather {
  font-family: "Merriweather", sans-serif;
}

@mixin open-sans {
  font-family: "Open Sans", sans-serif;
}

@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

