@mixin ankle($field-element){
  padding-bottom: 60px;
  padding-top: 41px;

  #{$field-element} {
    @include contain-1090;
    @include fs-body-short;

    .field__label {
      @include fs-body-bold;
    }

    .field__item {
      margin-bottom: 20px;
    }

    a {
      @include link-colors($c-bright-blue, $c-slate);
    }
  }
}

@mixin background-image($file-name, $position: 50% 50%, $color: transparent) {
  background: url('/themes/custom/sfgovpl/src/img/#{$file-name}') no-repeat $position $color;
}

@mixin columns-780($left-or-right) {
  @include media($medium-screen){
    float: #{$left-or-right};
    max-width: 780px;
    width: calc((100% - 20px)/3*2);
  }
}

@mixin columns-720($left-or-right) {
  @include media($medium-screen){
    float: #{$left-or-right};
    max-width: 720px;
    width: calc((100% - 20px)/3*2);
  }
}

@mixin columns-350($left-or-right) {
  @include media($medium-screen){
    float: #{$left-or-right};
    max-width: 350px;
    width: calc((100% - 40px)/3);
  }
}

@mixin contain { // @todo Deprecate this mixin.
  margin: 0 auto;
  max-width: 1276px;
  padding-left: 20px;
  padding-right: 20px;

  @include  media($medium-screen) {
    padding-left: 96px;
    padding-right: 96px;
  }
}

@mixin contain-1280 { // Zeplin Artboard.
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@mixin contain-1210 { // Para titles.
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include media($wide-screen) {
    padding: 0;
  }
}

@mixin contain-1150 { // Contents with offset.
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include media($wide-screen) {
    padding: 0 60px 0 0;
  }
}

@mixin contain-1090-table { // Match 1090 spacing when a 3-column table is the child.
  // Add
  // ```@include media($medium-screen) {
  //      padding-left: 20px;
  //    }```
  // to any non-table children.
  margin: 0 auto;
  max-width: 1130px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include media($medium-screen) {
    padding: 0;
  }
}

@mixin contain-1090 { // Most contents.
  margin: 0 auto;
  max-width: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include media($wide-screen) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin blockquote {
  @include fs-pull-large;
  background: $c-yellow-2;;
  border-radius: 10px;
  font-style: italic;
  margin: 30px 0 40px 0;
  padding: 20px;

  @include media($narrow-screen) {
    clear: right;
    float: right;
    padding: 40px;
    margin: -5px 0 40px 0;
    // Equals 349px at max width, but uses % for better responsiveness.
    width: ((strip-unit($w-news-sidebar)) / (strip-unit($w-news-body-content))) * 100%;
  }

  p {
    margin: 0;
    max-width: none;

    + p {
      margin-top: 1rem;
    }
  }
}

@mixin button {
  background: $c-bright-blue;
  border-radius: 8px;
  color: $c-white;
  font-size: 17px;
  font-weight: $fw-medium;
  padding: 13px 20px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  &:hover {
    background: $c-dark-blue;
  }
}

@mixin button-clear {
  @include button;
  background: $c-white;
  color: $c-bright-blue;

  &:hover {
    background: $c-white;
    color: $c-dark-blue;
  }
}

@mixin icon-transaction-help($file-name) {
  position: relative;
  margin-left: 42px;

  &:before {
    @include background-image(#{$file-name}, top);
    content: '';
    display: inline-block;
    height: 20px;
    left: -42px;
    padding-right: 22px;
    position: absolute;
    top: 6px;
    width: 20px;
  }
}

// Targets IE 10 and 11.
@mixin ie-only {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

// Link mixin
// @param {color} $normal - normal color
// @param {color} $hover  - hover
// @param {color} $active - active
// @param {color} $focus - focus
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  &:link {
    color: $normal;
  }

  @if $visited {
    &:visited,
    &:link:visited {
      color: $visited;
    }
  }

  @else {
    &:visited,
    &:link:visited {
      color: $normal;
    }
  }

  @if $focus {
    &:focus {
      color: $focus;
    }
  }

  @else {
    &:focus {
      color: $normal;
    }
  }

  @if $hover {
    &.active:hover,
    &.is-active:hover,
    &.active-trail:hover,
    &.visited:hover,
    &:hover {
      color: $hover;
    }
  }

  @if $active {
    &.is-active,
    &:active,
    &.active-trail {
      color: $active;
    }
  }

  @else {
    &.is-active,
    &:active,
    &.active-trail {
      color: $normal;
    }
  }
}

@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

@mixin media-max($bp) {
  @media screen and (max-width: #{$bp}) {
    @content;
  }
}

@mixin rubik {
  font-family: "Rubik", sans-serif;
}

@mixin noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
}

@mixin sfgov-responsive-container-override {
  padding: 0;
}

@mixin sfgov-container--full-override {
  width: 100%;
}

@mixin sidebar($child-element) {
  border-radius: 8px;
  padding: 20px;
  margin: 40px 0 20px;

  @include media($medium-screen) {
    margin: 0;
    padding: 40px;
  }

  @include media($narrow-screen) {
    margin-left: 0;
    position: absolute;
    right: 40px;
    width: 33%;
  }

  @include media($wide-screen) {
    width: calc(50% - 180px);
  }

  #{$child-element} {
    @include media($narrow-screen) {
      max-width: 307px;
    }
  }
}

@mixin three-column-item-no-table {
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;

  @include media($medium-screen) {
    float: left;
    margin-right: 2%;
    width: 32%;
  }

  &:nth-child(3n) {
    @include media($medium-screen) {
      margin-right: 0;
    }
  }
}

// Column Table Rows.
// See:
// service-cards.twig
// _service-cards.scss
// node--department--full.html.twig

@mixin column-table-row-base {
  @include media($medium-screen) {
    display: table;
    border-spacing: 20px 10px;
    width: 100%;
  }

  > * {
    display: block;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;

    @include media($medium-screen) {
      display: table-cell;
    }
  }
}

@mixin column-table-row-two {
  @include column-table-row-base;
  > * {

    @include media($medium-screen) {
      width: 50%;
    }
  }
}

@mixin column-table-row-three {
  @include column-table-row-base;
  > * {

    @include media($medium-screen) {
      width: 33%;
    }
  }
}

@mixin focus-outline {
  outline: 2px dotted #aeb0b5;
}

// visually-hidden
//
// Hide elements visually, but keep them available for screen readers. Don't use
// this for elements that need to be focusable (e.g. a, button, input, select,
// textarea). For those, please use `visually-hidden-focusable` instead.
//
// Usage: `@include visually-hidden;`

@mixin visually-hidden {
  & {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal;
  }
}

@mixin clearfix {
  &::after,
  &::before {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin normalize-nested-margins {
  &:only-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
