@mixin search-suggestions-container {
  display: none;
  clear: both;
  position: absolute;
  left: 8px;
  top: 50px;
  position: absolute;
  z-index: 1000;
  background: $c-white;
  width: calc(100% - 156px);
  padding: 0;
  box-shadow: rgba(0,0,0,.25) 0px 5px 5px 2px;
  text-align: left;
  border-radius: 0 0 8px 8px;
}

@mixin search-suggestions-link {
  @include fs-body-short;
  display: block;
  text-decoration: none;
  padding: 10px 25px;
  color: $c-slate;
  &:hover {
    background: $c-blue-3;
  }
}

#sfgov-search-autocomplete {
  @include search-suggestions-container;
  strong {
    @include fs-body-bold;
  }
  a {
    @include search-suggestions-link;
  }
  @media screen and (max-width: 770px) {  
    width: calc(100% - 58px);
  }
}

#sfgov-top-search-suggestions-container {
  @include search-suggestions-container;
  > h4 {
    @include fs-body-bold;
    margin: 10px 25px;
    padding: 0;
  }
}

.sfgov-top-search-suggestion {
  display: none;
  a {
    @include search-suggestions-link;
  }
}

.sfgov-search-form {
  &.sfgov-search-form-311 {
    position: relative;
  }
}

#sfgov-search-results-container {
  font-family: rubik;
  margin: 0 auto;
  max-width: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  strong {
    font-weight: 500;
  }

  #sfgov-search-results-count {
    display: none;
    margin-top: 25px;
    font-size: 14px;
  }

  #sfgov-search-results {
    > div:last-of-type {
      .sfgov-fb-search-result {
        border: 0;
      }
    }
    &.add-height {
      height: 1200px;
    }
    .no-search-results--container {
      padding-top: 60px;
      @media screen and (max-width: 770px) {
        padding: 40px 20px;
      }
    }
  }
  
  .sfgov-search-misspelled,
  .sfgov-search-no-results {
    margin-top: 25px;
    font-size: 20px;
  }
  
  .sfgov-search-misspelled {
    line-height: 1.5em;
    span {
      font-weight: 500;
      display: inline-block;
    }
    .sfgov-spelled-keyword {
      display: inline-block;
      margin-left: 5px;
      font-weight: 500;
    }
    .sfgov-search-instead {
      font-size: 17px;
    }
  }

  .sfgov-search-result {
    .sfgov-fb-search-result {
      a {
        h4 {
          font-weight: 500;
          font-size: 20px;
          text-decoration: underline;
        }
      }
      &.sfgov-transaction-search--container,
      &.topic-search-result--container,
      &.sfgov-transaction-search--container {
        border-bottom: 0;
        padding: 30px 0;
        .body-container {
          line-height: 24px;
          color: #1c3e57;
          font-size: 17px;
          font-weight: normal;
          a {
            color: #1C3E57;
            opacity: 0.65;
            word-break: break-word;
          }
          .body {
            display: block;
            float: none;
            padding: 0;
            margin: 0;
            width: auto;
            color: #1c3e57;
          }
        }
      }
      &.department-search-result-container {
        p {
          &.body {
            width: auto;
            max-width: initial;
            margin-bottom: 0;
          }
        }
        .phone-address--container {
          margin-top: 25px;
        }
      }
    }
  }

  // pagination styles
  .sfgov-search-pagination {
    text-align: center;
    margin-bottom: 25px;
    color: #1C3E57;
    .hide-page {
      display: none;
    }
    .previous, .next {
      a {
        text-decoration: none;
        border: 3px solid #4F66EE;
        border-radius: 8px;
        padding: 10px 55px 10px 20px;
        margin-left: 20px;
        position: relative;
      }
    }

    .next {
      a {
        &::after {
          content: '';
          background: url(/themes/custom/sfgovpl/src/img/icons/arrow-right.svg) no-repeat;
          width: 21px;
          height: 18px;
          display: inline-block;
          position: absolute;
          top: 12px;
          margin-left: 15px;
        }
      }
    }

    .previous {
      a {
        margin-left: 0;
        margin-right: 20px;
        padding-left: 55px;
        padding-right: 20px;
        &::before {
          content: '';
          background: url(/themes/custom/sfgovpl/src/img/icons/arrow-left.svg) no-repeat;
          width: 21px;
          height: 18px;
          display: inline-block;
          position: absolute;
          top: 12px;
          left: 20px;
          margin-right: 15px;
        }
      }
    }


    .page-num {
      &.more-prev::before,
      &.more-next::after {
        content: '...';
        color: #1C3E57;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        a {
          font-weight: normal;
          text-decoration: none;
          padding: 11px 16px;
          display: inline-block;
          font-weight: 500;
          color: #4F66EE;
          text-decoration: underline;
          font-family: rubik;
        }
        &.current {
          a {
            border-radius: 3px;
            color: #1C3E57;
            text-decoration: none;
          }
        }
      }
    }
    @media screen and (max-width: 770px) {
      display: none;
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
  }

  @media screen and (max-width: 950px) {
    padding: 0;
    #sfgov-search-messages,
    #sfgov-search-results-count {
      margin: 0 25px;
    }
    #sfgov-search-results-count {
      padding: 25px 0 0 0;
    }
  }

  @media screen and (max-width: 770px) {
    &.no-search-results {
      .sfgov-search-mobile-more {
        display: none;
      }
    }
  }


}

// loading css
#sfgov-search-overlay {
  position: absolute;
  background: #fff;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#sfgov-search-loading {
  position: absolute;
  left: 50%;
}

.loader{
  color:#ff0000;
  position:fixed;
  box-sizing:border-box;
  left:-9999px;
  top:-9999px;
  width:0;
  height:0;
  overflow:hidden;
  z-index:999999;
}
.loader:after,.loader:before{
  box-sizing:border-box;
  display:none;
}
.loader.is-active{
  background-color: transparent;
  width:100%;
  height:100%;
  left:0;
  top:0
}
.loader.is-active:after,.loader.is-active:before{
  display:block
}
@keyframes rotation{
  0%{
      transform:rotate(0)
  }
  to{
      transform:rotate(359deg)
  }
}
@keyframes blink{
  0%{
      opacity:.5
  }
  to{
      opacity:1
  }
}
.loader[data-text]:before{
  position:fixed;
  left:0;
  top:50%;
  color:currentColor;
  font-family:Helvetica,Arial,sans-serif;
  text-align:center;
  width:100%;
  font-size:14px
}
.loader[data-text=""]:before{
  content:"Loading"
}
.loader[data-text]:not([data-text=""]):before{
  content:attr(data-text)
}
.loader[data-text][data-blink]:before{
  animation:blink 1s linear infinite alternate
}
.loader-default[data-text]:before{
  top:calc(50% - 63px)
}
.loader-default:after{
  content:"";
  position:fixed;
  width:48px;
  height:48px;
  border:8px solid #0071bc;
  border-left-color:transparent;
  border-radius:50%;
  top:calc(50% - 24px);
  left:calc(50% - 24px);
  animation:rotation 1s linear infinite
}
.loader-default[data-half]:after{
  border-right-color:transparent
}
.loader-default[data-inverse]:after{
  animation-direction:reverse
}
// end loading css

.sfgov-search-mobile-more {
  width: auto;
  text-align: center;
  display: none;
  a {
    border: 3px solid #4f66ee;
    display: block;
    margin: 25px;
    border-radius: 8px;
    background: #fff;
    color: #0071bc;
    text-decoration: none;
    font-weight: 500;
    padding: 15px;
  }
  @media screen and (max-width: 770px) {
    display: block;
  }
}
