@mixin search-suggestions-container {
  display: none;
  clear: both;
  position: absolute;
  left: 8px;
  top: 50px;
  position: absolute;
  z-index: 1000;
  background: $c-white;
  width: calc(100% - 58px);
  padding: 0;
  box-shadow: rgba(0,0,0,.25) 0px 5px 5px 2px;
  text-align: left;
  border-radius: 0 0 8px 8px;
  @include media($medium-screen) {  
    width: calc(100% - 129px);
  }
}

@mixin search-suggestions-link {
  @include fs-body-short;
  display: block;
  text-decoration: none;
  padding: 10px 25px;
  color: $c-slate;
  &:hover {
    background: $c-blue-3;
  }
}

#sfgov-search-autocomplete {
  @include search-suggestions-container;
  strong {
    @include fs-body-bold;
  }
  a {
    @include search-suggestions-link;
  }
}

#sfgov-top-search-suggestions-container {
  @include search-suggestions-container;
  > h4 {
    @include fs-body-bold;
    margin: 10px 25px;
    padding: 0;
  }
}

.sfgov-top-search-suggestion {
  display: none;
  a {
    @include search-suggestions-link;
  }
}

#sfgov-search-results-count {
  display: none;
  @include fs-small-text;
  @include media($medium-screen) {
    display: block;
  }
}

#sfgov-search-results-container {
  @include rubik;
  @include contain-1090;
  strong {
    font-weight: 500;
  }

  &.no-search-results {
    .sfgov-search-mobile-more {
      display: none;
    }
  }

  #sfgov-search-results {
    margin-top: 40px;
    &.add-height {
      height: 1200px;
    }
    .no-search-results--container {
      h2 {
        @include fs-title-5;
      }
      padding-left: 16px;
    }
  }

  .sfgov-search-result {
    @include rubik;
    @include fs-body-short;
    margin-bottom: 60px;
    h4, a {
      @include rubik;
      @include link-colors($c-bright-blue, $c-slate);
    }
    h4 {
      @include fs-big-link;
      color: $c-bright-blue;
      margin-bottom: 8px;
    }
    .sfgov-search-result-body {
      p {
        margin: 0;
      }
      a {
        @include fs-body-short;
        color: $c-slate;
        opacity: 0.65;
        word-wrap: break-word;
      }
    }
    .content-type {
      @include fs-body-bold;
      padding-left: 26px;
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      &.topic {
        @include background-image('document.svg', 0 0);
      }
      &.dept {
        @include background-image('building.svg', 0 0);
      }
    }
    @include media($medium-screen) {
      
    }
  }
  
  .sfgov-search-misspelled {
    @include fs-title-5;
    margin-bottom: 20px;
    span {
      display: inline-block;
    }
    .sfgov-spelled-keyword {
      display: inline-block;
    }
    .sfgov-search-instead {
      @include fs-body-short;
    }
  }

  // pagination styles
  .sfgov-search-pagination {
    display: none;
    @include media($medium-screen) {
      display: block;
      text-align: center;
      margin-bottom: 107px;
      color: #1C3E57;
      .hide-page {
        display: none;
      }
      .previous, .next {
        a {
          text-decoration: none;
          border: 3px solid $c-bright-blue;
          border-radius: 8px;
          padding: 10px 55px 10px 20px;
          margin-left: 20px;
          position: relative;
        }
      }
  
      .next {
        a {
          &::after {
            content: '';
            background: url(/themes/custom/sfgovpl/src/img/icons/arrow-right.svg) no-repeat;
            width: 21px;
            height: 18px;
            display: inline-block;
            position: absolute;
            top: 12px;
            margin-left: 15px;
          }
        }
      }
  
      .previous {
        a {
          margin-left: 0;
          margin-right: 20px;
          padding-left: 55px;
          padding-right: 20px;
          &::before {
            content: '';
            background: url(/themes/custom/sfgovpl/src/img/icons/arrow-left.svg) no-repeat;
            width: 21px;
            height: 18px;
            display: inline-block;
            position: absolute;
            top: 12px;
            left: 20px;
            margin-right: 15px;
          }
        }
      }
  
      .page-num {
        &.more-prev::before,
        &.more-next::after {
          content: '...';
          color: $c-slate;
        }
      }
  
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          a {
            font-weight: normal;
            text-decoration: none;
            padding: 11px 16px;
            display: inline-block;
            font-weight: 500;
            color: $c-bright-blue;
            text-decoration: underline;
            font-family: rubik;
          }
          &.current {
            a {
              border-radius: 3px;
              color: $c-slate;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.sfgov-search-mobile-more {
  text-align: center;
  margin-bottom: 40px;
  display: block;
  a {
    @include fs-body-bold;
    border: 3px solid $c-bright-blue;
    color: $c-bright-blue;
    display: block;
    text-decoration: none;
    padding: 15px 7px;
    border-radius: 8px;
  }
  @include media($medium-screen) {
    display: none;
  }
}

// loading css
#sfgov-search-overlay {
  position: absolute;
  background: $c-white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#sfgov-search-loading {
  position: absolute;
  left: 50%;
}

.loader{
  color:#ff0000;
  position:fixed;
  box-sizing:border-box;
  left:-9999px;
  top:-9999px;
  width:0;
  height:0;
  overflow:hidden;
  z-index:999999;
}
.loader:after,.loader:before{
  box-sizing:border-box;
  display:none;
}
.loader.is-active{
  background-color: transparent;
  width:100%;
  height:100%;
  left:0;
  top:0
}
.loader.is-active:after,.loader.is-active:before{
  display:block
}
@keyframes rotation{
  0%{
      transform:rotate(0)
  }
  to{
      transform:rotate(359deg)
  }
}
@keyframes blink{
  0%{
      opacity:.5
  }
  to{
      opacity:1
  }
}
.loader[data-text]:before{
  position:fixed;
  left:0;
  top:50%;
  color:currentColor;
  font-family:Helvetica,Arial,sans-serif;
  text-align:center;
  width:100%;
  font-size:14px
}
.loader[data-text=""]:before{
  content:"Loading"
}
.loader[data-text]:not([data-text=""]):before{
  content:attr(data-text)
}
.loader[data-text][data-blink]:before{
  animation:blink 1s linear infinite alternate
}
.loader-default[data-text]:before{
  top:calc(50% - 63px)
}
.loader-default:after{
  content:"";
  position:fixed;
  width:48px;
  height:48px;
  border:8px solid #0071bc;
  border-left-color:transparent;
  border-radius:50%;
  top:calc(50% - 24px);
  left:calc(50% - 24px);
  animation:rotation 1s linear infinite
}
.loader-default[data-half]:after{
  border-right-color:transparent
}
.loader-default[data-inverse]:after{
  animation-direction:reverse
}
// end loading css
