// Because shame happens.
.path-frontpage {

  // Title
  h1 {
    max-width: 658px;
  }

  // Layout overrides.
  .sfgov-container--full,
  .sfgov-container {
    @include sfgov-container--full-override;
  }

  // Search
  .paragraph-child--block {
    @include contain-1090;
  }
}

.sfgov-tabbed-navigation ul {
  border-bottom: 0;
}


// Fixes that came up from transactions.
body {
  .sfgov-section__title {
    @include fs-title-2;
    background: transparent;
    color: $c-slate;
  }

  h3 {
    @include fs-title-3;
  }


  div.sfgov-timestamp {
    @include media($narrow-screen){
      padding: 0;
    }
  }
}
