// Because shame happens.
.path-frontpage {

  // Title
  h1 {
    max-width: 658px;
  }

  // Layout overrides.
  .sfgov-container--full,
  .sfgov-container {
    @include sfgov-container--full-override;
  }

  // Search
  .paragraph-child--block {
    @include contain-1090;
  }
}

// Cleaning up Department and Topic pages just so they don't look broken.
.sfgov-pagination {
  height: 100px;
  width: 100%;

  ul.sfgov-pagination__items {
    margin-top: 20px;
  }
}

.a-z-container {
  background: none;

  h1 {
    color: $c-black;
  }

  a {
    font-size: 17px;
  }
}

.sfgov-tabbed-navigation ul {
  border-bottom: 0;
}


// Fixes that came up from transactions.
body {
  .sfgov-section__title {
    @include fs-heading;
    background: transparent;
    color: $c-text;
  }

  h3 {
    @include fs-campaign-title;
  }


  div.sfgov-timestamp {
    @include media($narrow-screen){
      padding: 0;
    }
  }
}
