.sfgov-translate-lang-zh-TW {
  * {
    @include noto-sans-tc;
  }

  .step-type.number {
    $sbs-breakpoint: $medium-screen;
    @include rubik;

    font-size: 20px;
    font-weight: $fw-medium !important;
    letter-spacing: normal !important;
    width: 35px;
    height: 35px;
    line-height: 35px !important;
    margin-top: -17px;
    margin-left: -19px;

    @include media($sbs-breakpoint) {
      font-size: 24px !important;
      font-weight: $fw-medium !important;
      margin-left: -26px;
      margin-top: -24px;
      width: 48px;
      height: 48px;
      line-height: 48px !important;
    }
  }
}
