$base-font-size: 17;

$c-white: #fff;
$c-black: #212123;
$c-slate: #1c3e57;
$c-light-slate: #607889;
$c-dark-blue: #0c1464;
$c-bright-blue: #4f66ee;
$c-blue-1: #edf4f7;
$c-blue-2: #a9d6ea;
$c-blue-3: #e1f3f8;
$c-blue-4: #6b8292;

$c-yellow-1: #f8f1df;
$c-yellow-2: #f9e3a3;
$c-yellow-3: #f4c435;
$c-yellow-4: #e7b22e;

$c-green-1: #e9f7ec;
$c-green-2: #c0e2c5;
$c-green-3: #00896d;
$c-green-4: #1b674d;

$c-red-1: #f5e9e5;
$c-red-2: #efcabb;
$c-red-3: #c9563a;
$c-red-4: #bc4427;

$c-purple-1: #edebf6;
$c-purple-2: #cccced;
$c-purple-3: #7d61b3;
$c-purple-4: #5a3e94;

$c-grey-1: #f8f8f8;
$c-grey-2: #f1f1f1;
$c-grey-3: #e9e9e9;
$c-grey-4: #d3d3d3;
$c-grey-5: #323a45;

$c-black-opacity-3: #f9f9f9; //$c-light-grey
$c-blue-search: #4e66ee;
$c-border: rgba(28, 62, 87, 0.1);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$w-news-body: 699px;
$w-news-sidebar: 349px;
$w-news-body-container: 1276px;
$w-news-body-content: 1084px;

$z-menu-mobile: 200;
$z-menu-mobile-close: 300;
$z-search-input-clear: 300;

// @todo prefix breakpoints with $bp-
$tiny-screen: 320px;
$mobile-screen: 700px;
$medium-screen: 768px;
$narrow-screen: 950px;
$wide-screen: 1280px;

$rhythm: 0.5882rem;
$radius: 8px;
