$c-black: #212123;
$c-blue-button: #4f66ee;
$c-blue-button-hover: #0c1464;
$c-blue-grey: #a9d6ea;
$c-blue-pale: #edf4f7;
$c-blue-search: #4e66ee;
$c-border: rgba(28, 62, 87, .1);
$c-grey-dark: #212123;
$c-text: #1c3e57; // rgb(28, 62, 87)
$c-white: #fff;
$c-yellow: #f4c435;
$c-yellow-mid: #f9e3a3;
$c-yellow-pale: #f8f1df;
$c-green: #00896d;
$c-green-pale: #e9f7ec;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$w-news-body: 669px;

$z-menu-mobile: 200;
$z-menu-mobile-close: 300;
$z-search-input-clear: 300;

// @todo prefix breakpoints with $bp-
$tiny-screen: 320px;
$mobile-screen: 700px;
$medium-screen: 768px;
$narrow-screen: 950px;
$wide-screen: 1280px;
