
.sfgov-container--content-right {
  .field {
    margin-bottom: 30px;
  }
  .field--type-telephone {
    a {
      text-decoration: none;
    }
  }
  .__address {
    .address {
      margin: 0;
      color: $color-gray;
      font-size: 17px;
      line-height: 26px;
    }
    .__title {
      @include source-sans-pro;
      color: $color-gray-dark;
      font-weight: 600; // semi-bold
      font-size: 20px;
      line-height: 26px;
      margin: 0 0 10px 0;
    }
  }
  .office-hours {
    .office-hours__table {
      margin: 10px 0 0 0;
    }
    .office-hours__item-comments {
      &:empty {
        display: none;
      }
    }
  }
  .paragraph--type--phone {
    .__owner {
      @include source-sans-pro;
      font-size: 20px;
      line-height: 26px;
      color: $color-gray-dark;
      font-weight: bold;
    }
    .__owner,
    .__tel {
      margin-bottom: 10px;
    }
  }
}
article.transaction .sfgov-container--content-right {
  @include media-max($medium-screen) {
    order: 2;
  }
}
.view--departments-block-1 {
  margin-bottom: 0;
  @include media($medium-screen) {
    margin-bottom: 60px;
  }
  ul {
    padding-left: 25px;
    margin: 25px 0;
    li {
      list-style: none;
    }
  }
  .views-row:last-of-type {
    .department-search-result {
      border-bottom: 0;
    }
  }
}

.view-services-block-1 {
  padding: 0;
  @include media($medium-screen) {
    padding: 61px 0 41px 0;
  }
  .views-row {
    @include media($medium-screen) {
      margin: 0 21px;
    }
    &:last-child {
      .sfgov-transaction-search--container {
        border-bottom: 0;
      }
    }
  }
}

.sfgov-search-result {
  &.views-row {
    @include sfgov-container-full;
    @include media-max($narrow-screen) {
      
    }
  }
}