@import "mixins";
@import "colors";

.sfgov-container--content-right {
  .field {
    margin-bottom: 30px;
  }
  .field--type-telephone {
    a {
      text-decoration: none;
    }
  }
  .__address {
    .address {
      margin: 0;
      color: $color-gray;
      font-size: 17px;
      line-height: 26px;
    }
    .__title {
      @include source-sans-pro;
      color: $color-gray-dark;
      font-weight: 600; // semi-bold
      font-size: 20px;
      line-height: 26px;
      margin: 0 0 10px 0;
    }
  }
  .office-hours {
    .office-hours__table {
      margin: 10px 0 0 0;
    }
    .office-hours__item-comments {
      &:empty {
        display: none;
      }
    }
  }
  .paragraph--type--phone {
    .__owner {
      @include source-sans-pro;
      font-size: 20px;
      line-height: 26px;
      color: $color-gray-dark;
      font-weight: bold;
    }
    .__owner,
    .__tel {
      margin-bottom: 10px;
    }
  }
}
