@import 'variables';
@import 'mixins-fs';

a:visited {
  color: #4f66ee;
}

.SandboxRoot {
  @include rubik;
}

.timeline-Body {
  border-top: 3px solid $c-border;
}

.timeline-Header {
  padding: 0;
}

.timeline-Header-title {
  @include fs-title-3;
}

.timeline-TweetList li {
  display: none;

  &:first-child,
  &:nth-child(2){
    display: list-item;
  }
}

.timeline-Tweet-media {
  display: none;
}

.timeline-LoadMore {
  display: none;
}
