body {
  background: repeat-x top center;
  margin: 0;
  padding: 0;
}

.bg {
  background: transparent no-repeat top center;
  width: 100%;
}

.ocean-park {
  background-image: url('./ocean-park-bg.png');
}

.ocean-park .bg {
  background-image: url('./ocean-park.jpg');
  height: 3867px;
}

.city-hall {
  background-image: url('./city-hall-bg.png');
}

.city-hall .bg {
  background-image: url('./city-hall.jpg');
  height: 4474px;
}