{#
/**
 * @file
 * Default theme implementation to display a responsive table of contents.
 *
 * Returns HTML for a responsive table of contents.
 *
 * Available variables:
 * - desktop: A render array represent a table of content for desktop.
 * - mobile: A render array represent a table of content for mobile.
 *
 * @ingroup themeable
 */
#}
{% set classes = ['toc', 'toc-responsive'] %}
<div {{ attributes.addClass(classes) }}>
  {{ desktop }}
  {{ mobile }}
</div>

