{#
/**
 * @file
 * Default theme implementation to display a back to top link.
 *
 * Returns HTML for a back to top link.
 *
 * Available variables:
 * - item: A table of contents header item.
 * - options: Options associated with the current header item.
 *
 * @ingroup themeable
 */
#}

{% set classes = ['back-to-top'] %}

<a{{ attributes.addClass(classes) }}>{{ label }}</a>
