{#
/**
 * @file
 * Removes field wrapper markup for fields on 'campaign' paragraph.
#}
{% for item in items %}
  <a href="{{ item.content['#url'] }}" class="btn btn-inverse">{{ item.content['#title'] }}</a>
{% endfor %}
