<div class="confirmation--right">
  <div class="confirmation--right-content transaction--help">
    <h2>{{ 'Get help'|t }}</h2>
    {% for item in items %}
      {% if loop.last %}
        <div class="transaction--help-item last">
      {% else %}
        <div class="transaction--help-item">
      {% endif %}
          {{ item.content }}
        </div>
    {% endfor %}
  </div>
</div>
