{%
  set classes = [
    'field',
    'field--type-' ~ field_type|clean_class,
    label_display == 'inline' ? 'field--inline',
    bundle|clean_class ~ '__' ~ field_name|replace({'field_' : ''})|clean_class,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{% for item in items %}
  <h1{{ item.attributes.addClass(classes, 'field__item') }}>{{ item.content }}</h1>
{% endfor %}
