<header class="usa-header usa-header-basic" role="banner">
  <div class="usa-nav-container sfgov-nav-container">
    <div class="sfgov-nav-container__content">
      {% include "molecules-branding" %}
      {% if pl_test_content %}
        {% include "molecules-main-navigation" %}
      {% endif %}
      {{ header_blocks }}
    </div>
  </div>
</header>
