{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="content-top-container">
  <div class="sfgov-search-311-block">
    <h2>Search</h2>
    <form{{ attributes.addClass('sfgov-search-form') }}>
      {{ children }}
    </form>
  </div>
</div>
