#sfgov-search-results > div:last-of-type .sfgov-fb-search-result {
  border: 0
}

#sfgov-search-results.add-height {
  height: 1200px;
}

.sfgov-search-form.sfgov-search-form-311 .js-form-type-textfield {
  width: 100%;
}

.sfgov-search-misspelled,
.sfgov-search-no-results {
  margin-top: 25px;
  font-size: 2rem;
}

.sfgov-search-misspelled {
  line-height: 1.5em;
}

.sfgov-search-misspelled span {
  font-weight: 600;
  display: inline-block;
}

.sfgov-search-misspelled .sfgov-spelled-keyword {
  display: inline-block;
  margin-left: 5px;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
}

.sfgov-search-misspelled .sfgov-search-instead {
  font-size: 1.7rem;
}

.sfgov-search-misspelled .sfgov-search-instead a {
  text-decoration: none;
}

.sfgov-search-domain-label {
  margin-top: 20px !important;
  /* border-bottom: 1px solid #aeb0b5; */
  font-size: 2rem;
  padding: 20px !important;
  background: #eee;
}

.sfgov-search-pagination {
  text-align: center;
  margin-bottom: 25px;
}

.sfgov-search-pagination .hide-page {
  display: none;
}

.sfgov-search-pagination .page-num.more-prev::before,
.sfgov-search-pagination .page-num.more-next::after {
  content: '...';
  color: #0071bc;
}

.sfgov-search-pagination ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sfgov-search-pagination li {
  display: inline-block;
}

.sfgov-search-pagination li a {
  font-weight: normal;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  font-weight: bold;
}

.sfgov-search-pagination li.current a {
  background: #0071bc;
  border-radius: 3px;
  color: #fff;
}

#sfgov-search-results-count {
  display: none;
  margin-top: 25px;
}

#sfgov-search-results-container .sfgov-transaction-search--container .body-container,
#sfgov-search-results-container .topic-search-result--container .body-container,
#sfgov-search-results-container .sfgov-transaction-search--container .body-container {
  line-height: 1.5em;
}

#sfgov-search-results-container .sfgov-transaction-search--container .body-container .body {
  display: block;
  float: none;
  padding: 0;
  margin: 0;
  width: auto;
}

#sfgov-search-results-container .department-search-result .department-search-result--container

#sfgov-search-results-container .department-search-result .department-search-result--container p.body {
  width: auto;
  max-width: initial;
  margin-bottom: 0;
}

#sfgov-search-results-container .department-search-result .department-search-result--container .phone-address--container {
  margin-top: 25px;
}

#sfgov-search-results-container .sfgov-search-result .body-container a {
  word-break: break-word;
}

.head-right--container #block-sfgovsearchblock.sfgov-search-311-block #edit-actions::before {
  left: 15px;
}

#sfgov-search-overlay {
  position: absolute;
  background: #fff;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#sfgov-search-loading {
  position: absolute;
  left: 50%;
}

.sfgov-search-mobile-more {
  width: auto;
  text-align: center;
  display: none;
}

.sfgov-search-mobile-more a {
  border: 2px solid #0071bc;
  display: block;
  margin: 25px;
  border-radius: 5px;
  background: #fff;
  color: #0071bc;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}

/* loader css */
.loader{
  color:#ff0000;
  position:fixed;
  box-sizing:border-box;
  left:-9999px;
  top:-9999px;
  width:0;
  height:0;
  overflow:hidden;
  z-index:999999;
}
.loader:after,.loader:before{
  box-sizing:border-box;
  display:none;
}
.loader.is-active{
  background-color: transparent;
  width:100%;
  height:100%;
  left:0;
  top:0
}
.loader.is-active:after,.loader.is-active:before{
  display:block
}
@keyframes rotation{
  0%{
      transform:rotate(0)
  }
  to{
      transform:rotate(359deg)
  }
}
@keyframes blink{
  0%{
      opacity:.5
  }
  to{
      opacity:1
  }
}
.loader[data-text]:before{
  position:fixed;
  left:0;
  top:50%;
  color:currentColor;
  font-family:Helvetica,Arial,sans-serif;
  text-align:center;
  width:100%;
  font-size:14px
}
.loader[data-text=""]:before{
  content:"Loading"
}
.loader[data-text]:not([data-text=""]):before{
  content:attr(data-text)
}
.loader[data-text][data-blink]:before{
  animation:blink 1s linear infinite alternate
}
.loader-default[data-text]:before{
  top:calc(50% - 63px)
}
.loader-default:after{
  content:"";
  position:fixed;
  width:48px;
  height:48px;
  border:8px solid #0071bc;
  border-left-color:transparent;
  border-radius:50%;
  top:calc(50% - 24px);
  left:calc(50% - 24px);
  animation:rotation 1s linear infinite
}
.loader-default[data-half]:after{
  border-right-color:transparent
}
.loader-default[data-inverse]:after{
  animation-direction:reverse
}

/* end loader css */

@media screen and (max-width: 950px) {
  #sfgov-search-messages,
  #sfgov-search-results-count {
    margin: 0 25px;
  }

  #sfgov-search-results-count {
    padding: 25px 0 0 0;
  }
}

@media screen and (max-width: 770px) {
  .head-right--container #block-sfgovsearchblock.sfgov-search-311-block #edit-actions::before {
    left: 3px;
  }

  .sfgov-search-mobile-more {
    display: block;
  }

  .sfgov-search-pagination {
    display: none;
  }

  #sfgov-search-results-count {
    display: none !important;
  }
}