.sfgov-search-misspelled,
.sfgov-search-no-results {
  margin-top: 20px;
  font-size: 2rem;
}

.sfgov-search-misspelled .sfgov-search-instead {
  font-size: 1.7rem;
}

.sfgov-search-domain-label {
  margin-top: 20px !important;
  /* border-bottom: 1px solid #aeb0b5; */
  font-size: 2rem;
  padding: 20px !important;
  background: #eee;
}

.sfgov-search-pagination {
  text-align: center;
}

.sfgov-search-pagination ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sfgov-search-pagination li {
  padding: 0 15px;
  display: inline-block;
}

.sfgov-search-pagination li a {
  font-weight: normal;
  text-decoration: none;
}

.sfgov-search-pagination li.current a {
  font-weight: bold;
}