{%- if url -%}
<a href="{{ url }}" class="transaction-card--link">
{%- endif -%}
  <div class="transaction-card">
    <div class="transaction-card-container">
      <h4 class="transaction-card__title">{{ transaction_card.title }}</h4>
      <div class="transaction-card__body">{{ transaction_card.body }}</div>
    </div>
  </div>
{%- if url -%}
</a>
{%- endif -%}
