<div class="sidebar-card">
    <div class="sidebar-card-container">
        <a href="{{ url }}" class="sidebar-card--link">{{ sidebar_card.title }}</a>
        <div class="sidebar-card__body">{{ sidebar_card.body }}</div>
    </div>
</div>
