.block-simple-instagram-block {
  .instagram_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -20px;
    > a {
      display: flex;
      flex-basis: 33.333%;
      margin-bottom: 20px;
      padding-right: 20px;
      > img {
        width: 100%;
      }
    }
  }
}
