.branding-link {
  text-decoration: none;
  color: $color-black-light;
}

.sfgov-logo__container {
  @include media($narrow-screen) {
    padding: 12px 0;
  }
}

.sfgov-logo {
  margin-top: 3px;

  @include media($narrow-screen) {
    margin-top: 0;
  }
}

.sfgov-logo__image {
  display: block;

  img {
    display: inline-block;
    vertical-align: middle;
  }
  @include media($medium-screen) {

  }
}

.sfgov-logo--seal {
  width: 32px;
  height: 32px;

  @include media($medium-screen) {
    width: 42px;
    height: 42px;
  }
}

.sfgov-logo--lockup {
  width: 86.18px;
  height: 18px;

  @include media($medium-screen) {
    width: 112px;
    height: 23.39px;
  }
}

