.branding-link {
  text-decoration: none;
  color: $color-black-light;
}

.sfgov-logo__container {
  @include media($narrow-screen) {
    padding: 12px 0;
  }
}

.sfgov-logo {
  margin-top: 3px;

  @include media($narrow-screen) {
    margin-top: 0;
  }
}

.sfgov-logo__image {
  display: block;

  img {
    display: inline-block;
    vertical-align: middle;
  }
  @include media($medium-screen) {

  }
}

.sfgov-logo--seal {
  padding-right: 10px;
  width: 37px;

  @include media($medium-screen) {
    padding-right: 13px;
    width: 50px;
  }
}

.sfgov-logo--lockup {
  width: 86px;

  @include media($medium-screen) {
    width: 134px;
  }
}

