.path-frontpage {
  .sfgov-search-311-block {
    background: transparent;
  }
  .sfgov-search-form {
    label[for="edit-sfgov-search-input"] {
      display: none;
    }
  }
}
.sfgov-search-311-block {
  background: $c-blue-1;
  padding: 60px 0;
  margin-bottom: 60px;
  @include media($medium-screen) {
    h2 {
      @include contain-1090;
      @include rubik;
      @include fs-title-1;
      margin-bottom: 30px;
    }
  }
}
.sfgov-search-form {
  @include contain-1090;
  @include rubik;
  position: relative;
  height: 48px;
  padding: 0;
  label[for="edit-sfgov-search-input"] {
    display: none;
  }
  .js-form-item-sfgov-search-input {
    display: inline-block;
    margin-right: -5px;
    position: relative;
    height: 100%;
    vertical-align: top;
    width: calc(100% - 48px);
    input {
      @include fs-body-short;
      border: 3px solid $c-bright-blue;
      border-radius: 8px 0 0 8px;
      border-right: none;
      height: 100%;
      margin: 0;
      padding: 0 0 0 20px;
      &:focus {
        box-shadow: none;
      }
    }
  }
  [data-drupal-selector="edit-actions"] {
    display: inline-block;
    height: 100%;
    width: 48px;
    input[data-drupal-selector="edit-submit"] {
      @include background-image('search-white.svg', 50% 50%, $c-bright-blue);
      background-size: 22px;
      border-radius: 0 8px 8px 0;
      font-size: 0;
      height: 100%;
      margin: 0;
    }
  }

  @include media($medium-screen) {
    .js-form-item-sfgov-search-input {
      width: auto;
      input {
        @include background-image('search-blue.svg', 17px center, $c-white);
        background-size: 18px;
        padding: 0 0 0 49px;
      }
    }
    [data-drupal-selector="edit-actions"] {
      input[data-drupal-selector="edit-submit"] {
        @include fs-title-right;
        background-image: none;
        border: 0;
        padding: 12px 25px;
        &:hover {
          background: $c-bright-blue;
        }
      }
    }
  }
}