#sf-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 1em;
}

.display-1 {
  font-size: 1.94118rem;
  line-height: 2.29412rem;
  font-weight: 300;
  letter-spacing: 0;
}

@media screen and (min-width: 64rem) {
  .display-1 {
    font-size: 4.23529rem;
    line-height: 4.71765rem;
    letter-spacing: -0.12rem;
  }
}

.title-5 {
  font-size: 1.17647rem;
  line-height: 1.58824rem;
  font-weight: 500;
}

.title-5.zh-TW {
  line-height: 1.76471rem;
  /* antialiased, none, subpixel-antialiased*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  letter-spacing: 0.12rem;
}

.big-description {
  font-size: 1.17647rem;
  line-height: 1.70588rem;
  font-weight: 400;
}

.big-description.sfgov-translate-lang-zh-TW {
  line-height: 2.11765rem;
  letter-spacing: 0.12rem;
}

@media screen and (min-width: 64rem) {
  .big-description {
    font-size: 1.41176rem;
    line-height: 2.11765rem;
  }
  .big-description.sfgov-translate-lang-zh-TW {
    font-size: 1.52941rem;
    line-height: 2.47059rem;
    letter-spacing: 0.12rem;
  }
}

.small-text {
  font-size: 0.82353rem;
  line-height: 1.05882rem;
  font-weight: 400;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sf-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.sf-colors li {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 1% 5%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

@media screen and (min-width: 30rem) {
  .sf-colors li {
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 30rem) {
  .sf-colors li {
    width: 48%;
  }
}

@media screen and (min-width: 45rem) {
  .sf-colors li {
    width: 31%;
  }
}

@media screen and (min-width: 60rem) {
  .sf-colors li {
    width: 23%;
  }
}

.sf-swatch {
  display: block;
  height: 4em;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.sf-label {
  font-size: 90%;
  line-height: 1;
  padding: 1em;
  display: block;
}

.transaction-card {
  margin-bottom: 1.5em;
}

.sf-icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.sf-icon-item {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 1% 5%;
  padding: 1.5rem;
}

@media screen and (min-width: 30rem) {
  .sf-icon-item {
    margin-bottom: 2%;
  }
}

.sf-icon-item img {
  height: 4rem;
}

.sf-icon-item p {
  margin: 0;
}

.sf-inline * {
  display: inline-block;
}

/*# sourceMappingURL=pattern_scaffolding.css.map */
