.sfgov-footer__container {
  .sfgov-footer__top {
    background: #5b616b;
    overflow: auto;
  }
  .sfgov-footer__bottom {
    background: #323a45;
    padding: 22px 0 24.4px 0;
    .usa-nav-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .text {
      font-family: "Merriweather", sans-serif;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      margin-left: 19px;
    }
    .logo {
      img {
        fill: #fff;
      }
    }
  }
}
