{% if not eck_entity.get('field_address').isEmpty() %}
  {% set address = eck_entity.get('field_address').getValue()[0]['address_line1'] %}
{% endif %}

{% if not eck_entity.get('field_directions_link').isEmpty() %}
  {% set url = eck_entity.get('field_directions_link').get(0).getString() %}
{% endif %}

{% if url %}
  <a href="{{ url }}">{{ address }}</a>
{% else %}
  {{ address }}
{% endif %}
