<div class="sfgov-logo__container">
  <a href="{{ path('<front>') }}" class="branding-link">
  <span class="sfgov-logo">
    <span class="sfgov-logo__image">
      <img class="sfgov-logo--seal" src="{{ site_logo }}" alt="Home"/>
      <img class="sfgov-logo--lockup" src="{{ directory ~ '/src/img/sfgov.svg' }}" alt="Home"/>
    </span>
  </span>
  </a>
</div>
