{#<nav role="navigation" class="sfgov-nav sfgov-mobile_nav-container">#}
  {#<div class="sfgov-nav-inner">#}
    {#<button class="sfgov-nav-close">#}
      {#<span>x</span>#}
    {#</button>#}
    {#{% block content %}#}
      {#{{ content }}#}
    {#{% endblock %}#}
  {#</div>#}
{#</nav>#}

{% include "@molecules/02-navs/04-responsive-main-navigation.twig" with {
  "content": content
} %}
