<div class="block-simple-instagram-block">
  <div class="instagram-account-name">
    {{ content.simple_instagram_username }}
  </div>
  <div class="block-instagram-feed">
    {{ content }}
  </div>
</div>