{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('sfgov-user__login') }}>
    <h1>{{ 'SF.gov editor login' }}</h1>

    <div class="sfgov-user__wrapper">
      <div class="sfgov-user__content">
        {{ content }}
        <p>{{ 'If you are a City employee, <a href="@sso">log in with your DSW number instead.</a>'|t({'@sso': '/user/login'}) }}</p>
      </div>

      <div class="sfgov-user__help">
        {% include '@sfgovpl/misc/login-help-text.twig' %}
      </div>
    </div>
  </div>
{% endif %}
