<strong><em>{{ campaign_name }}</em> will expire on <em>{{ campaign_expiration_date }}</em></strong>

When the campaign expires, the campaign will save as a draft and San Franciscans won’t be able to see the page. 

If your campaign is over, you don’t need to do anything. 

If your campaign is still running, <a href="https://sfgov.org/user">go to SF.gov and reset the expiry date</a>. You can reset the date for up to a year in the future. 

If you are not actively editing and marketing your campaign, you should archive it. San Franciscans won’t trust out-of-date information. 

<a href="https://sfgovdt.jira.com/wiki/spaces/SFGOV/pages/1389002753/Content+types">Find out more about campaigns on SF.gov</a>.

If you can’t edit on SF.gov yourself, <a href="https://airtable.com/shrejrsBqjhZKtRCR">request an edit to a page on SF.gov</a>.

Thanks,
SF.gov team