
@mixin source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

@mixin merriweather {
  font-family: "Merriweather", sans-serif;
}

@mixin open-sans {
  font-family: "Open Sans", sans-serif;
}

@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

.source-sans-pro {
  @include source-sans-pro;
}

.merriweather {
  @include merriweather;
}

.open-sans {
  @include open-sans;
}

.montserrat {
  @include montserrat;
}

.lead-paragraph {
  @include merriweather;
  font-size: 20px;
  line-height: 34px;
  color: #205493;
}


