@import "01-fonts.scss";

// we can place the styles in straight in the folder where the component belongs.

@mixin sfgov-h1 {
  @include merriweather;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
}

h1 {
  @include sfgov-h1;
}

