{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

<div class="sfgov-container">

  {% for type, messages in message_list %}

    {% for message in messages %}

      {% if type == "status" %}

        {% include "@molecules/05-alerts/01-alert.twig" with {
          "alert": {
            "type": "success",
            "role": "alertdialog",
            "title": "Success",
            "content": message
          }
        } %}

      {% elseif type == "error" %}

        {% include "@molecules/05-alerts/01-alert.twig" with {
          "alert": {
            "type": "error",
            "role": "alertdialog",
            "title": "Error",
            "content": message
          }
        } %}

      {% elseif type == "warning" %}

        {% include "@molecules/05-alerts/01-alert.twig" with {
          "alert": {
            "type": "warning",
            "role": "alertdialog",
            "title": "Warning",
            "content": message
          }
        } %}

      {% endif %}


    {% endfor %}

  {% endfor %}

</div>

