{% extends 'views-view--events--page-1.html.twig' %}

{% block header %}
{% endblock header %}

{% block rows %}

  {% if rows %}
    {% set count = 3 - (rows[0]['#rows']|length) %}
    <a name="events"></a>
    <div id="sfgov-dept-events" class="sfgov-dept-events sfds-layout-container">
      <div class="sfds-responsive-container">
        <h3>{{ "Events"|t }}</h3>
        <div class="views-events--rows">
          {{ rows }}
          {% if count > 0 %}
            {% for n in 1..count %}
              <div class="views-row" style="visibility:hidden;"></div>
            {% endfor %}
          {% endif %}
        </div>
        {{ more }}
      </div>
    </div>
  {% endif %}

{% endblock rows %}

{% block more %}
{% endblock more %}
