{#
  See /core/themes/stable/templates/views/views-view-unformatted.html.twig
  for variable comments and original template.
#}

<div class="view-news-block">
  {% if view.getTitle() %}
    <h2 class="title">{{ view.getTitle() }}</h2>
  {% endif %}
  {% block rows %}
    {% include '@theme/molecules/news-cards.twig' %}
  {% endblock rows %}
</div>
