{% extends 'views-view--news--page-1.html.twig' %}

{% block header %}
{% endblock header %}

{% block rows %}

  {% if rows %}
    <div class="sfgov-dept-news sfds-layout-container">
      <div class="sfds-responsive-container">
        <h3>{{ "News"|t }}</h3>
        <div class="views-news--rows">
          {{ rows }}
        </div>
        {{ more }}
      </div>
    </div>
  {% endif %}

{% endblock rows %}

{% block more %}
{% endblock more %}
