{% extends 'views-view--news--page-1.html.twig' %}

{% block header %}
{% endblock header %}

{% block rows %}
  <div class="sfds-responsive-container">
    <h3>{{ "News"|t }}</h3>
    <div class="views-news--rows">
      {{ rows }}
    </div>
    {{ more }}
  </div>
{% endblock rows %}

{% block more %}
{% endblock more %}
