{#
  See /core/themes/stable/templates/views/views-view-unformatted.html.twig
  for variable comments and original template.
#}

{% extends 'views-view-unformatted--services--block.html.twig' %}

{% block title %}
{% endblock title %}

{# {% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% block rows %}
  {% include '@theme/molecules/service-cards.twig' with { input_type: 'views'} %}
{% endblock rows %} #}
