.sfgov-event-address {
  h4 {
    @include fs-title-5;
    margin-bottom: 20px;
  }
  p {
    @include fs-body-long;
  }
  img {
    display: block;
    margin-bottom: 20px;
    border: 1px solid $c-blue-2;
  }
  a {
    display: block;
  }
}