@mixin form-item-flex {
  .form-radios, .form-chexboxes {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0.5em 0 0 0;

    > .form-item {
      margin-bottom: 0.5em;
      margin-right: 1em;
    }
  }
}


@mixin form-item-inline {
  display: inline-block;
  margin-right: 1em;
}
