//  Seven Messages
//------------------------------------------------------------------------------

$seven-success-accent: #77b259;
$seven-success-background: #f3faef;
$seven-success-border: #c9e1bd;
$seven-success-text: #325e1c;

$seven-warning-accent: #e09600;
$seven-warning-border: #f4daa6;
$seven-warning-background: #fdf8ed;
$seven-warning-text: #734c00;

$seven-error-accent: #e62600;
$seven-error-border: #f9c9bf;
$seven-error-background: #fcf4f2;
$seven-error-text: #a51b00;


$tabledrag-changed-bg: #e09600;
$message-info-bg: #e7e7e7;
