<header role="banner">
  <div class="sfgov-nav-container">
    <div class="sfgov-nav-container__content">
      <button class="sfgov-menu-btn">Menu</button>
      {{ header_blocks }}
      <div class="head-right--container">
        {{ translate_block }}
      </div>
      {% if pl_test_content %}
        {% include "molecules-branding" %}
        {% include "molecules-main-navigation" %}
      {% endif %}
    </div>
  </div>
</header>
