.node-about-form .field--name-field-custom-sections,
.node-about-form .field--name-field-about-resources {
  position: relative;
}

.node-about-form .field--name-field-custom-sections .field-multiple-table tbody::before,
.node-about-form .field--name-field-about-resources .field-multiple-table tbody::before {
  content: '';
  display: block;
  height: 40px;
}

.node-about-form .field--name-field-custom-sections .form-item-custom-paragraph > .description,
.node-about-form .field--name-field-about-resources .form-item-custom-paragraph > .description {
  position: absolute;
  top: 50px;
  left: 10px;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.field--name-field-custom-sections .paragraph-top,
.field--name-field-about-resources .paragraph-top {
  grid-template-columns: 0 auto 1fr auto !important;
}

.field--name-field-custom-sections .paragraph-top .paragraph-type,
.field--name-field-about-resources .paragraph-top .paragraph-type {
  display: none !important;
}

.field--name-field-custom-sections .paragraph-top .paragraphs-actions,
.field--name-field-about-resources .paragraph-top .paragraphs-actions {
  margin-left: auto !important;
}