<div class="office-hours-status office-hours-status--{% if is_open %}open{% else %}closed{% endif %}">
  {% if is_open %}
      {{ open_text }}
  {% else %}
      {{ closed_text }}
  {% endif %}
</div>
