.sfgov-services-container {
  background: $c-blue-1;
  .sfgov-services {
    @include contain-1090;
    .sfgov-dept-services-section-title {
      @include fs-big-description;
      margin: 0 0 13px 0;
    }
    .sfgov-dept-services-section-content {
      margin-bottom: 40px;
    }
  }
}

// MOBILE
@include media-max($mobile-screen) {
  .sfgov-services.accordion {
    border: 3px solid $c-bright-blue;
    border-radius: 8px;
    font-family: Rubik;
  }
  .sfgov-services.accordion .sfgov-dept-services-section-title.ui-accordion-header {
    color: $c-bright-blue;
    background: $c-white;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
  }
  .sfgov-services.accordion .sfgov-dept-services-section-title .sfgov-container-item {
    max-width: 85%;
  }
  .sfgov-services.accordion .ui-accordion-header.ui-state-active {
    background: $c-bright-blue;
    color: $c-white;
  }
  .sfgov-services.accordion .ui-accordion-header .ui-accordion-header-icon.ui-icon {
    float: right;
    background-image: url('../../src/img/plus-blue.svg');
    background-position: 0 0;
    height: 19px;
    width: 19px;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  .sfgov-services.accordion.ui-accordion .ui-accordion-content.sfgov-dept-services-section-content {
    padding: 3px 30px 13px 30px;
  }
  .sfgov-services.accordion .sfgov-service-card {
    border: none;
    padding: 20px 0;
  }
  .sfgov-service-card h4 {
    color: $c-bright-blue;
    text-decoration: underline;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }
  .sfgov-service-card .description {
    color: $c-slate;
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
  }
}
