.sfgov-services-container {
  background: $c-blue-1;
  // .sfgov-dept-section-heading{
  //   h2 {
  //     @include fs-title-1-mobile;
  //     margin: 0 0 20px 0;
  //     @include media($medium-screen) {
  //       @include fs-title-1;
  //       margin: 0 0 60px 0;
  //     }
  //   }
  // }
  .sfgov-services {
    @include contain-1090;
    .sfgov-dept-services-section-title {
      @include fs-big-description;
      margin: 0 0 13px 0;
    }
    .sfgov-dept-services-section-content {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      > div {
        display: block;
        width: 100%;
        margin: 0 0 20px 0;
        @include media($medium-screen) {
          &:nth-child(3n+3) {
            margin-right: 0;
          }
          margin: 0 20px 20px 0;
          width: 31%;
        }
        @include media($wide-screen) {
          &:nth-child(3n+3) {
            margin-right: 0;
          }
          margin: 0 20px 20px 0;
          width: 32%;
        }
      }
    }
  }
}