.sfgov-featured-items {
  @include contain-1090;
  display: flex;
  flex-direction: row;
  margin-bottom: 110px;
  .sfgov-featured-item-container {
    display: block;
    margin-right: 20px;
    width: 33%;
  }
}
