.maintenance-page {
  @include contain-1090;

  .sfgov-logo--seal {
    height: 42px;
    width: 42px;
  }

  .sfgov-logo--lockup {
    height: 23px;
    width: 112px;
  }

  header {
    border-bottom: 3px solid #E9ECEE;
    padding-top: 70px;
    padding-bottom: 40px;
  }

  main {
    padding: 0 0 60px 0;
  }

  h2 {
    @include fs-title-3-mobile;

    @include media($narrow-screen) {
      @include fs-title-3;
      margin-top: 60px;
    }
  }

  p {
    line-height: 32px;
  }
}
