.maintenance-page {
  @include contain-1090;
  padding-top: 30px;

  .sfgov-logo--seal {
    height: 42px;
    width: 42px;
  }

  .sfgov-logo--lockup {
    height: 23px;
    width: 112px;
  }

  h1 {
    @include fs-title-1-mobile;

    @include media($narrow-screen) {
      @include fs-title-1;
    }
  }

  main {
    padding: 0 0 60px 0;
  }
}
