.maintenance-page {
  padding: 30px 20px;
  h1 {
    font-size: 33px;
  }
  .sfgov-maintenance-logo {
    @include rubik;
    padding: 20px 0 !important;
    position: relative;
    img {
      display: inline-block;
      width: 50px;
    }
    .logo-text {
      display: inline-block;
      font-size: 42px;
      font-weight: 300;
      position: absolute;
      top: 20px;
      left: 60px;
      color: #000;
      strong {
        font-weight: 500;
      }
    }
  }
}