{% set date_today = 'now'|date('Y-m-d') %}
{% if date_today <= date_exp  %}
  <div {{ attributes.addClass(['alert', style]) }}">
    <div class="alert--container">
      {{ title_prefix }}
      {{ title_suffix }}
      {{ content.field_alert_text }}
    </div>
  </div>
{% endif %}
