<div class="sfgov-callout {{ type }} {{ color }}">
  <div class="sfgov-callout-body">
    {%- if title -%}
      <h3 class="sfgov-callout-heading">{{ title }}</h3>
    {%- endif -%}
    {% if content is not iterable %}
      <p class="sfgov-callout-content">{{ content|striptags('<a><strong><u>')|raw }}</p>
    {% endif %}
  </div>
</div>
