<div class="sfgov-callout {{ type }} {{ color }}">
  <div class="sfgov-callout-body">
    {%- if title -%}
      <h3 class="sfgov-callout-heading">{{ title }}</h3>
    {%- endif -%}
    <p class="sfgov-callout-content">{{ content|striptags('<a>')|raw }}</p>
  </div>
</div>
