<a href="{{ url }}" class="text-body no-underline p-20 border-grey-2 border-3 border-solid rounded">
  <p class="text-action font-medium underline mb-8">{{ title }}</p>
  <p class="description text-slate-4">
    {{ description }}
  </p>
</a>
