<a href="{{ url }}" class="bg-white text-body no-underline p-20 border-grey-2 border-3 border-solid rounded hocus:border-blue-bright">
  <p class="text-action font-medium underline m-0 mb-8">{{ title }}</p>
  <p class="m-0 description text-slate-4">
    {{ description }}
  </p>
</a>
