<div class="document-file--container">
  <i class="sfgov-icon-filefilled"></i>
  <span class="document">
    {% if url is not empty %}
    <a href="{{ url }}">{{ label }}</a>
    {% else %}
    <a class="no-link">{{ label }}</a>
    {% endif %}
  </span>
</div>