{% if email_title or email_address %}
  <div class="sfgov-email">
    {% if email_title %}
      <h4 class="text-body">{{ email_title }}</h4>
    {% endif %}
    {% if email_address %}
      <div class="text-body">{{ email_address }}</div>
    {% endif %}
  </div>
{% endif %}