{% if email_title or email_address %}
<div class="sfgov-email">
  {% if email_title %}
    <h4 class="sfgov-email-title">{{ email_title }}</h4>
  {% endif %}
  {% if email_address %}
    <div class="sfgov-email-address">{{ email_address }}</div>
  {% endif %}
</div>
{% endif %}