<a class="no-underline border-solid border-3 border-grey-4 rounded p-24 mb-20 lg:w-1/3 lg:mr-20 lg:mb-0 last:mr-0" href="{{ url }}">
  <div class="text-title-xl text-blue-bright font-medium">{{ title }}</div>
  <div class="text-black">
    {{ description }}
  </div>
</a>