<a class="flex flex-col no-underline border-solid border-3 border-grey-4 rounded p-24 lg:w-1/3" href="{{ url }}">
  <div class="text-title-xl text-blue-bright font-medium">{{ title }}</div>
  <div class="text-black flex-auto">
    {{ description }}
  </div>
  <sfgov-icon symbol="arrow-right" class="flex justify-end items-end"></sfgov-icon>
</a>
