<a class="group flex flex-col no-underline border-solid border-3 border-grey-2 py-16 px-24 rounded lg:p-24 lg:w-1/3 hocus:bg-action hocus:border-white" href="{{ url }}">
  <div class="text-title-md text-action font-medium mb-8 lg:mb-16 lg:text-title-md-desktop group-hocus:text-white">{{ title }}</div>
  <div class="h-8 mb-8 w-100 bg-blue-bright lg:mb-16 group-hocus:bg-white"></div>
  <div class="text-body text-black flex-auto group-hocus:text-white">
    {{ description }}
  </div>
  <sfgov-icon symbol="arrow-right" class="flex justify-end items-end text-action group-hocus:text-white"></sfgov-icon>
</a>
