<footer class="sfgov-footer" role="contentinfo">
  <div class="sfgov-footer__container">
    <div class="logo">
      <span class="seal">
        <img src="/themes/custom/sfgovpl/logo-white.svg" alt="{{ footer.image_alt }}"/>
      </span>
      <span class="text">
        {{ "City and County <br>of San Francisco" |t }}
      </span>
    </div>
    {{ page.footer_top }}
    {{ page.footer_bottom }}
  </div>
</footer>
