<header role="banner">
  <div class="sfgov-nav-container">
    <div class="sfgov-nav-container__content">
      {{ [page.header.sfgovpl_branding] }}
      <div class="head-right--container">
        {# <button class="sfgov-mobile-translate sfgov-mobile-nav-btn"></button> #}
        <button class="sfgov-mobile-search sfgov-mobile-nav-btn"></button>
        <button class="sfgov-menu-btn sfgov-mobile-nav-btn">Menu</button>
        {{ [page.header.sfgovpl_main_menu, page.header.gtranslate, page.header.sfgovsearchblock] }}
      </div>
    </div>
  </div>
</header>
