<header class="hero-banner color">
  <div class="hero-banner--container">
    {{ banner.label }}
    <h1>{{ banner.title }}</h1>
    {% if banner.text %}
      <h3 class="lead-paragraph">{{ banner.text }}</h3>
    {% endif %}
  </div>
</header>
