<span class="hero-banner--border"><span class="hero-banner--border-contain"></span></span>
<div class="hero-banner default">
  <div class="">
    {{ banner.label }}
    <h1>{{ banner.title }}</h1>
    {% if banner.text %}
      <h3 class="lead-paragraph">{{ banner.text }}</h3>
    {% endif %}
  </div>
</div>
