{% if banner.text or banner.image != "/" %}
<header class="hero-banner image" style="background-color: {{ banner.backgroundcolor }}">
  <div class="hero-banner--container">
    {% if banner.image != "/" %}
      <div class="logo">
        <img src="{{ banner.image }}"/>
    </div>
     {% endif %}
    {% if banner.text %}
    <div class="banner-text">
      {{ banner.text }}
    </div>
     {% endif %}
  </div>
</header>
{% endif %}
