<header class="hero-banner color">
  <div class="hero-banner--container">
    {% if banner.label %}
      <div class="hero-banner-label">
        {{ banner.label|raw }}
      </div>
    {% endif %}
    <h1>{{ banner.title }}</h1>
    {% if banner.text %}
      <p class="lead-paragraph">{{ banner.text | striptags }}</p>
    {% endif %}
  </div>
</header>
