<header class="hero-banner color">
  <div class="hero-banner--container">
    {% if banner.image %}
      <div class="logo">
        <span class="seal">
          <img src= {{ file_url(banner.image | striptags) }}/>
        </span>
    </div>
    {% endif %}
    {% if banner.text %}
      <p class="lead-paragraph">{{ banner.text }}</p>
    {% endif %}
  </div>
</header>
