{# @todo The hero-banners should be refactored into one template.n#}
<div class="hero-banner plain">
  <div class="">
    {{ banner.label }}
    <h1>{{ banner.title }}</h1>
    {% if banner.text %}
      <h3 class="lead-paragraph">{{ banner.text }}</h3>
    {% endif %}
  </div>
</div>
