<span class="hero-banner--border"><span class="hero-banner--border-contain"></span></span>
<div class="hero-banner default{% if banner.notranslate %} {{ banner.notranslate }}{% endif %}">
  <div class="">
    {{ banner.label }}
    <h1>{{ banner.title }}</h1>
    {% if banner.text %}
      <p class="lead-paragraph">{{ banner.text }}</p>
    {% endif %}
  </div>
</div>
