<div class="sfgov-new-website">
  {% if blocks.head_text %}
    <h2>{{ blocks.head_text }}</h2>
  {% endif %}
  {% if blocks.body_text %}
    <div class="body">
      {{ blocks.body_text|raw }}
    </div>
  {% endif %}
</div>
