<div class="news-front">
  <div class="news-front--container">
    <div class="news-front--view">
      {{ rows }}
      <div class="news-front--view-more">
        {{ more }}
      </div>
    </div>
  </div>
</div>
