{{ attach_library('sfgovpl/twitter-feed') }}
<div class="news-front">
  <div class="news-front--container">
    <div class="news-front--view">
      {{ rows }}
      {% if count > 0 %}
        {% for n in 1..count %}
          <div class="views-row" style="visibility:hidden"></div>
        {% endfor %}
      {% endif %}

      <div class="news-front--view-more">
        {{ more }}
      </div>
    </div>

    <div class="news-front--twitter">
      <a class="twitter-timeline" data-height="450" href="https://twitter.com/sfgov/lists/official-agencies?ref_src=twsrc%5Etfw">A Twitter List by sfgov</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
    </div>
  </div>
</div>
