{% if phone_owner or phone_number or phone_details %}
  <div class="sfgov-phone">
    {% if phone_owner %}
      <h4 class="text-body lg:text-body-desktop">{{ phone_owner }}</h4>
    {% endif %}
    {% if phone_number %}
      <div class="text-body lg:text-body-desktop">{{ phone_number }}</div>
    {% endif %}
    {% if phone_details %}
      <div class="text-body text-slate-4 opacity-70 lg:text-body-desktop">{{ phone_details }}</div>
    {% endif %}
  </div>
{% endif %}
