{% if phone_owner or phone_number or phone_details %}
  <div class="sfgov-phone text-body">
    {% if phone_owner %}
      <h4 class="text-body">{{ phone_owner }}</h4>
    {% endif %}
    {% if phone_number %}
      <div>{{ phone_number }}</div>
    {% endif %}
    {% if phone_details %}
      <div class="text-slate-4 opacity-70">{{ phone_details }}</div>
    {% endif %}
  </div>
{% endif %}
