{% if phone_owner or phone_number or phone_details %}
<div class="sfgov-phone">
  {% if phone_owner %}
    <h4 class="sfgov-phone-owner">{{ phone_owner }}</h4>
  {% endif %}
  {% if phone_number %}
    <div class="sfgov-phone-number">{{ phone_number }}</div>
  {% endif %}
  {% if phone_details %}
    <div class="sfgov-phone-details">{{ phone_details }}</div>
  {% endif %}
</div>
{% endif %}