<div class="sfgov-status {{ alert.type }}" role="alertdialog">
  <div class="body">
    {%- if alert.title -%}
      <h3 class="heading">{{ alert.title }}</h3>
    {%- endif -%}
    <p class="content">{{ alert.content }}</p>
  </div>
</div>
