{#
  See /core/themes/stable/templates/views/views-view-unformatted.html.twig
  for variable comments and original template.
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="container">
  {% block rows %}
    {% for row in rows %}
      {%
        set row_classes = [
        default_row_class ? 'views-row',
      ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  {% endblock rows %}
</div>
