{% set attributes = options.attributes ? create_attribute(options.attributes) : [] %}
{% set attributes = attributes.addClass('btn') %}
{% if classes %}
  {% set attributes = attributes.addClass(classes) %}
{% endif %}
<a href="{{ href }}" {{ attributes }}>{{ text }}</a>
