$white: #fff;
$black: #212123;
$slate: #1c3e57; // rgb(28, 62, 87)
$dark-blue: #0c1464;
$bright-blue: #4f66ee;
$blue-1: #edf4f7;
$blue-2: #a9d6ea;
$blue-3: #e1f3f8;

$yellow-1: #f8f1df;
$yellow-2: #f9e3a3;
$yellow-3: #f4c435;
$yellow-4: #e7b22e;

$green-1: #e9f7ec;
$green-2: #c0e2c5;
$green-3: #00896d;
$green-4: #1b674d;

$red-1: #f5e9e5;
$red-2: #efcabb;
$red-3: #c9563a;
$red-4: #bc4427;

$purple-1: #edebf6;
$purple-2: #cccced;
$purple-3: #7d61b3;
$purple-4: #5a3e94;

$grey-1: #f8f8f8;
$grey-2: #f1f1f1;
$grey-3: #e9e9e9;
$grey-4: #d3d3d3;
$grey-5: #323a45;