<ul class="sf-colors">
  {{#each colorset}}
    <li>
      <span class="sf-swatch" style="background: {{ this.color }};"></span>
      <span class="sf-label">{{ this.color }}<br/>{{ this.label }}</span>
    </li>
  {{/each}}
</ul>