@import '../../01-atoms/01-colors/01-colors';


.sfgov-section {
  margin-bottom: 50px;
}

.sfgov-section__title {
  background: $color-blue-darker;
  color: #fff;
  padding: 16px 25px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.sfgov-section__content {
  .paragraph--type--step{
      margin-left: 25px;
      margin-right: 25px;
  }
}
