@import "../../00-protons/01-grid";

.sfgov-three-column {
  > * {
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }
  @include media-max($medium-screen) {
    > * {
      width: 49%;
      text-align: center;
    }
  }
}