<form>
  <div class="form-group field-m13" data-id="{{ id }}">
    <label>
      <span class="label">{{ title }}</span>
      <input id="{{ id }}" data-formtype="m13" name="{{ id }}" type="file" required="" data-required-error="You need to upload a file.">
      <span class="file-custom" data-filename=""></span>
    </label>
    <div class="help-block with-errors"></div>
  </div>
</form>
