<a class="service-card {{ invisible ? 'invisible' }}" href="{{ invisible ? '' : url }}">
  {% if invisible == 'invisible' %}
  {% else  %}
    <h5>{{ title }}</h5>
    <p>
      {{ description }}
    </p>
  {% endif %}
</a>
