<div class="sidebar-card">
    <div class="sidebar-card-container">
        <a href="{{ url }}" class="sidebar-card--link">{{ title }}</a>
        <div class="sidebar-card__body">{{ description }}</div>
    </div>
</div>
