// Import dependencies for USWDS.

// Vendor -------------- //
@import '../../../node_modules/uswds/src/stylesheets/core/variables-vendor';
// instead of @import 'lib/bourbon'; the following:
@import "../../../node_modules/bourbon/core/bourbon";

// instead of @import 'lib/neat'; the following:
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/settings/*.scss";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/functions/*.scss";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/mixins/*.scss";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/grid/*.scss";

//@import 'lib/normalize';
@import '../../../node_modules/normalize.scss/normalize';

// Core -------------- //
$helvetica: 'Helvetica', sans-serif;
$georgia: 'Georgia', sans-serif;
$image-path: './../images';

@import '../../../node_modules/uswds/src/stylesheets/core/variables';
@import '../../../node_modules/uswds/src/stylesheets/core/utilities';
@import '../../../node_modules/uswds/src/stylesheets/core/base';

// Elements -------------- //
// Styles basic HTML elements
@import '../../../node_modules/uswds/src/stylesheets/elements/buttons';
@import '../../../node_modules/uswds/src/stylesheets/elements/embed';
@import '../../../node_modules/uswds/src/stylesheets/elements/figure';
@import '../../../node_modules/uswds/src/stylesheets/elements/labels';
@import '../../../node_modules/uswds/src/stylesheets/elements/list';
@import '../../../node_modules/uswds/src/stylesheets/elements/table';

// Components -------------- //
@import '../../../node_modules/uswds/src/stylesheets/components/accordions';
@import '../../../node_modules/uswds/src/stylesheets/components/banner';
@import '../../../node_modules/uswds/src/stylesheets/components/footer';
@import '../../../node_modules/uswds/src/stylesheets/components/graphic-list';
@import '../../../node_modules/uswds/src/stylesheets/components/header';
@import '../../../node_modules/uswds/src/stylesheets/components/hero';
@import '../../../node_modules/uswds/src/stylesheets/components/layout';
@import '../../../node_modules/uswds/src/stylesheets/components/media-block';
@import '../../../node_modules/uswds/src/stylesheets/components/search';
@import '../../../node_modules/uswds/src/stylesheets/components/section';
@import '../../../node_modules/uswds/src/stylesheets/components/sidenav';
@import '../../../node_modules/uswds/src/stylesheets/components/skipnav';

// Styles inside patterns.

@import "../_patterns/00-protons/*.scss";
@import "../_patterns/01-atoms/**/*.scss";
@import "../_patterns/02-molecules/**/*.scss";
@import "../_patterns/03-organisms/**/*.scss";
@import "../_patterns/04-templates/**/*.scss";
@import "../_patterns/05-pages/**/*.scss";


