/* purgecss start ignore */
.path-user {
  h1 {
    @include fs-h1-default;

    color: $c-black;
    margin-bottom: 20px;

    @include media($medium-screen) {
      margin-left: -5px;
      margin-bottom: 50px;
    }
  }

  .user-login-form .js-form-item,
  .user-pass .js-form-item,
  .user-pass-reset .js-form-item {
    @include media($medium-screen) {
      width: 80%;
    }
  }

  .sfgov-user__wrapper {
    padding-bottom: 75px;

    @include media($medium-screen) {
      display: flex;
    }
  }

  .sfgov-user__content {
    @include media($medium-screen) {
      width: 50%;
      margin-right: 16.66667%;
    }

    h3 {
      margin-top: 0;
    }
  }

  .sfgov-user__help {
    @include media($medium-screen) {
      width: 33.33333%;
    }
  }

  .sfgov-user__additional {
    margin-top: 50px;
    margin-bottom: 50px;

    @include media($medium-screen) {
      margin-top: 75px;
      margin-bottom: 75px;
    }

    .sfgov-user__additional-section {
      margin-bottom: 40px;
    }

    .field__label {
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 0.5em;

      + p {
        margin-top: 0.5em;
      }
    }
  }

  .sfgov-user__help-text {
    padding: 30px 40px;
    border-radius: 8px;
    background-color: $c-blue-1;

    @include media-max($medium-screen) {
      margin-top: 50px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 2em;
    }
  }
}

/* purgecss end ignore */
