/* purgecss start ignore */
.path-user {
  h1 {
    @include fs-h1-default;
    color: $c-black;
    margin-bottom: 20px;

    @include media($medium-screen) {
      margin-left: -5px;
      margin-bottom: 50px;
    }
  }

  .sfgov-user__help {
    margin-top: 100px;
    margin-bottom: 100px;

    .sfgov-user__help-section {
      margin-bottom: 40px;
    }

    .field__label {
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 0.5em;

      + p {
        margin-top: 0.5em;
      }
    }
  }
}
/* purgecss end ignore */
