.region-fourofour {
  background: $c-dark-blue;
  color: $c-white;

  img {
    height: auto;
    width: 100%;

    @include media($narrow-screen) {
      display: none;
    }
  }

  .region-fourofour-contain {
    @include contain-1280;
    padding: 44px 20px 44px;

    @include media($narrow-screen) {
      @include background-image('404-vert.png', right top);
      padding: 67px 0 93px 96px;
    }
  }

  h2 {
    @include antialiasing;
    @include fs-title-1-mobile;
    margin-bottom: 28px;

    @include media($narrow-screen) {
      max-width: calc(100% - 518px);
    }

    @include media($wide-screen) {
      @include fs-title-1;
      max-width: 670px;
    }
  }

  p {
    @include fs-big-description-mobile;
    margin-bottom: 40px;

    @include media($narrow-screen) {
      max-width: calc(100% - 518px);
    }

    @include media($wide-screen) {
      @include fs-title-4;
      max-width: 670px;
    }
  }

  a {
    @include link-colors($c-white);
  }

  .sfgov-search-311-block {
    width: 100%;

    @include media($narrow-screen) {
      max-width: calc(100% - 518px);
    }

    @include media($wide-screen) {
      max-width: 670px;
    }
  }
}

.region-fourofour-footer {
  @include contain-1090;
  padding-bottom: 23px;
  padding-top: 72px;

  @include media($narrow-screen) {
    padding-top: 32px;
  }
}
