.access-denied-message {

  .access-denied-header {
    padding: 60px;
    background: #0c1464;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 50px;

    @include media-max($narrow-screen) {
      padding: 25px;
      margin-bottom: 30px;
    }

    h1 {
      color: #fff;
      margin: 0;
    }
  }
  
  .access-denied-text {
    margin-bottom: 40px;
    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 45px;

      @include media-max($narrow-screen) {
        font-size: 20px;
      }
    }

    @include media-max($narrow-screen) {
      margin-bottom: 30px;
    }
  }

}
