
{% if not field_file.isEmpty %}
        <div class="document-file--container">
            <i class="sfgov-icon-filefilled"></i>
            <span class="document"><a href="{{ fileurl }}"> {{ field_file.entity.label }} </a></span>
        </div>
    {%  endif %}
