// hide the address' country field
.form-item-field-address-0-address-country-code, .form-item-inline-entity-form-field-address-0-address-country-code {
  display: none;
}

// hide the request public records link, email, phone fields
#edit-field-req-public-records-link-wrapper,
#edit-field-req-public-records-phone-wrapper,
#edit-field-req-public-records-email-wrapper {
  display: none;
}

.node-topic-edit-form,
.node-topic-form {
  .form-item-field-page-design {
    display: inline-block;
    width: 28%;
    margin-right: 20px;
    input[name="field_page_design"] + label.option {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  [data-drupal-selector="edit-field-page-design-1"] + label.option {
    &::after {
      background-image: url('../../images/dist/Services.png');
    }
  }
  [data-drupal-selector="edit-field-page-design-2"] + label.option {
    &::after {
      background-image: url('../../images/dist/Events.png');
    }
  }
  [data-drupal-selector="edit-field-page-design-3"] + label.option {
    &::after {
      background-image: url('../../images/dist/Spotlight.png');
    }
  }
}

// Tweaking Remove button.
table {
  &.field-multiple-table td {
    position: relative;
    input.form-autocomplete {
      width: 82%;
    }
    input[class^=remove-field-delta] {
      right: 0;
      position: absolute;
      top: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
