
// Global FAPI Adjustments
//------------------------------------------------------------------------------

.form-item {
  margin: 20px 0;

  .form-composite & {
    margin-bottom: 0;
    margin-top: 0;
  }

  label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
  }
}

.field-prefix {
  font-family: monospace;
  font-size: 1.5em;
}

div.description,
.form-item .description {
  font-size: 0.85em;
  margin-top: 10px;

  .form-composite > .fieldset-wrapper > & {
    margin-top: 0;
  }
}
