.sidebar-toggle {
  align-items: center;
  background-color: transparent;
  border: solid 2px var(--colorGinPrimary);
  border-radius: 6px;
  display: none;
  float: right;
  height: 40px;
  justify-content: center;
  margin: 6px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -999em;
  white-space: nowrap;
  width: 40px;

  @media only screen and (min-width: 780px), (min-device-height: 780px) and (orientation: landscape) {
    display: flex;
  }

  &,
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  // span, ::before, and ::after form the icon bars for hamburger and the x.
  .sidebar-toggle__icon {
    left: 0;
    margin: -2px auto auto auto;
    position: absolute;
    right: 0;
    top: 50%;
    transition: background 0.2s;

    &,
    &::before,
    &::after {
      display: inline-block;
      height: 2px;
      position: absolute;
      width: 24px;
    }

    &::before,
    &::after {
      backface-visibility: hidden;
      content: '';
      right: 0;
      transform: translateZ(0);
      transform-origin: 0% 50%;
      transition: transform 0.2s;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }

  .sidebar-toggle-x {
    background: transparent;

    &::before {
      background: var(--colorGinPrimary);
      transform: translateX(4px) translateY(-3px) rotate(45deg);
    }

    &::after {
      background: var(--colorGinPrimary);
      transform: translateX(4px) translateY(2px) rotate(-45deg);
    }
  }

  .sidebar-toggle-hamburger {
    background: var(--colorGinPrimary);

    &::before,
    &::after {
      background: var(--colorGinPrimary);
      transform: none;
    }
  }

  // Hover and Focus states.
  &:focus,
  &:hover {
    background: var(--colorGinPrimary);
    outline: 0;

    .sidebar-toggle-x {

      &::before,
      &::after {
        background: #000;
      }
    }
    .sidebar-toggle-hamburger {
      &,
      &::before,
      &::after {
        background: #000;
      }
    }
  }
}

.gin--edit-form.sidebar-toggle-active {
  @media screen and (min-width: 780px), (orientation: landscape) and (min-device-height: 780px) {
    padding-right: 0;
    width: calc(100% - 54px);

    //.layout-region-node-main,
    //.layout-region-node-footer {
    //  padding-right: 0;
    //}

    .page-wrapper__node-edit-form .layout-region-node-secondary {
      width: 54px !important;
    }
  }
}
