
// Maxlength/Description
//------------------------------------------------------------------------------


.has-maxlength-js,
.form-type-maxlength {
  .counter {
    background: $seven-success-background;
    border: solid 1px $seven-success-border;
    border-color: $seven-success-border;
    border-left-color: $seven-success-accent;
    border-left-width: 5px;
    box-sizing: border-box;
    color: $seven-success-text;
    font-size: 11px;
    padding: 0 0.5em;

    &.warning {
      background: $seven-warning-background;
      border-color: $seven-warning-border;
      color: $seven-warning-text;
    }
  }
}
