// Autocomplete Element
// .form-item-custom-autocomplete
//
// Similar to the look of the transaction Paragraphs entry form, this the
// Autocomplete widget was customized to place the "Add another item" button at
// the top right of the form element. The markup behind this widget is located
// in `../../templates/field-multiple-value-form--autocomplete.html.twig` which
// comes from a custom suggestion defined in sfgov_admin.module.
//------------------------------------------------------------------------------

.form-item-custom-autocomplete {
  position: relative;

  &.form-item {
    margin: 20px 0;
  }

  td {
    padding: 10px;
  }

  th.field-label .label {
    text-transform: none;
  }

  input.form-autocomplete {
    width: 100%;
  }

  .autocomplete-add-more {
    display: inline-block;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;

    input.field-add-more-submit {
      font-size: 13px;
      line-height: normal;
      margin: 0 !important;
    }
  }
}
