
// Maxlength/Description
//------------------------------------------------------------------------------

.field--name-field-description .text-format-wrapper {
  display: grid;
  grid-template-columns: auto 26px;

  textarea {
    border-radius: 2px 0 0 2px;
  }

  .counter {
    align-self: end;
    background: $seven-success-background;
    border: solid 1px $seven-success-border;
    border-color: $seven-success-border;
    border-left-color: $seven-success-accent;
    border-width: 1px 1px 1px 5px;
    box-sizing: border-box;
    color: $seven-success-text;
    font-size: 11px;
    grid-column: 2 / 2;
    grid-row: 1 / -1;
    height: 58px;
    padding: 0;
    text-align: center;
    writing-mode: tb-rl;

    &.warning {
      background: $seven-warning-background;
      border-color: $seven-warning-border;
      color: $seven-warning-text;
    }
  }

  .description {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}
