.news--card {
  color: $c-slate;

  > .news__content > a {
    display: block;
  }

  a {
      @include link-colors($c-slate);
      text-decoration: none;
    }

  h3 {
    @include fs-body-bold;
    margin: 0 0 11px;


  }

  .__image {
    display: none;
  }
}
