.campaign--full {
  .hero-banner {
    margin-bottom: 2.5rem;
  }
  .__campaign-about-wrapper {
    background: $c-dark-blue;
    color: $c-white;
    @include antialiasing;

    .__campaign-about {
      @include media($medium-screen) {
        max-width: 66%;
      }
      > .field__label {
        @include fs-h1;
        color: white;
      }
    }
  }
  .__instagram-feed,
  .paragraph--type--instagram-feed {
    @include contain-1090;
    padding: 80px 20px 60px 20px;
    h4 {
      @include fs-title-1;
      margin-bottom: 34px;
    }
    .instagram-account-name {
      @include fs-big-description;
      margin-bottom: 49px;
    }
  }

  .__campaign-social-media-wrapper {
    background-color: $c-grey-2;

    .field__label {
      font-size: 62px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 70px;
    }

    .__social-media-embed {
      margin: 0 -15px;
    }

    .field__item {
      .paragraph {
        padding: 30px;
        background-color: #fff;
        border-radius: 8px;
        margin: 0 15px;

        &.paragraph--type--instagram-embed {
          .instagram_gallery {
            overflow: hidden;
          }
        }
      }
    }
  }

  .campaign-featured-image,
  .image-with-text-container {
    @include contain-1090;
    margin-bottom: 109px;
  }
}
