.page-node-type-resource-collection {
  .hero-banner {
    background-color: $c-slate;
    color: $c-white;
  }
  .resource-collection--content {
    margin: 75px auto;
    max-width: 1090px;
  }
  .hero-banner--container {
    h1 {
      margin-bottom: 15px;
      color: $c-white;
    }
    .lead-paragraph {
      margin: 0;
      color: $c-white;
    }
  }
  .resource-collection--content {
    h2 {
      margin-bottom: 83px;
    }
    .field__items {
      margin-bottom: 160px;
      .field__item {
        margin-bottom: 63px;
      }
    }
  }
  .paragraph--type--document {
    .link-date {
      display: inline-block;
      width: 280px;
      margin: 0 50px 0 0;
    }
    .link,
    .no-link {
      display: block;
      text-decoration: underline;
      a {
        opacity: 1;
      }
    }
    .no-link {
      opacity: .65;
    }
    .publish-date {
      clear: both;
      opacity: .65;
    }
    .description {
      display: inline-block;
      width: 533px;
      vertical-align: top;
      p {
        margin: 0;
      }
    }
  }
  .paragraph-child--text {
    margin: 180px 0 0 0;
  }
}
