.event--teaser {
  @include clearfix;
  @include contain;
  @include fs-body-short;
  line-height: 24px;

  h2 {
    @include fs-news-title;
    margin: 0 0 10px 0;
    a {
      @include link-colors($c-blue-button, $c-text);
    }
  }

  p {
    margin: 0 0 10px 0;
    line-height: 28px;
  }

  .event-details {
    margin-left: 40px;
  }

  .event-meta {
    @include clearfix;

    .event-time {
      padding-left: 25px;
      background: url(../../src/img/icons/clock_1-outlined.svg) no-repeat;
      background-size: 18px 18px;
      background-position: center left;
      margin-bottom: 10px;
    }
    .event-location {
      padding-left: 25px;
      background: url(../../src/img/icons/location_1-outlined.svg) no-repeat;
      background-size: 18px 18px;
      background-position: center left;
    }

    @include media($medium-screen) {
      .event-time {
        float: left;
        width: 33%;
        margin-bottom: 0;
      }
      .event-location {
        float: right;
        width: 66%;
      }
    }

  }
}