/* purgecss start ignore */
.page-node-type-report {
  h2 {
    @include fs-title-2;
    margin: 0 0 20px 0;
  }
  .hero-banner {
    background-color: $c-slate;
    color: $c-white;
    margin-bottom: 60px;
  }
  .responsive-container {
    .hero-banner-label a {
      color: $c-white;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 15px;
      color: $c-white;
    }
    .lead-paragraph {
      margin: 0;
      color: $c-white;
    }
  }
  .report--introductory-text,
  .report--content {
    @include contain-1090;
    h2 {
      @include fs-title-2;
      margin: 0 0 60px 0;
    }
    .field__items {
      margin-bottom: 100px;
      .field__item {
        margin-bottom: 63px;
      }
    }
  }

  .sfgov-in-this-page {
    margin-bottom: 0;
  }

  .sfgov-spotlight {
    padding-bottom: $rhythm * 2;
    @include media($medium-screen) {
      padding-bottom: $rhythm * 6;
    }

    .sfgov-spotlight-content {
      @include media($medium-screen) {
        padding: 40px;
      }
    }

    .sfgov-spotlight-section {
      background-color: $c-blue-1;
      color: $c-slate;
      line-height: 28px;
    }

    .sfgov-spotlight-title {
      @include fs-title-4;
      color: $c-slate;
    }

    .sfgov-spotlight-description {
      margin-bottom: 0;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .sfgov-spotlight-button {
      .btn {
        @include button;
      }

      .field {
        margin-top: 40px;
      }
    }
  }

  .results-info {
    position: absolute;
    top: 15px;
    right: 125px;
    color: #647887;
    .results-nav {
      display: none;
      position: absolute;
      right: -63px;
      top: 0;
    }
    .results-index-next {
      text-indent: -9999px;
      height: 20px;
      width: 20px;
      white-space: nowrap;
    }
    .results-index-prev {
      text-indent: -9999px;
      text-decoration: none;
      height: 20px;
      width: 20px;
      white-space: nowrap;
      margin-right: 5px;
    }
  }

  mark {
    background-color: $c-yellow-2;
    &.current {
      background-color: $c-yellow-3;
      border-bottom: 2px solid $c-slate;
    }
  }

  .sfgov-group-wrapper {
    @include contain-1090;
    @include media($medium-screen) {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .group--left {
    @include columns-720(left);
    @include media($medium-screen) {
      float: none;
    }
  }

  .group--right {
    @include columns-350(right);
    position: sticky;
    top: 0;
    margin-bottom: $rhythm * 2;

    @include media($medium-screen) {
      float: none;
      top: $rhythm * 4;
    }
  }

  .sfgov-section-overview {
    @media (min-width: $mobile-screen) {
      padding: 0 20px 60px 0;
    }

    padding-bottom: 60px;
  }

  .sfgov-section--content {
    line-height: 28px;

    p {
      word-break: break-word;
      overflow-wrap: break-word;
    }

    h2, h3, h4 {
      scroll-margin-top: 100px;

      b, strong {
        font-weight: $fw-medium;
      }
    }

    b, strong {
      font-weight: $fw-medium;
    }

    h2, h3 {
      margin-top: 80px;
    }

    h1 {
      @include fs-title-1-mobile;

      @include media($medium-screen) {
        @include fs-title-1;
      }
    }

    h2 {
      @include fs-title-2-mobile;

      @include media($medium-screen) {
        @include fs-title-2;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }

    h3 {
      @include fs-title-3-mobile;

      @include media($medium-screen) {
        @include fs-title-3;
      }
    }

    h4 {
      @include fs-title-4;
      margin-top: 60px;
    }

    //SG-1676 Align images in report body left and always on its own line.
    
    img {
      margin-left: 0;
      margin-right: auto;
      float: none;
    }
  }

  .toc-responsive {
    @include rubik;
    border: 0;
    border-radius: $radius;
    color: $c-slate;
    display: block;
    padding: $rhythm * 2;
    margin: 0 -20px $rhythm * 4;
    background: $c-white;

    @include media($medium-screen) {
      margin: 0;
      padding: 0;
      background: $c-grey-1;
    }
  }

  .sfgov-toc-sticky,
  .sfgov-toc-drawer {
    transition: all ease-in-out 0.25s;
    background: $c-grey-1;
  }

  .sfgov-toc-sticky {
    border-bottom: 3px solid $c-grey-3;
    transition: opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $c-white;

    &.show {
      opacity: 1;
      visibility: visible;
      display: block !important;
    }

    @media screen and (min-width: $medium-screen) {
      background: $c-grey-1;
      position: static;
      opacity: 1;
      visibility: visible;
      border-radius: $radius;
      border-bottom: 0;
      margin: 0;

      &.show {
        opacity: 1;
        visibility: visible;
        display: block !important;
      }
    }

    .sfgov-toc-tree {
      padding: 16px $rhythm * 2;
      @media screen and (min-width: $medium-screen) {
        padding: $rhythm * 4;
      }
      ol {
        display: none;
        @media screen and (min-width: $medium-screen) {
          display: block;
        }
        ol {
          display: none;
        }
      }
      > ol {
        max-height: calc(100vh - 350px);
        overflow: auto;
      }
    }
  }

  .sfgov-toc-drawer {
    position: fixed;
    top: 0;
    width: 100vw;
    right: -100vw;
    max-width: 375px;
    height: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $medium-screen) {
      width: 445px;
      right: -445px;
      max-width: 455px;
    }

    .toolbar-horizontal & {
      top: 39px;
    }

    .toolbar-horizontal.toolbar-tray-open & {
      top: 79px;
    }

    .sfgov-toc-tree {
      flex: 1;
      overflow: scroll;

      > ol ol {
        display: block;
      }
    }
  }

  .sfgov-toc {

    &-header {
      background-color: $c-white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: $rhythm * 2;
      @media screen and (min-width: $medium-screen) {
        padding-left: $rhythm * 4;
      }

      .sfgov-toc-header-title {
        @include fs-title-4;
        color: $c-slate;
        margin: 0;
      }
    }

    &-close-button {
      @include background-image('x-close-white.svg', 50% 50%, $c-bright-blue);
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      border-radius: 0;
      outline: none;
      border: 0;

      &:hover,
      &:focus {
        background-color: $c-bright-blue;
        border-color: $c-bright-blue;
      }
    }

    &-tree {
      padding: $rhythm * 2;
      @media screen and (min-width: $medium-screen) {
        padding: $rhythm * 4;
      }
      ol {
        margin: 0;
        padding: 0;
        a {
          line-height: 24px;
          display: block;
          max-width: 300px;

          &.active-target {
            color: $c-slate;
            text-decoration: none;
            font-weight: $fw-medium;
          }
        }
        li + li {
          margin-top: 20px;
        }
        li {

          &.has-active-target > a {
            color: $c-slate;
            text-decoration: none;
            font-weight: $fw-medium;
          }

          ol {
            margin-top: 20px;
            padding-left: 20px;
            display: none;
          }
        }
      }

      hr {
        border-width: 3px 0 0;
        border-color: $c-grey-4;
        border-style: solid;
        margin: $rhythm * 4 0 $rhythm * 2;
        display: none;
        @media screen and (min-width: $medium-screen) {
          display: block;
        }
      }
    }

    &-expand-button {
      @include rubik;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $c-slate;
      color: $c-white;
      margin: 0;
      border: 0;
      width: 100%;
      font-weight: $fw-medium;
      font-size: 17px;
      height: 48px;
      border-radius: 10px;

      @media screen and (min-width: $medium-screen) {
        color: $c-bright-blue;
        background-color: transparent;
        justify-content: flex-start;
        line-height: 1;
        text-align: left;
        padding: $rhythm 0;
      }

      svg {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        display: none;

        @media screen and (min-width: $medium-screen) {
          display: block;
        }
      }

      &:hover,
      &:focus {
        background-color: $c-slate;
        color: $c-white;

        @media screen and (min-width: $medium-screen) {
          color: $c-slate;
          background-color: transparent;
        }
      }
    }

    &.toc-expanded {
      background-color: rgba($c-black, 0.25);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .toolbar-horizontal & {
        top: 39px;

        .sfgov-toc-drawer {
          height: calc(100vh - 39px);
        }
      }

      .toolbar-horizontal.toolbar-tray-open & {
        top: 79px;

        .sfgov-toc-drawer {
          height: calc(100vh - 79px);
        }
      }

      .sfgov-toc-sticky {
        opacity: 0;

        .sfgov-toc-tree {
          display: none;
        }
      }

      .sfgov-toc-drawer {
        right: 0;
      }
    }
  }

  .toc-expanded-feedback {
    position: relative;
    z-index: -1;
  }
}


.docsearch {
  margin-bottom: $rhythm * 4;
  display: none;
  @media screen and (min-width: $medium-screen) {
    display: block;
  }

  form {
    @include fs-small-text;
    position: relative;
  }

  [type='text'] {
    @include fs-small-text;
    @include background-image(
      'search-slate-blue.svg',
      right 12px top 11px,
      transparent
    );
    padding: 13px 100px 13px 20px;
    &::placeholder {
      color: $c-light-slate;
    }
  }

  button,
  [type='submit'] {
    @include rubik;
    width: 48px;
    height: 48px;
    background-size: 22px;
    border-radius: 0 8px 8px 0;
    font-size: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    &:focus {
      @include focus-outline;
    }
    &:hover {
      background-color: $c-slate;
    }
  }

  button {
    @include background-image('x-close-white.svg', 50% 50%, $c-bright-blue);
    background-size: 20px;
    display: none;

    &:hover {
      background-color: $c-bright-blue;
    }
  }

  form.is-focused {
    [type="submit"] {
      background-color: $c-bright-blue;
    }
  }

  form.has-input {
    [type='text'] {
      border-color: $c-bright-blue;
      box-shadow: inset 0 0 0 2px $c-bright-blue;
      outline: none;
    }

    button {
      display: block;
    }
  }
}

.page-node-type-report {

  .sfgov-table-wrapper {
    margin-bottom: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
    width: 100%;
    border: 1px solid $c-slate;
    background-image:
      linear-gradient(to right, white, white),
      linear-gradient(to right, white, white),
      linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
      linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
  }

  .sfgov-table {
    border-collapse: collapse;
    width: 100% !important;
    margin-bottom: 0;
    white-space: nowrap;
    max-width: none;
    border: 0 !important;

    &-caption {
      margin-bottom: 20px;
      text-align: left;
      @include h5;
    }

    thead {

      th, td {
        background-color: $c-slate;
        color: $c-white;
      }
    }

    th,
    td {
      display: table-cell;
      width: auto;
    }

    tr {
      background-color: transparent;

      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      }

      td {
        background-color: transparent;
      }

      th {
        background-color: $c-slate;
        color: $c-white;
      }
    }

    td {
      border-width: 0 !important;
      padding: 0 !important;

      p {
        margin: 0;
      }

      > div {
        padding: 16px 20px;
      }
    }

    &.sfgov-table-with-padding {

      tbody td {
        padding: 16px 20px !important;
      }
    }
  }
}
/* purgecss end ignore */
