.page-node-type-news {
  @include rubik;

  .sfgov-banner {
    background: $c-yellow;

    h1 {
      @include rubik;
      @include fs-h1;
      color: $c-text;
    }
  }

  .news--meta {
    background: $c-yellow-pale;
  }

  .__dept {
    background: $c-yellow-pale;
  }
}
