.page-node-type-department {
  .hero-banner.default {
    padding-top: 60px;

   .lead-paragraph {
      margin-bottom: 60px;
    }
  }

  .dept-heading--section,
  .sfgov-dept-section-heading {
    @include fs-h1;
    @include contain-1090;
    color: $c-slate;
    margin-bottom: 20px;

    @include media($medium-screen) {
      margin-bottom: 40px;
    }
  }

  .dept-heading--service-title {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;

    @include media($medium-screen) {
      padding-left: 20px;
    }
  }

  .content-head--content {
    @include contain-1090;
    > h1 {
      font-size: 50px;
      color: #212123;
      margin-bottom: 40px;
    }

    .lead-paragraph {
      color: $c-black;
      margin-bottom: 60px;
    }
  }
  .sfgov-dept-news,
  .sfgov-dept-events {
    .dept-heading--section {
      margin-bottom: 40px;
    }

    .views-events--rows,
    .views-news--rows {
      padding-left: 0;
    }
    @include media-max($medium-screen) {
      .empty {
        display: none;
      }
    }
  }

  .sfgov-dept-section {
    padding: 80px 0;

    h4 {
      padding: 0;
      margin: 0 0 20px 0;
    }

    @include media-max($medium-screen) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .sfgov-dept-section-content-container {
    @include contain-1090;
  }

  .sfgov-dept-in-this-page {
    display: none;
    @include rubik;
    @include contain-1090;
    margin-bottom: 60px;
    .sfgov-dept-in-this-page-container > * {
      display: inline-block;
    }
    .sfgov-dept-in-this-page-label {
      @include rubik;
      @include fs-title-5;
      margin-right: 40px;
      margin-bottom: 15px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-left: 40px;
        a {
          @include rubik;
          @include fs-title-5;
          font-weight: $fw-regular;
          &.sfgov-translate-lang-zh-TW {
            @include fs-highlight;
          }
        }
      }
      li:first-child {
        margin-left: 0;
      }
    }
    @include media-max($medium-screen) {
      .sfgov-dept-in-this-page-label {
        width: 100%;
        margin-bottom: 0;
      }
      ul {
        width: 100%;
        padding-top: 24px;
        li {
          margin-bottom: 20px;
          margin-left: 0;
          margin-right: 0px;
          width: 50%;
        }
      }
    }
  }

  .sfgov-dept-spotlight {
    background: #8266BC;
    color: #fff;
    &.sfgov-dept-section {
      padding-top: 0;
      padding-bottom: 0;
    }
    h3 {
      @include antialiasing;
      @include fs-title-1;
      color: #fff;
      margin-bottom: 20px;
      padding-left: 0;
    }
    .sfgov-spotlight {
      display: table;
      @include contain-1090;
      .sfgov-spotlight-section {
        display: table-cell;
        width: 50%;
        .sfgov-spotlight-button {
          @include button-clear;
        }
        &.sfgov-spotlight-text {
          background: #8266bc;
          color: #fff;
          padding: 100px 40px 100px 0;
          h4 {
            @include rubik;
            font-size: 32px;
            font-weight: 500;
            padding: 0;
            margin: 0 0 20px 0;
          }
          p {
            @include antialiasing;
            @include fs-body-long;
            margin: 0 0 40px 0;
            padding: 0;
          }
        }
        &.sfgov-spotlight-image {
          background-color: #cccced;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top center;
          img {
            display: none;
          }
        }
      }
    }
    @include media-max($medium-screen) {
      @include clearfix;
      h3 {
        @include fs-h1-small;
      }
      .sfgov-spotlight {
        padding-left: 0;
        padding-right: 0;
        display: block;
        .sfgov-spotlight-section {
          display: block;
          width: auto;
          &.sfgov-spotlight-text {
            padding: 40px 20px;
          }
          &.sfgov-spotlight-image {
            display: block;
            background-image: none !important;
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .sfgov-dept-resources {
    background: #EDF4F7;

    h2 {
      margin-bottom: 20px;

      @include media($medium-screen) {
        margin-bottom: 40px;
      }
    }

    p {
      line-height: 24px;
      margin: 0;
    }

    .sfgov-dept-resources-container {
      @include contain-1090;
    }
  }

  .sfgov-contact-container {
    background: #fff;
  }

  .sfgov-dept-about {
    background: #0C1464;
    color: #fff;
    h2 {
      @include antialiasing;
      color: #fff;
      margin-bottom: 20px;
    }

    h4 {
      @include fs-title-3;
      margin-bottom: 12px;
    }

    .sfgov-dept-about-content {
      position: relative;
      @include contain-1090;
      padding-right: 0;
      a {
        color: #fff;
      }
      .sfgov-dept-about-content-section {
        vertical-align: top;
        &.sfgov-dept-about-content-left {
          width: 65%;
          float: left;
          padding-right: 40px;
          @include antialiasing;
        }
        &.sfgov-dept-about-content-right {
          float: right;
          width: 34.9%;
        }
      }
      .sfgov-dept-about-description,
      .sfgov-dept-about-divisions,
      .sfgov-dept-about-public-bodies {
        margin-bottom: 40px;
        ul {
          list-style-type: none;
          padding-left: 30px;
          @include fs-body-short;
          li {
            @include fs-body-short;
            margin-bottom: 20px;
            a {
              @include antialiasing;
            }
          }
        }
      }
      .sfgov-dept-about-description {
        @include fs-big-description;
      }
      .sfgov-logo,
      .sfgov-cta,
      .sfgov-social {
        background: #fff;
        border-radius: 8px;
        padding: 40px;
        margin-bottom: 20px;
        a {
          color: $c-bright-blue;
          @include fs-body-short;
          margin-bottom: 20px;
          display: block;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        @include rubik;
        h5 {
          color: #1C3E57;
          margin: 0 0 20px 0;
          padding: 0;
          @include rubik;
          @include fs-title-5;
          text-decoration: none;
        }
        &.sfgov-logo {
          img {
            max-width: 170px;
          }
        }
      }

      .sfgov-social {
        .sfgov-social-list {
          margin: 0;
          padding: 0;
          li {
            margin-bottom: 20px;
            &:last-of-type {
              margin-bottom: 0;
            }
            a {
              background: url(../../src/img/icons/facebook.svg) no-repeat center left;
              padding-left: 42px;
            }
            &.twitter {
              a {
                background: url(../../src/img/icons/twitter.svg) no-repeat center left;
              }
            }
            &.instagram {
              a {
                background: url(../../src/img/icons/instagram.svg) no-repeat center left;
              }
            }
          }
        }
      }

      .sfgov-cta {
        > a {
          @include fs-title;
          @include antialiasing;
          display: inline-block;
          border-radius: 8px;
          background: #4F66EE;
          padding: 13px 20px;
          color: #fff;
          text-decoration: none;
        }
      }
      @include clearfix;
    }
    @include media-max($medium-screen) {
      .sfgov-dept-about-container {
        .sfgov-dept-about-content-section {
          &.sfgov-dept-about-content-left,
          &.sfgov-dept-about-content-right {
            display: block;
            float: none;
            width: auto;
          }
          &.sfgov-dept-about-content-left {
            // padding: 0 10%;
            .sfgov-dept-about-description {
              padding-left: 40px;
            }
            .sfgov-dept-about-divisions ul,
            .sfgov-dept-about-public-bodies ul {
              padding-left: 40px;
              > li {
                margin-bottom: 20px;
              }
            }
          }
          &.sfgov-dept-about-content-right {
            padding-bottom: 20px;
          }
        }
        .sfgov-logo,
        .sfgov-cta,
        .sfgov-social {
          border-radius: 8px 0 0 8px;
        }
      }
    }
  }

  .sfgov-dept-about-people {
    background: #A9D6EA;
    padding: 40px 0;
    .sfgov-dept-about-people-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      .sfgov-dept-about-people-list-item {
        display: inline-block;
        width: 33%;
        > div {
          display: inline-block;
          vertical-align: top;
        }
        .person-image {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 8px;
          margin-right: 20px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top center;
        }
        .person-details {
          h5 {
            @include rubik;
            @include fs-body-bold;
            text-decoration: underline;
            color: $c-slate;
            margin-bottom: 10px;
          }
          p {
            margin: 0;
            padding: 0;
            @include fs-body-short;
            color: $c-slate;
          }
        }
      }
    }
    @include media-max($medium-screen) {
      .sfgov-dept-about-people-list {
        .sfgov-dept-about-people-list-item {
          display: block;
          width: auto;
          margin-bottom: 20px;
        }
      }
    }
  }

  .sfgov-dept-contact {
    .sfgov-contact-container {
      margin-bottom: 20px;
      > h2 {
        margin-bottom: 40px;
      }
      @include rubik;
      .sfgov-contact-section {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        padding-left: 40px;
        line-height: 2em;
        position: relative;
        h5, h6 {
          @include rubik;
          @include fs-title-5;
          padding: 0;
          margin: 0 0 15px 0;
          text-transform: none;
          text-decoration: none;
        }
        h6 {
          font-weight: 300;
          font-size: 17px;
          padding: 0;
          margin: 0;
        }
        p {
          padding: 0;
          margin: 0;
          line-height: 2em;
        }
        &::after {
          content: ' ';
          width: 20px;
          height: 20px;
          position: absolute;
          top: 3px;
          left: 0;
        }
        &.address {
          width: 35%;
          &::after {
            background: url(../../src/img/icons/location-2.svg) no-repeat;
          }
        }
        &.phone-numbers {
          width: 32%;
          .phone {
            margin-bottom: 30px;
            h6 {
              @include fs-body-short;
            }
            .details {
              font-style: italic;
              color: $c-slate;
              opacity: 0.65;
            }
          }
          &::after {
            background: url(../../src/img/icons/phone-2.svg) no-repeat;
          }
        }
        &.email {
          width: 32%;
          h6 {
            @include fs-body-short;
          }
          &::after {
            background: url(../../src/img/icons/mail-2.svg) no-repeat;
          }
        }
      }
      @include media-max($medium-screen) {
        .sfgov-contact-section {
          display: block;
          width: auto;
          padding-left: 25px;
          margin-top: 25px;
          &.address,
          &.phone-numbers,
          &.email {
            display: block;
            width: auto;
            &::after {
              left: 0;
            }
          }
        }
      }
    }
  }

  .sfgov-dept-public-records {
    @include contain-1090;
    .sfgov-dept-public-records-content-container {
      margin-bottom: 20px;
      .sfgov-dept-public-records-content {
        background: #EDF4F7;
        border-radius: 8px;
        padding: 40px;
        h5 {
          @include fs-title-5;
          text-decoration: none;
        }
        p, a {
          @include rubik;
        }
      }
      @include media-max($medium-screen) {
        .sfgov-dept-public-records-content {
          margin: 0;
        }
      }
    }
  }
  .sfgov-service-card div p {
    color: $c-slate;
  }
}
