.page-node-type-topic {
  .hero-banner {
    margin-bottom: 60px;
  }
  // Related departments.
  .view--departments-block-2-topic-related-depts {
    background: $c-dark-blue;
    color: $c-white;
    padding-bottom: 80px;
    padding-top: 80px;

    .container {
      @include contain-1090;
      @include clearfix;
    }

    .views-row {
      @include background-image('building-white.svg', left 5px);
      padding-left: 44px;
    }

    h2 {
      @include contain-1090;
      @include fs-h1-small;
      color: $c-white;
      padding-bottom: 45px;

      @include media($medium-screen) {
        @include fs-title-1;
        padding-bottom: 45px;
      }
    }

    h4 {
      @include fs-big-link;
    }

    a {
      @include link-colors($c-white);
    }

    p {
      margin-bottom: 34px;
      margin-top: 11px;
    }
  }
}
