.event--teaser {
  @include clearfix;
  @include fs-body-short;
  line-height: 24px;
  margin-bottom: 60px;

  h2 {
    @include fs-news-title;
    margin: 0 0 10px 0;
    a {
      @include link-colors($c-blue-button, $c-text);
    }
  }

  p {
    margin: 0 0 10px 0;
    line-height: 28px;
  }

  .event-meta {
    @include clearfix;
    .event-time {
      float: left;
      width: 50%;
    }
    .event-location {
      float: right;
      width: 49%;
      background: url(../../src/img/icons/location-2.svg) no-repeat;
      padding-left: 25px;
    }
  }
}