.page-node-type-page {

  .sfgov-new-website {
    margin-bottom: 0;
    margin-top: 30px;
  }
}

// Content.
.basic--content {
  @include contain-1090;
  @include clearfix;
  margin-bottom: 67px;
  margin-top: 40px;
  position: relative;

  @include media($medium-screen) {
    margin-bottom: 210px;
    margin-top: 70px;
  }
}

// Content left.
.basic--left {
  @include columns-720(left);
}

// Content right.
.basic--right {
  @include columns-350(right);
  background: $c-blue-pale;
  border-radius: 8px;
  margin-bottom: 42px;
  padding: 40px 40px 32px;

  h3 {
    @include fs-title-5;
    margin-bottom: 32px;
  }
}
