.page-node-type-page {

  // Content.
  .basic--content {
    @include contain-1090;
    @include clearfix;
    margin-bottom: 210px;
    margin-top: 60px;
    position: relative;
  }
}

// Content left.
.basic--left {
  @include columns-720(left);
}

// Content right.
.basic--right {
  @include columns-350(right);
  background: $c-blue-pale;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 40px;

  h3 {
    @include fs-accordion-title;
    margin-bottom: 40px;
  }
}
