.news--card {
  @include link-colors($c-slate);
  background-color: $c-yellow-3;
  background-position: right top;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: block; // <= Default needed for homepage, overridden on dept page.
  padding: 20px;
  text-decoration: none;

  &.has-image {
    min-height: 160px;
    padding: 20px 180px 20px 20px;

    @include media-max($medium-screen) {
      background-image: none !important;
      height: auto;
      padding-right: 0;
    }
  }

  &:hover {
    background-color: $c-yellow-4;
  }


  .article--card__title {
    @include fs-body-bold;
    margin: 0 0 11px;
  }
}
