.page-node-type-form-page {
  // some overrides for formbuilder/sf-design-system-integration
  // TODO: clean this up as part of deprecating old pattern lab library
  $form-type: normal;
  input, textarea, select {
    height: auto;
  }
  .form-page {
    @include contain-1090;
    button:hover {
      border-bottom: 3px solid;
    }
  }
  .hero-banner--border .hero-banner--border-contain {
    margin-left:0px;
    margin-right:0px;
  }
  [data-source*="checkyourhealthforcitystaff"] .col-md-2 {
    display: none;
  }
  [data-source*="checkyourhealthforcitystaff"] .col-md-3{
    width: 100% !important;
  }
}
.sf-custom-block-gtranslate {
    float: right;
    right: 0px;
    @include media($medium-screen) {
      margin-right: 0px;
    }
}
