.page-node-type-news {
  @include rubik;
  color: $c-slate;

  .news--meta,
  .news--image,
  .news--body {
    &-inner {
      margin: 0 auto;
      max-width: $w-news-body-container;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;

      @include media($narrow-screen) {
        padding-left: 96px;
        padding-right: 96px;
      }
      > * {
        @include media($narrow-screen) {
          padding-right: 40px;
          width: ((strip-unit($w-news-body) + 40) / strip-unit($w-news-body-content)) * 100%;
        }
      }
    }
  }

  .__news-type {
    @include fs-body-bold;
  }

  .news--meta {
    @include clearfix;
    background: $c-yellow-1;
  }

  .news--meta-text {
    padding-bottom: 34px;
    padding-top: 40px;

    @include media($medium-screen) {
      padding-bottom: 54px;
      padding-top: 60px;
    }
  }

  .__abstract {
    @include fs-big-description;
    margin-bottom: 20px;
  }

  .__date {
    @include fs-body-bold;
  }

  .news--body {
    @include fs-body-long;
    padding-bottom: 100px;
    padding-top: 23px;

    h2 {
      margin-top: 60px;
    }

    h3 {
      @include fs-title-4;
      margin-top: 40px;
    }

    p {
      @include fs-body-long;
    }

    blockquote {
      @include blockquote;
    }
  }

  .news--image {
    padding-bottom: 45px;
    padding-top: 20px;

    @include media($medium-screen) {
      padding-bottom: 0;
      padding-right: 0;
      padding-top: 60px;
    }

    img {
      display: block;
      height: auto;
    }
  }

  .news--ankle {
    @include ankle('.__dept');
    background: $c-yellow-1;
  }
}

