.page-node-type-about {
  .hero-banner {
    background-color: $c-blue-2;

    .hero-banner--container {
      h1 {
        margin-bottom: 0;
      }
    }
  }

  .sfds-layout-container {
    @include contain-1090;
  }

  .sfgov-section {
    margin: 60px 0;
    width: 65%;

    &__title {
      padding: 0;
    }
  }
}
