.page-node-type-transaction {

  // Generic.
  h3 {
    @include fs-title-4;
  }

  .sfgov-section__title {
    @include fs-title-3;
    padding-left: 0;
    padding-right: 0;
    margin-left: 60px;
    @media only screen and (max-width: $narrow-screen) {
      margin-left: 0;
    }
  }

  // Banner Subheader.
  .banner-subheader {
    @include antialiasing;
    background: $c-dark-blue;
    color: $c-white;
    padding-top: 40px;

    @include media($narrow-screen) {
      @include clearfix;
      padding: 40px 0;
    }

    .banner-subheader__container {
      @include contain-1090;
    }

    .sfgov-things-to-know {
      display: flex;
      flex-wrap: wrap;
      .paragraph {
        @include media($narrow-screen) {
          width: 50%;
          padding-right: 60px;
        }
      }
    }

    h3 {
      @include fs-title-5;
      color: $c-white;
    }

    h4 {
      margin-top: 0;
    }

    p {
      @include fs-body-short;
      margin: 0;
    }
  }

  .paragraph--type--thing-to-know {
    padding-bottom: 40px;

    a {
      @include link-colors($c-white);
    }

    .title {
      @include fs-title-5;
      color: $c-white;
    }
  }

  .paragraph--type--cost {
    padding-bottom: 40px;

    .__cost-minimum {
      display: inline;
    }

    .__cost-maximum {
      display: inline;
      margin-left: 0;
    }

    .title {
      @include fs-title-5;
      color: $c-white;
    }
  }

  // Content.
  .transaction--content {
    @include contain-1150;
    @include clearfix;
    margin-top: 60px;
    position: relative;
  }

  // Updated.
  .updated {
    @include contain-1150;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 20px;
    opacity: .6;

    @include media($narrow-screen) {
      padding-left: 60px;
    }
  }

  // Ankle.
  .transaction--ankle {
    @include ankle('.__departments');
    background: $c-blue-1;
  }
}

// Content left.
.transaction--left {
  @include columns-780(left);

  > details {
    max-width: 697px;
    @include media($narrow-screen) {
      margin-left: 60px;
    }
  }

  .paragraph--type--step {
    margin: 0 0 60px;

    h4 {
      @include fs-title-5;
    }

    .__content {
      .field__item {
        margin-bottom: 30px;
      }
    }
  }

  .sfgov-alert-info {
    margin-bottom: 30px;
  }

  .sfgov-section__content {
    @include media($narrow-screen) {
      margin-left: 60px;
    }
  }
}

// Content right.
.transaction--right {
  @include columns-350(right);

  .eck-entity-address-field {
    margin-bottom: 23px;
  }

  .simple-gmap-static-map {
    padding-bottom: 20px;
    padding-top: 29px;
  }

  .simple-gmap-link {
    padding-bottom: 20px;
  }

  .__text {
    font-style: italic;
  }
}

.transaction--right-content {
  background: $c-blue-1;
  border-radius: 8px;
  margin-bottom: 20px;

  h2 {
    @include fs-title-3-mobile;
    margin-bottom: 34px;

    @include media($medium-screen) {
      @include fs-title-3;
    }
  }

  .transaction--right-para {
    margin-bottom: 40px;
    padding: 40px;
  }
}

.transaction--related-services {
  > h2 {
    margin-bottom: 30px;
  }
  .transaction--related-services-item {
    margin-bottom: 40px;
    &.last {
      margin-bottom: 0;
    }
  }
}
