.campaign--full {
  .hero-banner {
    margin-bottom: 2.5rem;
  }
  .__campaign-about-wrapper {
    background: $c-dark-blue;
    color: $c-white;
    @include antialiasing;

    .__campaign-about {
      @include media($medium-screen) {
        max-width: 66%;
      }
      > .field__label {
        @include fs-h1;
        color: white;
      }
    }
  }
  .__instagram-feed {
    @include contain-1090;
    padding: 80px 20px 60px 20px;
    h4 {
      @include fs-title-1;
      margin-bottom: 34px;
    }
    .instagram-account-name {
      @include fs-big-description;
      margin-bottom: 49px;
    }
    .instagram-feed {
      .instagram_gallery {
        display: flex;
        flex-direction: column;
        @include media($medium-screen) {
          flex-direction: row;
          flex-wrap: wrap;
          margin-right: -20px;
          > a {
            padding-right: 20px;
          }
        }
        > a {
          display: flex;
          flex-basis: 33.333%;
          margin-bottom: 20px;
          align-items: stretch;
          > img {
            width: 100%;
          }
        }
      }
    }
  }

  .paragraph--type--accordion-campaign {
    @include contain-1090;
  }

  .__campaign-locations-access-wrapper {
    @include contain-1090;
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      @include fs-title-1;
    }

    .__description {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .__location-access {
      max-width: calc((100% - 20px) / 3 * 2);
    }
  }
  .campaign-featured-image {
    @include contain-1090;
    margin-bottom: 109px;
  }
}
