.event--card {
  color: $c-white;

  h3 {
    @include fs-news-title;
    @include antialiasing;
    &.article--card__title {
      margin-bottom: 20px;
    }

    a {
      @include link-colors($c-white);
      @include antialiasing;
      text-decoration: none;
    }

    &.event-date {
      @include fs-body-short;
      color: #fff;
    }
  }
}

.sfgov-event-card {
  .event-image {
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}
