.event--card {
  color: $c-white;

  h2 {
    @include fs-news-title;
    @include antialiasing;
    &.article--card__title {
      margin-bottom: 20px;
    }
    a {
      @include link-colors($c-white);
      @include antialiasing;
      text-decoration: none;
    }

    &.event-date {
      @include fs-body-2;
      color: #fff;
    }
  }
}
