.page-node-type-information-page {
  .hero-banner {
    margin-bottom: 60px;
    .hero-banner--container {
      h1 {
        margin-bottom: 0;
      }
      .lead-paragraph {
        margin-top: 20px;
        p {
          margin: 0;
        }
      }
    }
  }
  .info--has-tags {
    .hero-banner {
      margin-bottom: 0;
      &.color {
        padding-bottom: 0;
        p {
          margin-bottom: 0;
        }
      }
    }

  }

  .info--tags-container {
    background: $c-blue-2;
    margin-bottom: 60px;
    padding-top: 40px;
    .info--tags {
      @include contain-1090;
      .__transactions {
        padding-bottom: 40px;
        h4 {
          @include fs-body-bold;
          display: block;
          margin: 0 0 17px 0;
          @include media($medium-screen) {
            display: inline-block;
            margin: 8px 25px 0 0;
            width: 57px;
            vertical-align: top;
          }
        }
        .field__items {
          display: block;
          width: auto;
          @include media($medium-screen) {
            display: inline-block;
            width: calc(100% - 87px);
          }
          .field__item {
            display: block;
            a {
              display: inline-block;
              text-decoration: none;
              background: $c-white;
              border-radius: 6px;
              padding: 10px 20px;
              margin: 0 20px 20px 0;
            }
            @include media($medium-screen) {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .info--content {
    @include fs-body-3;
  }

  .__information-section {
    
    .sfgov-section {
      h2 {
        padding: 0;
        margin-left: 0;
        margin-bottom: 20px;
        @include contain-1210;
        @include fs-title-5;
        @include media($medium-screen) {
          @include fs-title-3;
        }
      }
      .sfgov-section__content {
        @include clearfix;
        @include contain-1090;
        .__text {
          @include columns-720(left);
        }
      }
    }
  }

  .info--last-updated {
    @include contain-1090;
    font-style: italic;
    color: $c-slate;
    opacity: 0.6;
    margin-top: 80px;
    margin-bottom: 28px;
  }

  .info--departments-container {
    padding: 50px 0;
    background: $c-blue-1;
    .info--departments {
      @include contain-1090;
      .__dept {
        .field__label {
          @include fs-body-bold;
          margin-bottom: 10px;
        }
        .field__items {
          margin-left: 40px;
        }
      }
    }
  }
}
