.page-node-type-form-page {
  // some overrides for formbuilder/sf-design-system-integration
  // TODO: clean this up as part of deprecating old pattern lab library
  input, textarea, select {
    height: auto;
  }
  .form-page {
    @include contain-1090;
    button:hover {
      border-bottom: 3px solid;
    }
  }

  [data-source*="checkyourhealthforcitystaff"] .col-md-2 {
    display: none;
  }
  [data-source*="checkyourhealthforcitystaff"] .col-md-3{
    width: 100% !important;
  }
}

