.page-node-type-public-body {
  .hero-banner.default {
    padding-top: 20px;
    font-weight: normal;
    color: rgba(33,33,35,.65);
    
    .lead-paragraph {
      margin-bottom: 60px;
    }
    
    h1 {
      margin-top: 40px;
    }
  }

  .sfgov-public-body-section--heading {
    @include fs-h1;
    @include contain-1090;
    color: $c-slate;
    margin-bottom: 20px;
    padding-left: 0;

    @include media($medium-screen) {
      margin-bottom: 40px;
    }
  }

  .sfgov-public-body-meetings {
    background-color: $c-dark-blue;
    color: $c-white;
    -webkit-font-smoothing: antialiased;

    .sfgov-public-body-section--heading {
      color: $c-white;
    }

    .__public-body-meetings {
      margin: 0 -30px;
      @media screen and (max-width: 950px) {
        margin: 0;
      }

      .sfgov-container-item {
        flex-direction: column;
        padding: 0 30px;

        .field {
          margin-bottom: 37px;

          &:last-child {
            margin: 0;
          }
        }

        .__location {
          &:before {
            content: 'Location';
            margin: 0 0 0.5rem;
            font-weight: 500;
            font-size: 1.17647rem;
            line-height: 1.58824rem;
            color: #fff;
            display: block;
          }

          h4 {
            font-weight: inherit;
            font-size: inherit;
            margin: 0;
          }
        }

        .paragraph {
          h2,
          h3 {
            margin: 0 0 0.5rem;
            font-weight: 500;
            font-size: 1.17647rem;
            line-height: 1.58824rem;
            color: #fff;
          }
          p.title {
            font-weight: bold;
          }
          p {
            margin-top: 0;
          }
          a {
            color: white !important;
          }
          .simple-gmap-link,
          .simple-gmap-static-map {
            display: none;
          }

          &[data-contact] {
            padding: 0;
            background: none;
          }
        }
      }
    }
  }

  .sfgov-public-body-meetings-list {
    background-color: $c-green-1;

    .more-link {
      margin-top: 50px;
      a {
        @include button;
      }
    }

    .sfgov-public-body-section-content-container {
      margin-bottom: 80px;

      h3 {
        margin-bottom: 50px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .meeting--card {
      // @include link-colors($c-slate);
      background-color: $c-green-3;
      background-position: right top;
      background-repeat: no-repeat;
      border-radius: 8px;
      display: block; // <= Default needed for homepage, overridden on dept page.
      padding: 20px;
      text-decoration: none;
      color: $c-white;

      &:hover {
        background-color: $c-green-4;
      }

      p.title {
        @include fs-title-5;
        margin: 0 0 0.875rem;
      }

      h3 {
        @include fs-body-bold;
        margin: 0 0 11px;
      }
    }
  }

  .sfgov-public-body-section {
    padding: 80px 0;

    h4 {
      padding: 0;
      margin: 0 0 20px 0;
    }

    @include media-max($medium-screen) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .sfgov-public-body-section-content-container {
    @include contain-1090;
  }

  .sfgov-public-body-about {
    padding: 60px 0;
    
    .sfgov-public-body-section--content {
      @include fs-big-description;
      @include media-max($mobile-screen) {
        @include fs-big-description-mobile;
      }
    }

    .__subcommittees {
      margin-top: 115px;

      .field__label {
        margin-bottom: 75px;
        @include fs-title-2;
        @media screen and (max-width: $mobile-screen) {
          @include fs-title-2-mobile;
        }
      }

      .sfgov-container-item {
        a {
          .title {
            color: $c-bright-blue;
          }
          .description {
            color: $c-slate;
            opacity: 0.65;
          }
        }
      }
    }

    .about-page-link {
      a {
        @include button;
        display: inline-block;
      }
    }
  }

  .sfgov-public-body-callout {
    background: $c-yellow-3;
    padding: 20px 0;

    .sfgov-public-body-section--content {
      padding-left: 40px;
      position: relative;

      &::after {
        content: ' ';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 0;
        background: url(../../src/img/info.svg) no-repeat;
      }
    }
  }

  .sfgov-public-body-board-members {
    .sfgov-public-body-section--heading {
      margin-bottom: 60px;
    }
    .sfgov-public-body-section--content {
      background: $c-blue-1;
      padding: 40px;
      border-radius: 8px;
    }
  }

  .sfgov-public-body-contact {
    .sfgov-public-body-section-content-container {
      margin-bottom: 20px;
      > h2 {
        margin-bottom: 40px;
      }
      @include rubik;
      .sfgov-contact-section {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        padding-left: 40px;
        line-height: 2em;
        position: relative;
        .title,
        h6 {
          @include rubik;
          @include fs-title-5;
          padding: 0;
          margin: 0 0 15px 0;
          text-transform: none;
          text-decoration: none;
        }
        h6 {
          font-weight: 300;
          font-size: 17px;
          padding: 0;
          margin: 0;
        }
        p {
          padding: 0;
          margin: 0;
          line-height: 2em;
        }
        p.title {
          font-weight: bold;
        }
        &::after {
          content: ' ';
          width: 20px;
          height: 20px;
          position: absolute;
          top: 3px;
          left: 0;
        }
        &.address {
          width: 35%;
          p {
            font-weight: bold;
          }
          p.simple-gmap-link {
            font-weight: normal;
          }
          .map {
            margin-top: 15px;
          }
          &::after {
            background: url(../../src/img/icons/location-2.svg) no-repeat;
          }
        }
        &.phone-numbers {
          width: 32%;
          .phone {
            margin-bottom: 30px;
            h6 {
              @include fs-body-short;
            }
            .details {
              font-style: italic;
              color: $c-slate;
              opacity: 0.65;
            }
          }
          &::after {
            background: url(../../src/img/icons/phone-2.svg) no-repeat;
          }
        }
        &.email {
          width: 32%;
          h6 {
            @include fs-body-short;
          }
          &::after {
            background: url(../../src/img/icons/mail-2.svg) no-repeat;
          }
        }
      }
      @include media-max($medium-screen) {
        .sfgov-contact-section {
          display: block;
          width: auto;
          padding-left: 25px;
          margin-top: 25px;
          &.address,
          &.phone-numbers,
          &.email {
            display: block;
            width: auto;
            &::after {
              left: 0;
            }
          }
        }
      }
    }
  }

  .sfgov-public-body-other-info {
    background-color: $c-blue-1;

    .sfgov-public-body-section--heading {
      margin-bottom: 60px;
    }
    .sfgov-public-body-section--content {
      margin-bottom: 80px;

      h3 {
        @include fs-title-4;
        padding: 0;
        margin: 0 0 20px 0;
        font-weight: 400;
      }

      .document-file--container {
        margin-bottom: 25px;
        margin-top: 20px;
        .sfgov-icon-filefilled {
          display: inline-block;
          margin-right: 10px;
        }
        .document a.no-link {
          text-decoration: underline;
          opacity: 0.65;
          color: $c-slate;

          &:hover {
            color: inherit;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sfgov-public-body-departments {
    background: $c-dark-blue;

    .sfgov-public-body-section--heading {
      color: $c-white;
    }
  }

  .sfgov-service-card div p {
    color: $c-slate;
  }
}

.meeting--unpublished::before {
  content: 'Unpublished';
  font-size: 12px;
  text-transform: uppercase;
  background: red;
  padding: 4px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 12px;
  color: $c-white;
}
