.page-node-type-form-confirmation-page {
  // Content.
  .confirmation--content {
    @include contain-1090;
    @include clearfix;
    margin-top: 60px;
    position: relative;
  }

}

// Content left.
.confirmation--left {
  @include columns-780(left);

  .paragraph--type--step {
    margin: 0 0 60px;

    h4 {
      @include fs-title-5;
    }

    .__content {
      .field__item {
        margin-bottom: 30px;
      }
    }
  }

  .field--type-entity-reference-revisions .field__label{
    display: none;
  }
}

// Content right.
.confirmation--right {
  @include columns-350(right);

  .__text {
    font-style: italic;
  }
}

.confirmation--right-content {
  background: $c-blue-1;
  border-radius: 8px;
  margin-bottom: 20px;

  h2 {
    @include fs-title-3-mobile;
    margin-bottom: 34px;

    @include media($medium-screen) {
      @include fs-title-3;
    }
  }

  .confirmation--right-para {
    margin-bottom: 40px;
    padding: 40px;
  }

  .paragraph--type--in-person-location,
  .paragraph--type--email,
  .paragraph--type--phone {
    background: none;
    padding: 0;
  }
}

.__confirmation-sidebar {
  padding: 40px;
  .field__label {
    @include fs-title-3;
    margin-bottom: 30px;
  }
  
  .eck-entity-address-field {
    margin-bottom: 20px;
    p {
      @include fs-body-short;
    }
    .field__label {
      @include fs-title-5;
      margin-bottom: 10px;
    }
    .simple-gmap-static-map {
      margin-bottom: 20px;
    }
  
    .simple-gmap-link {
      padding-bottom: 10px;
    }
  }
}
