.page-node-type-resource-collection {
  .hero-banner {
    background-color: $c-slate;
    color: $c-white;
  }
  .hero-banner--container {
    h1 {
      margin-bottom: 15px;
      color: $c-white;
    }
    .lead-paragraph {
      margin: 0;
      color: $c-white;
    }
  }
  .resource-collection--content {
    margin: 75px auto;
    max-width: 1090px;
    padding: 0 20px;
    h2 {
      margin-bottom: 83px;
    }
    .field__items {
      margin-bottom: 160px;
      .field__item {
        margin-bottom: 63px;
      }
    }
  }
  .paragraph--type--document {
    .link-date {
      display: inline-block;
      width: 280px;
      margin: 0 50px 0 0;
    }
    .link,
    .no-link {
      display: block;
      text-decoration: underline;
      a {
        opacity: 1;
      }
    }
    .no-link {
      opacity: .65;
    }
    .publish-date {
      clear: both;
      opacity: .65;
    }
    .description {
      display: inline-block;
      width: 520px;
      vertical-align: top;
      p {
        margin: 0;
      }
    }
  }
}

// Mobile
@media only screen and (max-width: $narrow-screen) {
  .page-node-type-resource-collection {
    .paragraph--type--document {
      .link-date {
        width: 30%;
        margin-right: 5%;
      }
      .description {
        width: 55%;
      }
    }
  }
}

@media only screen and (max-width: $mobile-screen) {
  .page-node-type-resource-collection {
    .resource-collection--content {
      .field__items {
        margin-bottom: 80px;
        .field__item {
          margin-bottom: 40px;
        }
      }
    }
    .paragraph--type--document {
      .link-date {
        width: auto;
        margin-right: 0;
      }
      .description {
        display: block;
        margin-top: 10px;
        width: auto;
      }
    }
    .paragraph-child--text {
      margin: 0;
    }
  }
}
