.page-node-type-campaign {
  .campaign-alert {
    background-color: $c-slate;
    color: $c-white;

    .container {
      @include contain-1090;

      p {
        margin: 1.5rem 0;
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
      }
    }
  }

  header {
    .sfgov-logo__container {
      h1 {
        @include fs-title-2;
      }
      img {
        width: auto;
        height: 47px;
      }
    }
    .head-right--container {
      width: auto;
      @include media-max($medium-screen) {
        .gtranslate_container {
          position: absolute;
          right: 20px;
          top: 35px;
        }
      }
    }
  }

  .document-file--container {
    .sfgov-icon-filefilled {
      &:before {
        background: url(/themes/custom/sfgovpl/src/img/document.svg) no-repeat
          50% 50% transparent;
        min-height: 26px;
      }
    }
  }

  .hero-banner {
    margin-bottom: 2.5rem;
  }
  .__campaign-about-wrapper {
    background: $c-dark-blue;
    color: $c-white;
    @include antialiasing;

    .__campaign-about {
      @include media($medium-screen) {
        max-width: 66%;
      }
      > .field__label {
        @include fs-h1;
        color: white;
      }
      > .field__item {
        @include fs-big-description;
        a {
          color: #fff;
        }
      }
    }

    .__links,
    .__dept {
      margin-top: 50px;

      .field__label {
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
      }
      .field__item {
        padding-left: 40px;
        a {
          color: #fff;
          font-weight: normal;
          font-size: 17px;
          line-height: 24px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .__instagram-feed,
  .paragraph--type--instagram-feed {
    @include contain-1090;
    padding: 80px 20px 60px 20px;
    h4 {
      @include fs-title-1;
      margin-bottom: 61px;
    }
  }

  .__campaign-social-media-wrapper {
    background-color: $c-grey-2;

    .field__label {
      @include fs-title-1;
    }

    .__social-media-embed {
      margin: 0 -15px;
    }

    .field__item {
      .paragraph {
        padding: 30px;
        background-color: #fff;
        border-radius: 8px;
        margin: 0 15px;

        &.paragraph--type--instagram-embed {
          h4 {
            font-weight: 500;
            font-size: 30px;
            line-height: 42px;
          }
          .__instagram-profile {
            margin: 0 -2%;
          }
          .instagram_gallery {
            overflow: hidden;
          }
        }
      }
    }
  }

  .paragraph--type--in-person-location {
    h4 {
      @include fs-title-5;
    }
  }

  .paragraph--type--campaign-spotlight {
    .__title {
      @include fs-title-1;
    }
  }

  .__campaign-locations-access-wrapper {
    @include contain-1090;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;

    h2 {
      @include fs-title-1;
    }

    .__description {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .__location-access {
      @include columns-720(left);
    }
  }
  .campaign-featured-image,
  .image-with-text-container {
    @include contain-1090;
    margin-bottom: 109px;
  }
}
