.page-node-type-information-page {
  .hero-banner {
    margin-bottom: 60px;
    .hero-banner--container {
      h1 {
        margin-bottom: 0;
      }
      .lead-paragraph {
        margin-top: 20px;
        p {
          margin: 0;
        }
      }
    }
  }

  .info--content {
    @include fs-body-3;
  }

  .__information-section {
    
    .sfgov-section {
      h2 {
        padding: 0;
        margin-left: 0;
        margin-bottom: 20px;
        @include contain-1090;
        @include fs-title-2;
        padding: 0;
        @include media-max($medium-screen) {
          @include fs-title-3;
        }
      }
      h3 {
        @include fs-title-4;
        margin-top: 40px;
      }
      .sfgov-section__content {
        @include clearfix;
        @include contain-1090;
        padding: 0;
      }
    }
  }
  
  // Content.
  .info--content {
    @include contain-1090;
    @include clearfix;
    margin-top: 60px;
    position: relative;
  }

  .info--last-updated {
    @include contain-1090;
    font-style: italic;
    color: $c-slate;
    opacity: 0.6;
    margin-top: 80px;
    margin-bottom: 28px;
  }

  .info--departments-container {
    padding: 50px 0;
    background: $c-blue-1;
    .info--departments {
      @include contain-1090;
      .__dept {
        .field__label {
          @include fs-body-bold;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// Content left.
.info--left {
  @include columns-780(left);

  > details {
    max-width: 697px;
    @include media($narrow-screen) {
      margin-left: 60px;
    }
  }

  .paragraph--type--step {
    margin: 0 0 60px;

    h4 {
      @include fs-title-5;
    }

    .__content {
      .field__item {
        margin-bottom: 30px;
      }
    }
  }

  .sfgov-alert-info {
    margin-bottom: 30px;
  }

  .sfgov-section__content {
    @include media($narrow-screen) {
      margin-left: 60px;
    }
  }
}

// Content right.
.info--right {
  @include columns-350(right);

  .eck-entity-address-field {
    margin-bottom: 23px;
  }

  .simple-gmap-static-map {
    padding-bottom: 20px;
    padding-top: 29px;
  }

  .simple-gmap-link {
    padding-bottom: 20px;
  }

  .__text {
    font-style: italic;
  }
}

.info--right-content {
  background: $c-blue-1;
  border-radius: 8px;
  margin-bottom: 20px;

  h2 {
    @include fs-title-3-mobile;
    margin-bottom: 34px;

    @include media($medium-screen) {
      @include fs-title-3;
    }
  }

  .info--right-para {
    margin-bottom: 40px;
    padding: 40px;
  }
}

.node--related-services {
  > h2 {
    margin-bottom: 30px;
  }
  .field--related-content-item {
    margin-bottom: 40px;
    &.last {
      margin-bottom: 0;
    }
  }
}
