.page-node-type-topic {
  .hero-banner {
    padding-top: 20px;
    margin-bottom: 60px;
    h1 {
      margin-top: 40px;
    }
  }
  .child-topics {
    padding-top: 0;
  }
  // Related departments.
  .view--departments-block-2-topic-related-depts {
    background: $c-dark-blue;
    color: $c-white;
    padding: 46px 0;
    @include media($medium-screen) {
      padding: 80px 0
    }

    .container {
      @include contain-1090;
      @include clearfix;
      display: flex;
      flex-wrap: wrap;
    }

    .views-row {
      @include background-image('building-white.svg', left 5px);
      display: block;
      padding-left: 44px;
      width: 100%;
      margin-bottom: 46px;

      @include media($medium-screen) {
        width: 50%;
        margin-bottom: 60px;
        &:nth-child(2n+2) .department-search-result {
          margin-right: 0;
        }
      }
    }

    .department-search-result {
      margin-right: 70px;
    }

    h2 {
      @include contain-1090;
      @include fs-h1-small;
      color: $c-white;
      padding-bottom: 45px;

      @include media($medium-screen) {
        @include fs-title-1;
        padding-bottom: 45px;
      }
    }

    h4 {
      @include fs-big-link;
    }

    a {
      @include link-colors($c-white);
    }

    p {
      margin: 11px 0 0 0;
    }
  }
  .view-topic-parents-block {
    display: inline-block;
    width: 100%;
    padding: 0;
    .title {
      @include fs-body-long;
      color: $c-black;
      float: left;
      line-height: 25px;
      opacity: 0.65;
      display: inline-block;
      margin-right: 10px;
    }
    ul {
      display: block;
      margin: 0;
      min-wdith: 60%;
      padding: 0;
      list-style-type: none;
      li {
        display: block;
        float: left;
        padding: 0;
        margin: 0 6px 0 0;
        a {
          display: inline-block;
        }
        &::after {
          content: ',';
          margin-left: -2px;
          display: inline-block;
        }
        &:last-child::after {
          display: none;
        }
        a {
          display: inline-block;
          line-height: 24px;
        }
      }
      li:last-child::after {
        display: none;
      }
    }
  }
  
  .sfgov-dept-news {
    padding: 0;
    .dept-heading--section {
      display: none;
    }
    .more-link {
      margin-top: 15px;
      padding-left: 0;
      a {
        display: inline-block;
      }
    }
  }
  
  .sfgov-section-container {
    .paragraph--type--section {
      > h3 {
        @include fs-title-1;
      }
    }
  }
}
