.page-node-type-about {
  .hero-banner {
    background-color: $c-blue-2;

    .hero-banner--container {
      h1 {
        margin-bottom: 0;
      }
    }
  }

  .sfds-layout-container {
    @include contain-1090;
  }

  .sfgov-about-information {
    .sfgov-section {
      margin: 60px 0;
      width: 65%;

      &__title {
        padding: 0;
      }
    }
  }

  .sfgov-about-resources {
    padding: 60px 0;
    background-color: $c-blue-1;

    h2 {
      @include fs-h1;
    }

    .paragraph--type--other-info-card {
      margin-bottom: 20px;

      a {
        color: $c-slate;
      }

      & > .__title {
        @include fs-title-4;
        padding: 0;
        margin: 0 0 20px 0;
        font-weight: 400;
      }
    }
  }
}
