/* purgecss start ignore */
.page-node-type-person {
  .profile--container-narrow {
    @include contain-1090;
    @include clearfix;

    margin-bottom: 60px;
  }

  .profile--container-wide {
    @include clearfix;

    max-width: 100%;
    margin-bottom: 60px;
  }

  .page__title {
    display: none;
  }

  #block-sfgovpl-content {
    border-top: 3px solid $c-border;
    padding-top: 60px;
  }

  .main-content-container {
    @include clearfix;

    position: relative;

    .profile--info {
      display: inline-block;
      width: 100%;

      .profile--photo,
      .profile--social,
      .profile--direct-contact {
        display: inline-block;
        float: right;
        width: 100%;
        max-width: 33%;
      }

      .profile--direct-contact,
      .profile--social {
        clear: right;

        @include media-max($narrow-screen) {
          display: none;
        }
      }

      .profile--social {
        margin: 40px 0;

        span {
          @include fs-title-5;
        }

        ul {
          list-style: none;
          padding: 20px 0 0;
          margin: 0;

          li {
            margin-bottom: 26px;
            padding-left: 37px;
          }
        }

        .facebook {
          background:
            url(../../src/img/icons/facebook.svg) no-repeat center
            left;
        }

        .instagram {
          background:
            url(../../src/img/icons/instagram.svg) no-repeat center
            left;
        }

        .twitter {
          background: url(../../src/img/icons/twitter.svg) no-repeat center left;
        }

        .youtube {
          background: url(../../src/img/icons/twitter.svg) no-repeat center left;
        }

        .medium {
          background: url(../../src/img/icons/twitter.svg) no-repeat center left;
        }

        .linkedin {
          background: url(../../src/img/icons/twitter.svg) no-repeat center left;
        }
      }

      .profile--direct-contact {
        margin-top: 10px;

        .direct-email,
        .direct-phone {
          clear: both;
          margin-top: 20px;

          span {
            display: inline-block;
            min-width: 20px;
            margin-right: 15px;
          }
        }
      }

      .profile--photo {
        img {
          border-radius: 15px;
        }

        @include media-max($narrow-screen) {
          float: none;
          margin-bottom: 40px;
          max-width: 350px;
        }
      }

      .profile--name {
        @include fs-display-1-mobile;

        color: $c-black;
        margin-bottom: 40px;
        display: inherit;

        @include media($medium-screen) {
          @include fs-display-1;
        }
      }

      .profile--job,
      .profile--role,
      .profile--bio {
        max-width: 62%;

        @include media-max($narrow-screen) {
          max-width: 100%;
        }
      }

      .profile--job {
        @include fs-title-3-mobile;

        margin-bottom: 40px;

        @include media-max($narrow-screen) {
          clear: both;
          margin-bottom: 50px;
        }

        @include media($medium-screen) {
          @include fs-title-3;
        }
      }

      .profile--job .city-employee {
        @include fs-big-description-mobile;

        a {
          text-decoration: none;
        }

        @include media($medium-screen) {
          @include fs-big-description;
        }
      }

      .profile--role {
        @include fs-big-description;

        margin-bottom: 25px;

        div {
          display: inline-block;
        }

        .role-title {
          font-weight: 400;
        }

        .role-agency-title {
          display: block;

          a {
            text-decoration: none;
          }
        }

        .role-time {
          display: block;
        }
      }

      .profile--bio {
        margin-top: 40px;
        border-bottom: 3px solid $c-border;
        padding-bottom: 80px;

        .bio-trimmed {
          display: inline-block;
        }

        .show-bio {
          background:
            url('/themes/custom/sfgovpl/src/img/chevron-down.svg')
            no-repeat 0 8px;
        }

        .hide-bio {
          background:
            url('/themes/custom/sfgovpl/src/img/chevron-up.svg')
            no-repeat 0 8px;
          display: none;
        }

        .show-bio,
        .hide-bio {
          color: $c-bright-blue;
          padding-left: 30px;
          margin-top: 20px;
          text-decoration: none;
          font-weight: 500;
        }

        .show-bio:hover {
          background:
            url('/themes/custom/sfgovpl/src/img/chevron-down-dark-blue.svg')
            no-repeat 0 8px;
          color: #0c1464;
          cursor: pointer;
        }

        .hide-bio:hover {
          background:
            url('/themes/custom/sfgovpl/src/img/chevron-up-dark-blue.svg')
            no-repeat 0 8px;
          color: #0c1464;
          cursor: pointer;
        }

        .bio-full {
          display: none;
        }
      }
    }

    .profile--optional-content {
      clear: both;
      margin-top: 40px;

      .sfgov-spotlight {
        padding-bottom: 26px;
      }

      .sfgov-featured-items {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .profile--container-wide.additional-roles {
      background: $c-dark-blue;
      padding: 60px 0;

      h2 {
        @include fs-title-2-mobile;

        margin: 0 0 40px;
        color: #fff;

        @include media($medium-screen) {
          @include fs-title-2;
        }
      }

      div,
      a {
        @include fs-title-5;

        color: #fff;
        text-decoration: none;
      }

      .profile--additional-role {
        width: 49%;
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;

        > div {
          padding-right: 40px;
        }

        .additional-role-agency-title {
          text-decoration: underline;
        }

        @include media-max($narrow-screen) {
          clear: both;
          width: 100%;
        }
      }
    }

    .profile--contact.city-employee {
      border-top: none;
      padding-top: 0;

      .contact-address {
        padding-left: 40px;
        background: url(../../src/img/icons/location-2.svg) no-repeat 0 7px;
      }
    }

    .profile--contact {
      clear: both;
      padding-top: 20px;

      h2 {
        @include fs-title-1-mobile;

        margin: 0 0 20px;

        @include media($medium-screen) {
          @include fs-title-1;
        }
      }

      p.title {
        margin-top: 0;
      }

      .contact-wrapper {
        width: 100%;

        label {
          font-size: 20px;
          font-weight: 500;
          line-height: 27px;
        }

        .sfgov-contact-section.phone {
          .sfgov-phone-owner {
            @include fs-body-short;
          }
        }

        .contact-phone,
        .contact-email {
          display: inline-block;
          vertical-align: top;
          padding-right: 90px;

          @include media-max($narrow-screen) {
            width: 100%;
            clear: both;
          }

          .__email .field__label {
            display: none;
          }

          .phone-wrapper,
          .email-wrapper {
            margin: 0 0 40px;
          }

          .phone-item,
          .email-item {
            margin: 0 0 20px;
          }
        }

        .contact-phone {
          background:
            url('/themes/custom/sfgovpl/src/img/icons/phone-2.svg')
            no-repeat 0 7px transparent;
          padding-left: 40px;
        }

        .contact-email {
          background:
            url('/themes/custom/sfgovpl/src/img/icons/mail-2.svg')
            no-repeat 0 7px transparent;
          padding-left: 40px;

          @include media-max($narrow-screen) {
            margin-top: 40px;
          }
        }

        .paragraph--type--phone,
        .paragraph--type--email {
          background: none;
          padding-left: 0;
        }
      }
    }
  }
}

// No JS fallback using js enabled class
html.js .page-node-type-profile {
  .bio-trimmed.hidden {
    display: inline-block;
  }

  .bio-full {
    display: none;
  }
}

/* purgecss end ignore */
