.page-node-type-news {
  @include rubik;

  .hero-banner {
    background: $c-yellow;
    padding: 0;

    h1 {
      @include rubik;
      @include fs-h1;
      color: $c-text;
    }
  }

  .news--meta {
    background: $c-yellow-pale;
  }

  .news--body {
    .__body {
      @include contain;
    }
  }

  .news--footer {
    background: $c-yellow-pale;
  }

  .__dept {
    @include contain;
  }

  .field__label {
    @include rubik;
  }
}
