.page-node-type-transaction {

  // Generic.
  h3 {
    @include fs-title-3-mobile;
  }

  .sfgov-section__title {
    @include fs-title-3;
    padding-left: 0;
    padding-right: 0;
  }

  // Banner Subheader.
  .banner-subheader {
    @include antialiasing;
    background: $c-dark-blue;
    color: $c-white;
    padding-top: 40px;

    @include media($narrow-screen) {
      @include clearfix;
      padding: 40px 0;
    }

    .banner-subheader__container {
      @include contain-1090;
    }

    .paragraph {
      @include media($narrow-screen) {
        float: left;
        width: 50%;
      }
    }

    h3 {
      @include fs-body-bold;
      color: $c-white;
    }

    h4 {
      margin-top: 0;
    }

    p {
      @include fs-body-short;
      margin: 0;
    }
  }

  .paragraph--type--thing-to-know {
    padding-bottom: 40px;

    div {
      margin-left: 40px;
    }
  }

  .paragraph--type--cost {
    padding-bottom: 40px;

    div {
      margin-left: 40px;
    }

    .__cost-minimum {
      display: inline;
    }

    .__cost-maximum {
      display: inline;
      margin-left: 0;
    }
  }

  // Content.
  .transaction--content {
    @include contain-1150;
    @include clearfix;
    margin-top: 60px;
    position: relative;
  }

  // Updated.
  .updated {
    @include contain-1150;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 20px;
    opacity: .6;

    @include media($narrow-screen) {
      padding-left: 60px;
    }
  }

  // Ankle.
  .transaction--ankle {
    @include ankle('.__departments');
    background: $c-blue-1;
  }
}

// Content left.
.transaction--left {
  @include columns-780(left);

  > details {
    max-width: 697px;
    @include media($narrow-screen) {
      margin-left: 60px;
    }
  }

  .paragraph--type--step {
    margin: 0 0 60px;
  }

  .sfgov-alert-info {
    margin-bottom: 30px;
  }

  .sfgov-section__content {
    @include media($narrow-screen) {
      margin-left: 60px;
    }
  }
}

// Content right.
.transaction--right {
  @include columns-350(right);

  .sidebar-card {
    padding: 0 0 34px;
  }
}

.transaction--right-content {
  background: $c-blue-1;
  border-radius: 8px;
  margin-bottom: 20px;

  h2 {
    @include fs-title-3-mobile;
    margin-bottom: 34px;

    @include media($medium-screen) {
      @include fs-title-3;
    }
  }

  .transaction--right-para {
    margin-bottom: 60px;
    padding: 30px;
  }

  .sidebar-card--link {
    @include fs-title-right;
    display: block;
    margin-bottom: 18px;
  }
}
