.sfgov-dept-card {
  @include background-image('building-white.svg', left 5px);
  background-color: $c-dark-blue;
  color: $c-white;
  text-decoration: none;
  display: block;
  height: 100%;
  padding-left: 44px;
  @include media($medium-screen) {
    padding-right: 40px;
    padding-bottom: 24px;
  }
  .title {
    @include fs-big-link;
    margin: 0;
    color: $c-white;
    text-decoration: underline;
  }
  .description {
    @include fs-body-short;
    color: $c-white;
  }
}