.transaction--help {

  padding: 40px;

  > h2 {
    margin: 0 0 30px;
  }

  .field__label,
  .__title {
    @include fs-title-5;
  }

  p {
    @include fs-body-short;
    margin: 0;
  }

  .paragraph--type--help {
    .__text {
      font-style: normal;
    }
  }

  .paragraph--type--phone-numbers {
    .__phone-numbers-phone {
      .field__label {
        @include fs-title-5;
        margin-bottom: 10px;
      }
      .field__items {
        > div {
          margin-bottom: 30px;
          &:last-of-type {
            margin: 0;
          }
        }
      }
      .sfgov-phone-owner {
        @include fs-body-short;
      }
    }
  }

  .paragraph--type--email-addresses {
    .__email-addresses-email {
      .field__label {
        @include fs-title-5;
        margin-bottom: 10px;
      }
      .field__items {
        > div {
          margin-bottom: 30px;
          &:last-of-type {
            margin: 0;
          }
        }
      }
    }
  }

  // subtitles (email address, name of way to get help, in person address
  // organization, phone number owner, etc).
  .paragraph {
    > .__title,
    &.paragraph--type--phone .field__label {
      @include antialiasing;
      margin-bottom: 10px;
    }
  }

  > .transaction--help-item {
    margin-bottom: 40px;
    &.last {
      margin-bottom: 0;
    }
  }
}
