.page-node-type-department-table {
  .hero-banner {
    background-color: $c-slate;
    color: $c-white;
  }
  .hero-banner--container {
    h1 {
      margin-bottom: 15px;
      color: $c-white;
    }
    .lead-paragraph {
      margin: 0;
      color: $c-white;
    }
  }
  .department-table--content {
    margin: 75px auto;
    max-width: 1090px;
    h2 {
      margin-bottom: 83px;
    }
    .field__items {
      margin-bottom: 160px;
      .field__item {
        margin-bottom: 63px;
      }
    }
    .column-labels {
      width: 100%;
      border-top: 2px solid $c-grey-2;
      border-bottom: 2px solid $c-grey-2;
      padding: 20px 40px;
      span {
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        width: 33%;
      }
    }
    .views-row {
      padding: 40px;
      .paragraph--type--department-content {
       > div {
          display: inline-block;
          padding-right: 30px;
          width: 33%;
          vertical-align: top;
        }
        .department-name {
          font-size: 24px;
          font-weight: 500;
          line-height: 34px;
        }
        .document-file,
        .meeting-item {
          background-position: 0 2px;
          padding-left: 40px;
          .date {
            opacity: .65;
          }
        }
      }
    }
    .views-row:nth-child(even) {
      background: $c-grey-1;
    }
  }
}

// Mobile
@media only screen and (max-width: $narrow-screen) {
  .page-node-type-department-table {

  }
}

@media only screen and (max-width: $mobile-screen) {
  .page-node-type-department-table {
    .department-table--content {
      .field__items {
        margin-bottom: 80px;
        .field__item {
          margin-bottom: 40px;
        }
      }
    }
  }
}
