.page-node-type-form-page {
  // some overrides for formbuilder/sf-design-system-integration
  // TODO: clean this up as part of building out new design system
  $form-type: normal;
  input, textarea, select {
    height: auto;
  }

  header[role="banner"] {
    @include media-max($medium-screen) {
      padding-bottom: 0;
    }
    .sfgov-nav-container__content {
      display: block;
      @include media($medium-screen) {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        justify: space-between;
      }
  
      .sfgov-logo__container {
        width: 100%;
        @include media($medium-screen) {
          width: 33.33%;
        }
        @include media-max($medium-screen) {
          margin-bottom: 20px;
        }
      }
  
      .head-right--container {
        @include fs-body-bold;
        float: none;
        text-align: left;
        width: 100%;
        border-top: 3px solid $c-grey-3;
        padding: 15px 0;
        @include media($medium-screen) {
          @include fs-title-4;
          border-top: none;
          margin: 12px 0 0 0;
          padding: 0;
          width: 66.66%;
        }
      }
    }
  }

  .form-page {
    @include contain-1090;
    button:hover {
      border-bottom: 3px solid;
    }
  }
  .formio-sfds {
    .flex-auto{
      flex: 0 1 auto;
    }
  }
  .hero-banner--border{
    margin-bottom: 20px;
    .hero-banner--border-contain {
      margin-left:0px;
      margin-right:0px;
    }
  }

  [data-source*="checkyourhealthforcitystaff"] .col-md-2 {
    display: none;
  }
  [data-source*="checkyourhealthforcitystaff"] .col-md-3 {
    width: 100% !important;
  }

  .back-to-top {
    display: none;
  }
}
.sf-custom-block-gtranslate {
    float: right;
    right: 0px;
    @include media($medium-screen) {
      margin-right: 0px;
    }
}
