.page-node-type-event {
  @include rubik;

  .hero-banner {
    background: #00896D;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    @include antialiasing;
    h1, h3 {
      color: #fff;
    }
    h1 {
      @include fs-title-1;
      @include rubik;
      margin-bottom: 20px;
    }
    .lead-paragraph {
      @include fs-big-description;
      margin-bottom: 0;
    }
    .hero-banner-label {
      @include fs-title;
      margin-bottom: 20px;
      text-decoration: none;
    }
  }

  .event--meta {
    background: #0C1464;
    color: #fff;
    padding: 60px 0;
    @include antialiasing;
    .event--meta-inner {
      @include clearfix;
      @include fs-body-short;
      .event--meta-left {
        float: left;
        width: 50%;
      }
      .event--meta-right {
        float: right;
        width: 49%;
      }
      h3 {
        @include fs-title;
        color: #fff;
        margin: 0 0 10px 0;
        text-decoration: none;
      }
      p {
        margin: 0;
      }
      .event--meta-inner-content,
      .paragraph--type--cost {
        margin-bottom: 25px;
        > div {
          margin: 0 0 0 40px;
          @include fs-body-short;
        }
      }
    }
  }

  .event--content-container {
    position: relative;
    margin-bottom: 100px;
  }
  .event--content-container-inner {
    @include contain;
    @include clearfix;
    @include rubik;
    padding-top: 70px;
    .event--content-body {
      float: left;
      width: 60%;
      padding-right: 20px;
      @include fs-body-long;
      p {
        margin: 0 0 1em 0;
        @include fs-body-long;
      }
    }
    .event--content-sidebar {
      float: right;
      width: 40%;
      .event--content-sidebar-card {
        margin-bottom: 20px;
        background: #E9F7EC;
        border-radius: 8px;
        padding: 40px;
        .paragraph--type--call-to-action {
          .sfds-call-to-action {
            a {
              @include fs-body-bold;
            }
          }
        }
        .__address {
          .__title {
            @include fs-title-5;
            margin-bottom: 20px;
          }
        }
        &.phone-email {
          h3 {
            @include rubik;
            @include fs-title-5;
            margin: 0 0 20px 0;
          }
          .event--content-phone {
            margin-bottom: 45px;
            .paragraph--type--phone {
              h4 {
                @include rubik;
                
                font-weight: normal;
              }
              .phone--container {
                .sfgov-icon-phone {
                  display: none;
                }
                .phone {
                  margin: 0;
                  line-height: initial;
                }
              }
              p {
                color: #1C3E57;
                font-style: italic;
                margin: 10px 0 0 0;
              }
            }
          }
          .event--content-email {
            h3 {
              @include rubik;
              @include fs-title-5;
            }
            .paragraph--type--email {
              .__title {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .event--footer {
    background: #C0E2C5;
    padding: 40px 0px;
    .__dept {
      @include contain;
      h4 {
        @include rubik;
        @include fs-title;
        text-decoration: none;
        margin: 0 0 20px 0;
      }
      .field__items {
        margin-left: 40px;
        a {
          @include rubik;
          color: $c-text;
        }
      }
    }
  }

  .event--meta.no-image {
    .event--meta-inner {
      margin: 0 auto;
      max-width: 1276px;
      padding-left: 20px;
      padding-right: 20px;
  
      @include media($medium-screen) {
        padding-left: 96px;
        padding-right: 96px;
      }
    }
  }
  
  @include media-max($medium-screen) {
    .hero-banner {
      h1 {
        @include fs-h1-small;
      }
      .lead-paragraph {
        @include fs-big-description-mobile;
      }
    }

    .event--meta {
      .event--meta-inner {
        .event--meta-left,
        .event--meta-right {
          float: none;
          width: auto;
        }
      }
    }

    .event--content-container-inner {
      .event--content-body,
      .event--content-sidebar {
        float: none;
        display: block;
        width: auto;
        position: static;
      }
    }

  }
}