.page-node-type-event {
  @include rubik;

  .hero-banner {
    background: #00896D;
    color: #fff;
    h1, h3 {
      color: #fff;
    }
  }

  .event--meta {
    background: #0C1464;
    color: #fff;
    .event--meta-inner {
      @include clearfix;
      .event--meta-left {
        float: left;
        width: 50%;
      }
      .event--meta-right {
        float: right;
        width: 49%;
      }
    }
  }

  .event--content-container {
    @include clearfix;
    .event--content-body {
      float: left;
      width: 60%;
    }
    .event--content-sidebar {
      float: right;
      width: 39%;
    }
  }
}