.page-node-type-information-page {
  .hero-banner {
    margin-bottom: 60px;
    .hero-banner--container {
      h1 {
        margin-bottom: 0;
      }
      .lead-paragraph {
        margin-top: 20px;
        p {
          margin: 0;
        }
      }
    }
  }

  .info--content {
    @include fs-body-3;
  }

  .__information-section {
    
    .sfgov-section {
      h2 {
        padding: 0;
        margin-left: 0;
        margin-bottom: 20px;
        @include contain-1090;
        @include fs-title-2;
        @include media-max($medium-screen) {
          @include fs-title-3;
        }
      }
      h3 {
        @include fs-title-4;
      }
      .sfgov-section__content {
        @include clearfix;
        @include contain-1090;
        .__text {
          @include columns-720(left);
        }
      }
    }
  }

  .info--last-updated {
    @include contain-1090;
    font-style: italic;
    color: $c-slate;
    opacity: 0.6;
    margin-top: 80px;
    margin-bottom: 28px;
  }

  .info--departments-container {
    padding: 50px 0;
    background: $c-blue-1;
    .info--departments {
      @include contain-1090;
      .__dept {
        .field__label {
          @include fs-body-bold;
          margin-bottom: 10px;
        }
      }
    }
  }
}
