.transaction--help {

  .field__label {
    @include fs-accordion-title;
  }

  p {
    @include fs-body-2;
    margin: 0;
  }

  .paragraph--type--phone {
    @include icon-transaction-help('icons/phone-2.svg');

    .sfgov-icon-phone {
      &:before {
        content: none;
      }
    }

    .phone {
      margin: 0;
    }
  }

  .paragraph--type--email {
    @include icon-transaction-help('icons/mail-2.svg');
  }

  .paragraph--type--in-person-location {
    @include icon-transaction-help('icons/location-2.svg');
  }
}
