.page-node-type-topic {

  .hero-banner h1 {
    @include media($medium-screen) {
      @include fs-header-title-2;
    }
  }

  .lead-paragraph {
    padding-bottom: 40px;

    @include media($medium-screen) {
      padding-bottom: 108px;
    }
  }

  // Services.
  // @todo. See also _paragraph_services.scss.
  .view-services-block-1 {
    background: $c-blue-pale;
    padding-bottom: 60px;
    padding-top: 60px;

    .container {
      @include contain-1090-table;
      @include clearfix;
    }

    @include media($medium-screen) {
      padding-top: 50px;
    }

    h2 {
      @include contain-1210;
      @include fs-h1;
      margin-bottom: 19px;

      @include media($medium-screen) {
        margin-bottom: 70px;
      }
    }

    h4 {
      @include fs-title;
    }

    .three-column-table-row {
      @include three-column-table-row;
    }

    .three-column-table-row-item {
      background: $c-white;
      border: 3px solid $c-blue-button;
    }

    .sfgov-transaction-search--container {
      border-bottom: 0;
      margin: 0;
      padding: 0;

      .body {
        @include fs-body-short;
        color: $c-text;
      }
    }
  }

  // Related departments.
  .view--departments-block-2-topic-related-depts {
    background: $c-blue-button-hover;
    color: $c-white;
    padding-bottom: 80px;
    padding-top: 80px;

    .container {
      @include contain-1090;
      @include clearfix;
    }

    .views-row {
      @include background-image('building-white.svg', left 5px);
      padding-left: 44px;
    }

    h2 {
      @include contain-1210;
      @include fs-h1-small;
      padding-bottom: 45px;

      @include media($medium-screen) {
        @include fs-title-1;
        padding-bottom: 45px;
      }
    }

    h4 {
      @include fs-big-link;
    }

    a {
      @include link-colors($c-white);
    }

    p {
      margin-bottom: 34px;
      margin-top: 11px;
    }
  }
}
