/* purgecss start ignore */
.page-node-type-department {

  /* for the wysiwyg text area values */
  p {
    margin: 0;
    padding: 0;
  }

  .meeting__thing-to-know {
    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // more link
  .more-link {
    a {
      @include button;
    }
  }

  // wysiwyg
  .sfgov-dept-about {

    h3,
    h4,
    .__about-or-description {
      color: $c-white;

      p {
        padding: 0;
        margin: 0 0 24px;
      }

      a {
        color: $c-white;
      }
    }

    .social-media {
      .sm-icon {
        background-size: 20px 22px;
      }

      .facebook {
        @include background-image('icons/facebook-white-bg.svg', 0 50%);
      }

      .instagram {
        @include background-image('icons/instagram-white-bg.svg', 0 50%);
      }

      .twitter {
        @include background-image('icons/twitter-white-bg.svg', 0 50%);
      }

      .mastodon {
        @include background-image('icons/mastodon-white-bg-square.svg', 0 50%);
      }
    }
  }
}

/* purgecss end ignore */
