// override styles for exposed filters
.views-exposed-form {
  // form input containers
  .form--inline .form-item {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  // author autocomplete
  [data-drupal-selector="edit-uid"] {
    width: 265px;
  }
}

// override styles from drupal/views_data_export module
.views-data-export-feed {
  &.csv-feed a { // override csv button style
    background: none;
    display: block;
    overflow: auto;
    width: auto;
    height: auto;
    text-indent: initial;
  }
}

.translation-key-container {
  display: flex;
  flex-wrap: wrap;
  float: right;
  justify-content: space-around;

  .translation-key-item {
    display: flex;
    height: 50%;
    padding-left: 20px;

    .translation-key-text {
      padding-left: 5px;
    }
  }
}
