/* purgecss start ignore */
// Form.io Feedback form

// .paragraph--formio--feedback {
//   align-items: center;
//   background-color: #424244;
//   color: #fff;
//   display: flex;
//   font-size: 1rem;
//   min-height: 81px;
//   padding: 20px 0;

//   a, label {
//    font-size: inherit;
//   }

//   label {
//     color: #fff;
//   }

//   a {
//     @include link-colors(#fff, #fff);
//   }
// }

// #formio-feedback {
//   @include contain-1090;

//   .formio-component {
//     margin-bottom: 0;
//   }

//   .formio-component-form > label,
//   .formio-component-button label {
//     display: none;
//   }

//   .formio-form {
//     align-items: center;
//     align-content: center;
//     display: flex;
//     flex-flow: row wrap;
//   }

//   .formio-hidden {
//     margin: 0 !important;
//     min-height: 0;
//   }

//   .field-description {
//     color: #fff;
//     font-size: 0.824rem;
//     line-height: 1.3;
//     margin: 13px 0;
//   }

//   .btn-primary {
//     @include button-clear;
//     @include rubik;
//     margin: 0;
//     border: 0;
//     line-height: 1;
//     @media (max-width: 739px) {
//       width: auto;
//     }
//   }

//   .btn-default {
//     @include rubik;
//     color: #fff;
//     border-radius: 0;
//     font-size: 1rem;
//     font-weight: normal;
//     background: transparent;
//     text-decoration: underline;
//     text-align: left;
//     padding: 0;
//     margin: 0;
//     border: 0;
//   }

//   .alert {
//     font-size: 1rem;
//     margin: 1rem 0;
//     line-height: 28px;

//     * {
//       font-size: inherit;
//       line-height: inherit;
//     }
//   }

//   .alert-error {
//     background: $c-red-3;
//     color: $c-white;
//   }

//   // Success message appears as normal text.
//   .alert-success {
//     @include background-image('icons/check-white.svg', left center);
//     border: 0;
//     color: #fff;
//     margin: 0;
//     padding: 10px 0 10px 40px;

//     p {
//       margin-left: 0;
//     }
//   }

//   .formio-component-wasThisPageHelpful h2 {
//     color: inherit;
//     font-size: 1rem;
//     font-weight: normal;
//     margin: 0;
//   }

//   .formio-component-wasThisPageHelpful {
//      flex: 1 0 100%;

//      @media (min-width: 740px) {
//       flex-grow: 0;
//       flex-basis: auto;
//       margin: 0 20px 0 0;
//     }
//   }
//   .formio-component-helpfulNo,
//   .formio-component-helpfulYes {
//     flex: 0 0 auto;
//     margin: 10px 20px 0 0;

//     @media (min-width: 740px) {
//       margin-top: 0;
//     }
//   }

//   .formio-component-reportIssue {
//     display: flex;
//     flex: 1 0 100%;
//     margin-top: 20px;

//     .page-node-type-form-page & {
//       margin-top: 0;
//     }

//      @media (min-width: 740px) {
//       flex: 0 0 auto;
//       justify-content: flex-end;
//       margin-left: auto;
//       margin-top: 0;
//     }
//   }

//   .formio-component-message {
//     margin: 10px 0 15px 0;
//     flex: 1 0 100%;

//     label {
//       font-weight: $fw-medium;
//       margin-bottom: 22px;
//     }

//     textarea {
//       max-width: 534px;
//       padding: 0.64rem 1rem;
//     }
//   }

//   .formio-component-submit {
//     margin-bottom: 50px;
//   }
// }

#webform-submission-was-this-page-helpful-node-2-form-ajax {
  align-items: center;
  background-color: #424244;
  color: #fff;
  display: flex;
  font-size: 1rem;
  min-height: 81px;
  padding: 20px 0;
}
.webform-submission-was-this-page-helpful--form {
  @include contain-1090;

  .js-form-type-radios {
    display: flex;
    align-items: center;
    @media (max-width: 739px) {
      flex-flow: row wrap;
    }

    label {
      color: #fff;
      font-size: 1rem;
      font-weight: normal;
      margin: 10px 20px 0 0;
      letter-spacing: normal;
      line-height: normal;
      flex-shrink: 0;
      -webkit-font-smoothing: auto;
    }

    .js-webform-radios {
      display: flex;
      align-items: center;
    }
  }

  .js-form-type-radio {
    .form-radio {
      appearance: none;
      background-color: #fff;
      margin: 0;
      border: 0;
      display: none;
    }
    label {
      @include rubik;
      color: #fff;
      border-radius: 0;
      font-size: 1rem;
      font-weight: normal;
      background: transparent;
      text-decoration: underline;
      text-align: left;
      padding: 0;
      margin: 10px 0 0 0;
      border: 0;
      -webkit-font-smoothing: auto;
    }
  }

  .js-form-type-radio:not(:last-of-type) {
    label {
      @include button-clear;
      @include rubik;
      margin: 10px 20px 0 0;
      border: 0;
      line-height: 1;
      -webkit-font-smoothing: auto;

      &:focus {
        outline: 2px dotted #fff;
        outline-offset: 3px;
      }
      @media (max-width: 739px) {
        width: auto;
      }
    }
  }

  .js-form-type-textarea {
    margin: 10px 0 15px 0;

    label {
      font-weight: 600;
      margin-bottom: 22px;
    }
    textarea {
      max-width: 534px;
      padding: .64rem 1rem;
    }
  }

  .webform-button--submit {
    @include button-clear;
    @include rubik;
    margin: 0;
    border: 0;
    line-height: 1;
    width: auto;
    @media (max-width: 739px) {
      width: auto;
    }
  }

  #edit-was-this-page-helpful- {
    display: flex;
    width: 100%;

    .form-item:last-of-type {
      margin-left: auto;
    }
  }

  a, label {
   font-size: inherit;
  }

  label {
    color: #fff;
  }

  a {
    @include link-colors(#fff, #fff);
  }
}

/* purgecss end ignore */
