// Form.io Feedback form

.paragraph--formio--feedback {
  background-color: #424244;
  color: #fff;
  padding: 20px 0;

  .formio-sfds {
    @include contain-1090;
    @include clearfix;
  }

  .formio-container.mb-4 {
    margin-bottom: 0 !important;
  }
}

#formio-feedback {
  .formio-component {
    margin-bottom: 0;
  }

  .formio-component-button label {
    display: none;
  }

  label, legend, a {
    color: #fff;
    font-size: 1rem;
  }

  .formio-form {
    @media (min-width: 740px) {
      align-items: stretch;
      align-content: center;
      display: flex;
      flex-flow: row wrap;
    }
  }

  .formio-hidden {
    margin: 0 !important;
    min-height: 0;
  }

  .field-description {
    color: #fff;
    font-size: 0.824rem;
    line-height: 1.3;
    margin: 13px 0;
  }

  .btn-primary {
    @include button-clear;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .alert {
    margin: 1rem 0;
  }

  .alert-error {
    background: $c-red-3;
    color: $c-white;
  }

  // Success message appears as normal text.
  .alert-success {
    @include background-image('icons/check-white.svg', left center);
    border: 0;
    color: #fff;
    line-height: 28px;
    margin: 0;
    padding: 10px 0 10px 40px;

    p {
      margin-left: 0;
    }
  }

  // Field: Feedback helpful (Radio input, options appear as buttons).
  .formio-component-feedbackHelpful {
    margin-bottom: 0;

    @media (min-width: 740px) {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      flex: 1 0 50%;
    }

    .form-group {
      width: 100%;
      &.mt-2 {
        margin-top: 0 !important;
      }
    }

    legend {
      margin-bottom: 0;

      @media (min-width: 740px) {
        float: left;
        margin: 10px 20px 0 0;
      }
    }

    .field-wrapper {
      float: left;
      display: flex;

      label {
        margin: 0 20px 0 0 !important;
      }

      .flex-shrink-0 { // input container
        margin-bottom: 0;
        opacity: 0;
        position: fixed;
        width: 0;
      }

      .flex-auto { // label text
        @include button-clear;
        cursor: pointer;
        display: inline-block;
        line-height: 1.2;
        margin-top: 20px;

        @media (min-width: 740px) {
          margin-top: 0;
        }
      }
    }
  }

  // Field: Report issue checkbox (appears as link)
  .formio-component-feedbackReportIssueLink {
    margin-top: 20px;

    @media (min-width: 740px) {
      align-items: center;
      display: flex;
      flex: 1 0 50%;
      justify-content: flex-end;
      margin-top: 0;
    }

    .flex-shrink-0 { // input container
      appearance: none;
      opacity: 0;
      position: absolute;
    }

    label {
      cursor: pointer;
      margin: 0;
      text-decoration: underline;
    }
  }

  // Field: Feedback text
  .formio-component-feedbackText {
    margin: 10px 0 15px 0;
    flex: 1 0 100%;

    label {
      font-weight: 500;
      margin-bottom: 22px;
    }

    textarea {
      max-width: 534px;
    }
  }
}
