.ms-parent {
  .ms-choice {
    margin: 0;
    padding: 0.64rem 1rem;
    border: 2px solid $c-dark-blue;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    background-color: white !important;

    & > span {
      @include rubik;
      @include fs-body-short;
      color: $c-dark-blue !important;
      font-weight: $fw-regular;
      padding: 0 1rem;
      line-height: 48px;
    }
  }

  .ms-drop {
    max-width: 200px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

    ul {
      padding: 5px;

      & > li {
        padding: 10px;

        label {
          white-space: inherit;
          @include fs-body-short;
        }
      }
    }

    input {
      width: auto;
    }
  }
}
