// Node Preview widget.
//------------------------------------------------------------------------------

.node-preview-container {
  background: #2d2d2d;
  color: $c-white;
  padding: 1rem;
}

.node-preview-backlink {
  @include button-clear;
  @include rubik;
}

.node-preview-form-select {
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form-item-view-mode {
    @include media($narrow-screen) {
      display: flex;
      align-items: stretch;
    }

    label {
      color: $c-white;
      display: flex;
      align-items: center;
      font-size: 1rem;
      white-space: nowrap;
      margin: 0 20px 0 0;
    }
  }
}
