// Content Moderation Widget
//------------------------------------------------------------------------------

.content-moderation-entity-moderation-form {
  max-width: none;
}

.content-moderation {
  background: $c-black-opacity-3;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;

  summary,
  &[open] summary {
    @include antialiasing;
    border-radius: 0;
    border: solid 1px;
    color: $c-slate;
    padding: 0 !important;
  }

  // Color by workflow moderation state.
  &.is-draft summary,
  &.is-draft[open] summary {
    background-color: $c-red-1;
    border-color: $c-red-2;
  }

  &.is-ready-for-review summary,
  &.is-ready-for-review[open] summary {
    background-color: $c-yellow-1;
    border-color: $c-yellow-2;
  }

  &.is-archived summary,
  &.archived[open] summary {
    background-color: $c-purple-1;
    border-color: $c-purple-2;
  }

  // Override base <details> styles. We want the +/- icons inside the container.
  &:not([open]) summary::after,
  &[open] summary::after {
    display: none;
  }
}

.content-moderation_summary-container {
  @include contain-1090;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;

  &::after {
    background-color: $c-slate;
    content: '';
    height: 30px;
    mask: url('/themes/custom/sfgovpl/src/img/plus-blue.svg') no-repeat 50% 50%;
    mask-size: 19px 19px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
  }
}

.content-moderation[open] .content-moderation_summary-container::after {
  mask: url('/themes/custom/sfgovpl/src/img/minus-white.svg') no-repeat 50% 50%;
  mask-size: 19px 3px;
}

.content-moderation__content {
  @include contain-1090;
  padding-top: 30px;
  padding-bottom: 60px;
}

.content-moderation__message {
  margin-bottom: 2rem;
}

.content-moderation__transition {
  @include media($mobile-screen) {
    align-items: center;
    display: flex;
  }

  .form-item {
    margin: 0 0 20px 0;
    padding: 0;
    max-width: 50%;

    @include media($mobile-screen) {
      align-items: center;
      display: flex;
      margin: 0;
      max-width: 520px;
    }

    &:not(:first-child) {
      @include media($mobile-screen) {
        margin-left: 2rem;
      }
    }
  }

  label {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0 1rem 0 0;

    @include media-max($mobile-screen) {

      font-size: 1.1rem;
    }

    @include media($mobile-screen) {
      min-width: max-content;
    }
  }
}

.content-moderation__log {
  align-items: stretch;
  display: flex;
  margin-top: 20px;

  .form-item-revision-log {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    position: relative;

    label {
      @include visually-hidden;
    }

    input {
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-right-radius: 0;
      flex: 1 1 auto;
      margin: 0;
      width: 100%;
    }
  }

  .form-submit {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top-left-radius: 0;
    flex: 0 1 80px;
    margin: 0;
  }
}

.content-moderation__status {
  display: inline-block;
  border-radius: 8px;
  font-size: 0.923rem;
  padding: 0 0.5rem;

  &.is-published {
    background: $c-green-3;
    color: $c-white;
  }

  &.is-unpublished {
    background: $c-red-3;
    color: $c-white;
  }
}
