// DropButton styles from Seven.
// Needed by Diff module; no support in sfgovpl.
@import url('/core/themes/seven/css/components/dropbutton.component.css');

// Diff Controls
//------------------------------------------------------------------------------

.diff-header,
.diff-controls {
  background: #f8f8f8;
  border: solid 1px #ccc;
  margin: 0 auto;
  max-width: 1090px;
}

.diff-header {
  border-radius: 8px 8px 0 0;
  border-bottom-width: 0;
  padding: 20px;
}

.diff-controls {
  border-top-width: 0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 0 0 8px 8px;
}

.diff-responsive-table-wrapper > .article__title {
  display: none;
}

del, ins {
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  &, > * {
    color: $c-slate !important;
  }
}

del {
  outline-color: $c-red-3;

  &, > * {
    background-color: $c-red-2 !important;
    text-decoration: line-through !important;
  }
}

ins {
  outline-color: $c-green-3 !important;

  &, > * {
    background-color: $c-green-2;
    text-decoration: underline !important;
  }
}

// System CSS Overrides
//------------------------------------------------------------------------------
// This is an odd case where administrative and default theme can potentially
// mix, likely due to dependencies of "admin widgets on the front-end".

// Overrides system.admin.css.
div.layout-container {
  margin: 0 !important;
  @media screen and (min-width: 38em) {
    margin: 0 !important;
  }
}
