.path-user {
  .user-login-form {
    @include contain-1090;
    .js-form-item {
      width: 50%;
      margin-bottom: 20px;
      @include media-max($medium-screen) {
        width: auto;
      }
    }
    [data-drupal-selector="edit-name"],
    [data-drupal-selector="edit-pass"] {
      border-color: $c-bright-blue;
      border-radius: 8px;
      border-style: solid;
      border-width: 3px;
      height: 44px;
      margin: 0;
      max-width: initial;
      padding: 15px;
    }
    [data-drupal-selector="edit-actions"] {
      width: 148px;
      background: $c-bright-blue;
      text-align: center;
      border-radius: 8px;
      [data-drupal-selector="edit-submit"] {
        @include rubik;
        @include fs-body-short;
        border-radius: 8px;
        border: 0;
        display: block;
        margin: 20px 0;
        padding: 10px;
        width: 100%;
        background: $c-bright-blue;
        &:hover {
          border: 0;
          &::before {
            @include fs-body-short;
            box-shadow: none;
          }
        }
      }
    }
  }
}