/* purgecss start ignore */
.path-user {
  .user-login-form,
  .user-pass,
  .user-pass-reset {
    @include contain-1090;
    padding-left: 0;
    padding-right: 0;
    .js-form-item {
      margin-bottom: 40px;
      @include media-max($medium-screen) {
        width: auto;
      }
    }
    label {
      margin-bottom: 0;
    }
    [data-drupal-selector='edit-name'],
    [data-drupal-selector='edit-pass'] {
      border-color: $c-bright-blue;
      border-radius: 8px;
      border-style: solid;
      border-width: 3px;
      height: 44px;
      margin: 0.5rem 0 0;
      max-width: initial;
      padding: 15px;
    }
    [data-drupal-selector='edit-actions'] {
      display: flex;
      height: 49px;
      gap: 20px;
      margin-bottom: 40px;
      padding-top: 5px;
    }
  }
}
/* purgecss end ignore */
