{% set columns = columns or (rows | length) %}
{% set column_modifier = columns >= 3 ? 'three' : 'two' %}
<div class="sfgov-container-{{ column_modifier }}-column">
  {% for card in rows %}
    <div class="sfgov-container-item">
      {{ card.content }}
    </div>
  {% endfor %}
</div>
