{% if input_type == 'link' %}
  {% set rows = items %}
{% elseif input_type ==  'transaction' %}
  {% set rows = service.transactions %}
{% endif %}

<div class="sfgov-container-three-column">
{% for card in rows %}
  <div class="sfgov-container-item">
    {% if input_type == 'link' %}
      {% include "@theme/atoms/service-card-link.twig" %}
    {% elseif input_type ==  'transaction' %}
      {% include "@theme/atoms/service-card-transaction.twig" %}
    {% else %}
      {% include "@theme/atoms/service-card-nodes.twig" %}
    {% endif %}
  </div>
{% endfor %}
