<header class="hero-banner color">
  <div class="hero-banner--container">
    <h1>
      {{ template_strings.page.title|t }}
    </h1>
    <p class="lead-paragraph notranslate">
      {{ template_strings.page.description|t }}
    </p>
  </div>
</header>
