<div class="vaccine-filter__empty">
  <h4>
    {{ template_strings.page.empty.text_1|t }}
  </h4>
  <p>
    {{ template_strings.page.empty.text_2|t }}<a href="/getvaccinated">{{
        template_strings.page.empty.text_3|t
      }}</a>
  </p>
</div>
