<div class="mb-20 notranslate" role="status">
  <div class="vaccine-count-container">
  {{
    'Showing <span>@count</span> results'|t({
      '@count': results|length
    })
  }}
  </div>
  <div class="bg-red-1 text-red-4 p-20" data-role="invalid-address" style="display: none;">
  {{
    'Invalid address or zip code entered'|t
  }}
  </div>
</div>
