<div class="vaccine-filter__other">
  <h2>
    {{ template_strings.page.other.label|t }}
  </h2>
  <p>
    {{ template_strings.page.other.text|t }}
  </p>
  <div class="vaccine-filter__other-sites"></div>
</div>
