{% set text %}
  <p>
    {{ alert|t }}
  </p>
{% endset %}

{% include '@theme/alert.twig' with {
  date_exp: 'now'|date('Y-m-d'),
  style: 'department',
  content: {
    field_alert_text: text
  }
} %}
