<div class="sfgov-full-bleed light-blue vaccine-filter__filter-top">
  <div class="sfgov-section-container">
    <div class="sfgov-filters vaccine-filter__filters">
      {{ filters }}
    </div>
  </div>
</div>
{# Location autocomplete dropdown. #}
<div id="infowindow-content">
  <span id="place-name" class="title"></span><br />
  <span id="place-address"></span>
</div>
