<header class="hero-banner color">
  <div class="hero-banner--container">
    <h1 class="notranslate">
      {{ template_strings.page.title|t }}
    </h1>
    <div class="lead-paragraph notranslate">
      {{ header_description | raw }}
    </div>
  </div>
</header>
