<div class="vaccine-filter__empty">
  <h4>
    {{ 'No sites match your search.'|t }}
  </h4>
  <p>
    {{ 'Remove some of the filters to find more sites. '|t }}
    <a href="/getvaccinated">
      {{ 'You can also see more options to get vaccinated.'|t }}
    </a>
  </p>
</div>
