<div class="sfgov-full-bleed light-blue vaccine-filter__filter-top">
  <div class="sfgov-section-container">
    <div class="sfgov-filters vaccine-filter__filters">
      {{ filters }}
    </div>
  </div>
</div>
