/* Grey earth icon for tmgmt. */
.toolbar-icon-tmgmt-admin-tmgmt:before {
  background-image: url("../icons/earth.svg");
}
.toolbar-icon .toolbar-icon-tmgmt-admin-tmgmt:before {
  background-image: url("../icons/earth.svg");
}
/* Black earth icon for tmgmt - hover. */
#toolbar-link-tmgmt-admin_tmgmt.is-active:before {
    background-image: url("../icons/earth_black.svg");
}
.toolbar-icon .toolbar-icon-tmgmt-admin-tmgmt:active:before,
.toolbar-icon .toolbar-icon-tmgmt-admin-tmgmt.is-active:before {
    background-image: url("../icons/earth_black.svg");
}
