@CHARSET "UTF-8";

/*
 * Formatter settings - general
 *
 * Make table as small as possible.
 */
.field--type-office-hours {
  white-space: nowrap;
  /* width: 1px; */
  /* background: rgba(0, 0, 0, 0); */
}
.office-hours__item {
  /* display: inline-block; */
}
.office-hours__item-label {
  /* padding: 0 0 0 0; */
  /* float: left; */
  /* display: inline-block; */
  /* vertical-align: text-top; */
  font-weight: bold;
}

/*
 * Formatter settings - default formatter
 */
span.office-hours__item-label {
  display: inline-block;
  vertical-align: text-top;
}
span.office-hours__item-slots {
  display: inline-block;
  vertical-align: text-top;
}
span.office-hours__item-comments {
  display: inline-block;
  vertical-align: text-top;
}

/*
 * Formatter settings - table formatter
 *
 * Disable striping of rows/items.
 * @todo This should be disabled in viewElements().
 */
tr.office-hours__item.even {
  background: rgba(0, 0, 0, 0);
}
tr.office-hours__item.odd {
  background: rgba(0, 0, 0, 0);
}
tr.office-hours__item {
  background: rgba(0, 0, 0, 0);
}

/* Do not wrap label, slots, comments in cells. */
.office-hours__item td {
  white-space: nowrap;
  vertical-align: text-top;
}

/*
 * Formatter settings - status formatter
 */
.office-hours-status--closed {
  font-style: italic;
}

/*
 * Widget settings
 */

/* Format the 'day' column */
.office-hours-label {
  font-weight: bold;
  text-align: left;
}

.office-hours-more-label {
  font-weight: bold;
  text-align: right;
  font-style: italic;
}
