@import "../../00-protons/00-breakpoints";
@import "../../00-protons/01-grid";
@import "../../01-atoms/01-colors/01-colors";

.sfgov-tabbed-navigation {
  ul {
    border-bottom: 1px solid $color-aqua-lightest;
    margin: 10px 0 0 0;
    li {
      margin: 0;
      display: inline-block;
      a {
        padding: 2px 13px;
        border: 1px solid $color-gray-lighter;
        text-decoration: none;
        &.is-active {
          background: $color-aqua-lightest;
        }
      }
    }
    @include media-max($mobile-screen) {
      font-size: 1.4rem;
      padding-left: 0;
    }
  }
}
