<nav role="navigation" class="sfgov-nav sfgov-mobile_nav-container">
  <div class="sfgov-nav-inner">
    <button class="sfgov-nav-close">
      <i class="fa fa-times"></i>
    </button>
    {{ content }}
  </div>
</nav>
