@import "../../01-atoms/02-typography/01-fonts.scss";
@import "../../01-atoms/01-colors/01-colors.scss";
@import "../../00-protons/00-breakpoints";

.sfgov-footer-navigation-bottom {
  ul {
    @include media-max($medium-screen - 1) {
      &::after,
      &::before {
        content: '';
        display: table;
        clear: both;
      }
    }
    padding: 0;
    margin: 0;
    li {
      @include media($medium-screen) {
        &:first-child {
          padding-left: 0;
        }
      }
      @media screen and (min-width: $medium-screen + 1) and (max-width: $narrow-screen) {
        &:first-child {
          padding-left: 17px;
        }
      }
      margin-bottom: 0;
      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}
