.sfgov-resource-card {
  @include rubik;
  background: $white;
  border: 3px solid $grey-3;
  border-radius: $radius;
  color: $slate;
  display: block;
  padding: $rhythm * 2;
  text-decoration: none;
  
  .title {
    @include body-link-bold;
    color: $bright-blue;
    margin: 0 0 $rhythm 0;
    text-decoration: underline;
  }
  .description {
    @include body-short;
    color: $slate;
    margin: 0;
  }
  &:hover {
    border-color: $bright-blue;
  }
}
