.sfgov-featured-item {
  @include rubik;
  display: block;
  background: $purple-3;
  text-decoration: none;
  color: $white;
  border-radius: $radius;
  padding: $rhythm * 2;
  
  .title {
    @include title-5;
    color: $white;
    margin: 0 0 $rhythm 0;
  }
  .description {
    @include body-short;
    color: $white;
    margin: 0;
  }
  &:hover {
    background: $purple-4;
  }
}