{% extends 'node.html.twig' %}
{% block node %}
  {% block title %}
  {% endblock title %}

  {% block body %}
    <a class="sfgov-transaction-card" href="{{ url }}">
      <h5 class="title">{{ node.label }}</h5>
      <p>
        {{ content.field_description }}
      </p>
    </a>
  {% endblock body %}
{% endblock node %}
