{{ content.content_moderation_control }}

 {% block header %}
    {% include '@theme/hero-banner-with-image.twig' with {
      'banner': {
        'image': file_url(node.field_banner_image.entity.uri.value | striptags),
        'text': node.field_bann.value,
        'backgroundcolor': node.field_banner_color.value
      }
    } %}
   {% endblock header %}
 <div class="confirmation--content">
  {% block content %}
      <div class="confirmation--left">
        {{ content|without(
          'content_moderation_control',
          'field_confirmation_sidebar',
          'field_banner_color',
          'field_banner_image',
          'field_bann'
        ) }}
      </div>

      {% if content.field_confirmation_sidebar|render|striptags %}
            {{ content.field_confirmation_sidebar }}
      {% endif %}
  </div>
  {% endblock content %}
