<article{{ attributes.addClass(classes) }}>
  {% include '@theme/hero-banner-color.twig' with {
    'banner': {
      'title': node.label,
      'label': 'Part of <a href="@url">@parent</a>'|t({'@parent': node.field_parent_department.entity.label(), '@url': path('entity.node.canonical', {node: node.field_parent_department.entity.id() })})
    }
  } %}
</article>

