{% set description = node.get('field_description').getValue()[0]['value'] %}
{% if content.field_image['#items'] %}
  {% set image = content.field_image %}
{% endif %}
{% include "@molecules/06-headers/01-content-head.twig" with {
  "title": node.getTitle(),
  "description": description,
  "image": image
} %}

<div class="sfgov-container--full">
    {{ drupal_view('services', 'block_1') }}
    {{ drupal_view('departments', 'block_2') }}
</div>
