{% embed 'node--full.html.twig' %}
  {% block content %}
    <div class="sfgov-container--full">
      {{ drupal_view('services', 'block_1') }}
      {{ drupal_view('departments', 'block_2') }}
    </div>
  {% endblock content %}
{% endembed  %}

