{% extends 'node.html.twig' %}

{% block title %}
{% endblock title %}

{% block body %}
  <div class="event--teaser--body">
    <h2{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
    {{ content }}
  </div>
{% endblock body %}
