<article{{ attributes.addClass(classes) }}>
  {% include '@theme/hero-banner-color.twig' with {
    'banner': {
      'title': node.label,
      'text': content.field_description|render
    }
  } %}
  <div class="basic--content">
    <div class="clearfix">
      {% if content.field_sidebar|render|striptags != '' %}
        <div class="basic--right">
          {% include "@theme/sidebar.twig" with {
            "side": "right",
            "content": content.field_sidebar
          } %}
        </div>
      {% endif %}

      <div class="basic--left">
        {{ content.field_content }}
      </div>
    </div>

    <div class="sfgov-container--content-bottom">
      {{ content.field_content_bottom }}
    </div>
  </div>
</article>
