<div class="department-search-result">
  {% if url %}
    <h4>
      <a class="title-url" href="{{ url }}">{{ node.label }}</a>
    </h4>
  {% else %}
    <h4>
      {{ node.label }}
    </h4>
  {% endif %}
  <div class="body">
    {{ node.field_description.value }}
  </div>
</div>
