{% embed 'node--full.html.twig' %}
  {% set services_exclude = service_section_ids | join('+') %}

  {% set parent_topics_view = drupal_view('topics', 'block_topic_parents')|render %}
  {% set label = parent_topics_view|striptags|trim ? parent_topics_view : null %}
  {% set page_design = content.field_page_design['#items'].getValue() ? content.field_page_design['#items'].getValue()[0].value : null %}

  {% block header %}
    {{ title_prefix }}
    {% include '@theme/hero-banner-default.twig' with {
      'banner': {
        'title': node.label,
        'text': node.field_description.value,
        'label': label
      }
    } %}
    {{ title_suffix }}
  {% endblock header %}

  {% block content %}
    {% if content.field_content_top|render %}
      <div class="sfgov-full-bleed card-container">
        <div class="sfgov-section-container">
          {{ content.field_content_top }}
        </div>
      </div>
    {% endif %}

    {% if page_design == 2 %}
      {% include 'node--topic--full-template-2.html.twig' %}
    {% elseif page_design == 3 %}
      {% include 'node--topic--full-template-3.html.twig' %}
    {% else %}
      {% include 'node--topic--full-template-1.html.twig' %}
    {% endif %}
  {% endblock content %}

{% endembed  %}
