{% extends 'node.html.twig' %}
{% block node %}
  <a class="sfgov-topic-card" href="{{ url }}">
    <p class="title">{{ node.label }}</p>
    <div class="description">
      {{ content.field_description.0 }}
    </div>
  </a>
{% endblock node %}