{% extends 'node.html.twig' %}
{% block node %}
  <a class="sfgov-topic-card" href="{{ url }}">
    <p class="title">
      {{ node.label }}
    </p>
    <div class="description">
      {{ node.field_description.value }}
    </div>
  </a>
{% endblock node %}
