<div class="department-search-result">
  {% if url %}
    <h4>
      <a class="title-url" href="{{ url }}">{{ label }}</a>
    </h4>
  {% else %}
    <h4>{{ label }}</h4>
  {% endif %}
  <div class="body">{{ content.field_description }}</div>
</div>
