{% extends 'node.html.twig' %}

{% block node %}
  <a href="{{ url }}"{{ attributes.addClass(classes)|without('id', 'role') }}>
    <p class="title">{{ node.label }}</p>
    {{ content }}
  </a>
{% endblock node %}
