{% extends 'node.html.twig' %}
{% block node %}
  {% block title %}
  {% endblock title %}

  {% block body %}
    <div class="sfgov-container-item">
      <a class="sfgov-topic-card">
        <h3 class="title">{{ node.label }}</h3>
        <p class="description">
          {{ content.field_description.0 }}
        </p>
      </a>
    </div>
  {% endblock body %}
{% endblock node %}