<div class="transaction-card">
  <div class="transaction-card-container">
    <h4 class="transaction-card__title">
      {% if url %}
        <a href="{{ url }}" class="transaction-card--link">{{ label }}</a>
      {% else %}
        {{ label }}
      {% endif %}
    </h4>
    <div class="transaction-card__body">{{ node.field_description.value }}</div>
  </div>
</div>
