{% extends 'node--full.html.twig' %}

  {% block header %}
    {{ title_prefix }}
    {% include '@theme/hero-banner-color.twig' with {
      'banner': {
        'label': content.field_news_type,
        'title': node.label,
        'text': content.field_description|render
      }
    } %}
    {{ title_suffix }}
  {% endblock header %}

  {% block content %}
    <div class="step-by-step-content">
      {{ content | without('field_description') }}
    </div> 
  {% endblock content %}