
 <div class="confirmation--content">
  {% block content %}
      <div class="confirmation--left">
        {{ content|without(
          'field_confirmation_sidebar'
        ) }}
      </div>

      {% if content.field_confirmation_sidebar|render|striptags %}
        <div class="confirmation--right">
          {{ content.field_confirmation_sidebar }}
        </div>
      {% endif %}
  </div>
  {% endblock content %}
