<article{{ attributes.addClass(classes) }}>
  {% include '@theme/hero-banner-color.twig' with {
    'banner': {
      'title': node.label,
      'text': content.field_description|render
    }
  } %}
  <div class="basic--content">
    <div class="basic--left">
      {{ content.field_content }}
    </div>

    {% if content.field_sidebar|render|striptags != '' %}
      <div class="basic--right">
        {% include "@organisms/04-containers/01-sidebar.twig" with {
          "side": "right",
          "content": content.field_sidebar
        } %}
      </div>
    {% endif %}
  </div>
  {% if content.field_content_bottom is not empty %}
    <div class="sfgov-container--content-bottom">
      {{ content.field_content_bottom }}
    </div>
  {% endif %}
</article>
