 {% block header %}
    {% include '@theme/hero-banner-with-image.twig' with {
      'banner': {
        'image': file_url(node.field_banner_image.entity.uri.value | striptags),
        'text': node.field_bann.value
      }
    } %}
  {% endblock header %}
 <div class="confirmation--content">
  {% block content %}
      <div class="confirmation--left">
        {{ content|without(
          'field_confirmation_sidebar'
        ) }}
      </div>

      {% if content.field_confirmation_sidebar|render|striptags %}
        <div class="confirmation--right">
         <div class="confirmation--right-content">
            {{ content.field_confirmation_sidebar }}
          </div>
        </div>
      {% endif %}
  </div>
  {% endblock content %}
