{% extends 'node.html.twig' %}

{% block node %}
  <a href="{{ url }}"{{ attributes.addClass(classes)|without('id', 'role') }}>
    <h5>{{ node.label }}</h5>
    {{ content }}
  </a>
{% endblock node %}
