{% set description = node.get('field_description').getValue()[0]['value'] %}
{% if content.field_image['#items'] %}
  {% set image = content.field_image %}
{% endif %}
{% include "@molecules/06-headers/01-content-head.twig" with {
  "title": node.getTitle(),
  "description": description,
  "image": image
} %}
<div class="sfgov-container--full sfgov-container--right-sidebar">
  <div class="sfgov-container--content-left">
    <h2 class="sfgov-header-section no-margin big-padding">{{ "Services"|t }}</h2>
    {{ drupal_view('services', 'block_2') }}
    {{ content|without('field_description', 'field_image', 'field_url', 'field_address', 'field_phone_numbers') }}
  </div>
  {% include "@organisms/04-containers/01-sidebar.twig" with {
    "side": "right",
    "title": "Contact"|t,
    "content": [
      content.field_url,
      content.field_address,
      content.field_phone_numbers
    ]
  } %}
</div>
