<div class="sfgov-alpha-banner">
  <div class="sfgov-alpha-banner__container usa-nav-container source-sans-pro">
    <span class="sfgov-alpha-banner__content">
      {{ alpha_banner_message|striptags('<a>')|raw }}
    </span>
  </div>
</div>
