.sfgov-alpha-banner {
  //todo: add this color to color palette.
  background: #323A45;
  padding: 11px 0;
  .sfgov-alpha-banner__container {
    padding: 0;
  }
  .sfgov-alpha-banner__content {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    a {
      color: #fff;
      font-weight: bold;
    }
  }
}
