// This stylesheet is for styles you want to include only when displaying demo
// styles for grids, animations, color swatches, etc.
// These styles will not be your production CSS.

@import 'components/00-design-tokens/colors';
@import 'components/00-design-tokens/functions';
@import 'components/00-design-tokens/typography-mixins';
@import 'components/00-design-tokens/breakpoints';


#sf-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 1em;
}

.display-1 {
  @include display-1;
}

.title-5 {
  @include title-5;
}

.big-description {
  @include big-description;
}

.small-text {
  @include small-text;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}


.sf-colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@mixin swatch-border {
  border: 1px solid rgba(#000,0.2);
  box-shadow: 0 1px 2px rgba(#000,0.1);
  margin: 0 1% 5%;
  @media screen and (min-width: 30rem) {
    margin-bottom: 2%;
  }
}

.sf-colors li {
  width: 100%;
  @include swatch-border;
  list-style: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @include rubik;
  @media screen and (min-width: 30rem) {
    width: 48%;
  }
  @media screen and (min-width: 45rem) {
    width: 31%;
  }
  @media screen and (min-width: 60rem) {
    width: 23%;
  }
}

.sf-swatch {
  display: block;
  height: 4em;
  box-shadow: inset 0 -1px 0 rgba(#000,0.1);
}

.sf-label {
  font-size: 90%;
  line-height: 1;
  padding: 1em;
  display: block;
}

.transaction-card {
  margin-bottom: 1.5em;
}

.sf-icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.sf-icon-item {
  text-align: center;
  @include swatch-border;
  padding: 1.5rem;

  img {
    height: 4rem;
  }

  p {
    margin: 0;
  }
}

.sf-inline * {
  display: inline-block;
}
