{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * @see template_preprocess_maintenance_page()
 * @see sfgovpl_preprocess_maintenance_page()
 */
#}
<div class="maintenance-page">
  {% if logo %}
    <header role="banner">
      {% include 'block--system-branding-block.html.twig' with { site_logo: logo } %}
    </header>
  {% endif %}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="main-content-container">
      {% if title %}
        <h1 class="maintenance-title">{{ title }}</h1>
      {% endif %}
      {% if maintenance_messages %}
        {% for code, message in maintenance_messages %}
          <div class="message message-{{ code }}">
            {% if not loop.first %}
             <hr>
            {% endif %}
            {{- message|raw -}}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </main>
</div>
