{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * @see template_preprocess_maintenance_page()
 * @see sfgovpl_preprocess_maintenance_page()
 */
#}
<div class="maintenance-page">
  {% if logo %}
    <header role="banner">
      {% include 'block--system-branding-block.html.twig' with { site_logo: logo } %}
    </header>
  {% endif %}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="main-content-container">

      {% if maintenance_messages.en %}
        <div class="message message--en">
          {{- maintenance_messages.en|raw -}}
        </div>
      {% endif %}

      {% if maintenance_messages.es %}
        <div class="message message--es">
          {{- maintenance_messages.es|raw -}}
        </div>
      {% endif %}

      {% if maintenance_messages['zh-hant'] %}
        <div class="message message--zh-hant sfgov-translate-lang-zh-TW">
          {{- maintenance_messages['zh-hant']|raw -}}
        </div>
      {% endif %}

      {% if maintenance_messages.fil %}
        <div class="message message--fil">
          {{- maintenance_messages.fil|raw -}}
        </div>
      {% endif %}

    </div>
  </main>
</div>
