{% extends 'page.html.twig' %}

{% block page_content %}
  <div class="region-fourofour">
    {{ page.fourofour }}
  </div>
  <div class="region-fourofour-footer">
  {{ page.fourofour_footer }}
  </div>
{% endblock page_content %}
