{% extends 'page.html.twig' %}

{% block page_content %}
  <div class="region-fourofour">
    <img src="/themes/custom/sfgovpl/src/img/404.png">
    <div class="region-fourofour-contain">
      {{ page.fourofour }}
    </div>
  </div>
  <div class="region-fourofour-footer">
  {{ page.fourofour_footer }}
  </div>
{% endblock page_content %}
