{% extends 'page.html.twig' %}

{% block page_content_top %}
  <span class="hero-banner--border"><span class="hero-banner--border-contain"></span></span>
{% endblock %}

{% block page_content %}
  <div class="sfgov-page-container">
    {{ page.content }}
  </div>
{% endblock page_content %}
