{% extends 'page.html.twig' %}

{% block page_content %}
  <div class="region-fourofour-footer">
    <div class="access-denied-message">
      <div class="access-denied-header">
        <h1>{{ 'This page is not available'|t }}</h1>
      </div>
      <div class="access-denied-text">
        <p>{{ 'You can try searching or <a href="@home">go to the home page</a>.<br /> If you need help, <a href="https://sf311.org/" target="_blank">call 311</a>.'|t({ '@home': path('<front>') }) }}</p>
      </div>
      <p>{{ 'If you are a content publisher, log in to access this page.'|t }}</p>
    </div>
  </div>
{% endblock page_content %}
